In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/동아리_스터디_대외활동/기상청 공모전/data/0807_data.csv')
df.head()

       date  day    area    min_min  max_max
0  20130101    1  강원 -21.900000      4.0
1  20130101    1   경기 -20.799999      0.0
2  20130101    1  경남 -12.000000      6.0
3  20130101    1  경북 -19.900000      4.0
4  20130101    1   광주  -9.900000      4.0

In [ ]:
df_date_day = df.copy()
df_date_day['date_day'] = df['date'] + df['day'] - 1
df_date_day

           date  day    area    min_min  max_max  date_day
0      20130101    1  강원 -21.900000      4.0  20130101
1      20130101    1   경기 -20.799999      0.0  20130101
2      20130101    1  경남 -12.000000      6.0  20130101
3      20130101    1  경북 -19.900000      4.0  20130101
4      20130101    1   광주  -9.900000      4.0  20130101
...         ...  ...     ...        ...      ...       ...
24663  20161201   31  전남  -5.200000     12.0  20161231
24664  20161201   31  전북 -11.000000     10.0  20161231
24665  20161201   31    제주   1.900000     14.3  20161231
24666  20161201   31  충남 -11.000000     10.0  20161231
24667  20161201   31  충북 -14.000000      9.2  20161231

[24668 rows x 6 columns]

In [ ]:
df_date_day.sample(10)

           date  day    area    min_min  max_max  date_day
6454   20140101   15  울산  -4.000000      7.7  20140115
22947  20160901   21  전북  10.000000     26.0  20160921
18539  20160101    6   서울  -7.000000      2.0  20160106
2362   20130501   19  충북   6.000000     24.0  20130519
6776   20140201    3   세종 -12.000000      2.4  20140203
8578   20140501   20   세종  11.700000     27.1  20140520
21083  20160601    4  경남  13.000000     26.0  20160604
19531  20160301    4    제주  10.700000     22.0  20160304
1126   20130301    8   광주   5.000000     24.0  20130308
2449   20130501   25   경기  16.799999     31.0  20130525

In [ ]:
df_date_day['date_day'] = df_date_day['date_day'].astype('string')

In [ ]:
df_date_day[['date_day']].sample(10)

       date_day
17880  20151128
154    20130110
12730  20150119
22592  20160831
17165  20151017
19557  20160306
17053  20151011
6030   20131221
369    20130122
6586   20140123

In [ ]:
df_date_day.sample(10)

           date  day    area  min_min  max_max  date_day
5987   20131201   19  경남     -7.2      9.0  20131219
1584   20130401    4  경북      0.0     24.0  20130404
20582  20160501    5  인천      9.2     25.5  20160505
19132  20160201   10   대전     -2.9     13.7  20160210
3278   20130701   12    제주     25.0     31.4  20130712
4399   20130901   16  전북      9.0     30.0  20130916
5786   20131201    7    대구     -6.4     13.0  20131207
16499  20150901    8   서울     16.0     29.0  20150908
6653   20140101   27    대구     -3.7     11.2  20140127
23562  20161001   27  충북      6.0     20.0  20161027

In [ ]:
df['area'].value_counts()

강원    1452
세종     1451
충남    1451
제주      1451
전북    1451
전남    1451
인천    1451
울산    1451
서울     1451
경기     1451
부산     1451
대전     1451
대구      1451
광주     1451
경북    1451
경남    1451
충북    1451
Name: area, dtype: int64

In [ ]:
d = df_date_day.dropna(axis=0)

In [ ]:
d.isna().sum()

date        0
day         0
area        0
min_min     0
max_max     0
date_day    0
dtype: int64

In [ ]:
d['date_day'] = pd.to_datetime(d['date_day'], format='%Y%m%d', errors='raise')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
d.drop(['date', 'day'], 1, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
d.columns

Index(['area', 'min_min', 'max_max', 'date_day'], dtype='object')

In [ ]:
d.columns = ['area', '최저기온','최고기온', 'date']

In [ ]:
d.columns

Index(['area', '최저기온', '최고기온', 'date'], dtype='object')

In [ ]:
d.head()

     area       최저기온  최고기온       date
0  강원 -21.900000   4.0 2013-01-01
1   경기 -20.799999   0.0 2013-01-01
2  경남 -12.000000   6.0 2013-01-01
3  경북 -19.900000   4.0 2013-01-01
4   광주  -9.900000   4.0 2013-01-01

In [ ]:
final_df = d.set_index(['date', 'area'])

In [ ]:
final_df

                        최저기온  최고기온
date       area
2013-01-01 강원 -21.900000   4.0
           경기  -20.799999   0.0
           경남 -12.000000   6.0
           경북 -19.900000   4.0
           광주   -9.900000   4.0
...                      ...   ...
2016-12-31 전남  -5.200000  12.0
           전북 -11.000000  10.0
           제주     1.900000  14.3
           충남 -11.000000  10.0
           충북 -14.000000   9.2

[24667 rows x 2 columns]

In [ ]:
final_df.to_csv('최고최저기온_예보데이터_2016포함.csv')

In [ ]:
pd.read_csv('최고최저기온_예보데이터_2016포함.csv')

             date    area       최저기온  최고기온
0      2013-01-01  강원 -21.900000   4.0
1      2013-01-01   경기 -20.799999   0.0
2      2013-01-01  경남 -12.000000   6.0
3      2013-01-01  경북 -19.900000   4.0
4      2013-01-01   광주  -9.900000   4.0
...           ...     ...        ...   ...
24662  2016-12-31  전남  -5.200000  12.0
24663  2016-12-31  전북 -11.000000  10.0
24664  2016-12-31    제주   1.900000  14.3
24665  2016-12-31  충남 -11.000000  10.0
24666  2016-12-31  충북 -14.000000   9.2

[24667 rows x 4 columns]

In [ ]:
df = final_df.copy()

In [ ]:
df = df.reset_index()

In [ ]:
df.columns

Index(['date', 'area', '최저기온', '최고기온'], dtype='object')

In [ ]:
a = pd.pivot_table(df, index='area', values='최고기온', aggfunc='count')
a

        최고기온
area
강원  1451
경기   1451
경남  1451
경북  1451
광주   1451
대구    1451
대전   1451
부산   1451
서울   1451
세종   1451
울산  1451
인천  1451
전남  1451
전북  1451
제주    1451
충남  1451
충북  1451