In [1]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [2]:
import glob

In [3]:
import pandas as pd
import numpy as np

In [4]:
kw2013_pre_pro = glob.glob(os.path.join("2013/충북", "*_강수형태_201301_201312.csv"))

In [5]:
kw2013_pre_pro

['2013/충북/보은읍_강수형태_201301_201312.csv',
 '2013/충북/용두동_강수형태_201301_201312.csv',
 '2013/충북/추풍령면_강수형태_201301_201312.csv',
 '2013/충북/강내면_강수형태_201301_201312.csv',
 '2013/충북/교현.안림동_강수형태_201301_201312.csv',
 '2013/충북/복대1동_강수형태_201301_201312.csv']

In [6]:
print(len(kw2013_pre_pro))

6

In [7]:
j=1
for i in kw2013_pre_pro:
    globals()['kw2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [8]:
kw2013_pre_pro_1

       format: day  hour forecast value  location:73_103 Start : 20130101
0                1  0200       +4                                3.000000
1                1  0200       +7                                0.000000
2                1  0200      +10                                0.000000
3                1  0200      +13                                0.000000
4                1  0200      +16                                3.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                                0.000000
96379           31  2300      +43                                0.000000
96380           31  2300      +46                                0.000000
96381           31  2300      +49                                0.000000
96382           31  2300      +52                                0.000000

[96383 rows x 4 columns]

In [9]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96383 entries, 0 to 96382
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              96383 non-null  object
 1   hour                                      96361 non-null  object
 2   forecast                                  96361 non-null  object
 3   value  location:73_103 Start : 20130101   96361 non-null  object
dtypes: object(4)
memory usage: 2.9+ MB

In [10]:
kw2013_pre_pro_1.rename(columns={kw2013_pre_pro_1.columns[0]: 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [11]:
kw2013_pre_pro_1["date"] = kw2013_pre_pro_1["date"].str.replace(" ", "")

In [12]:
for i in range(len(kw2013_pre_pro_1["date"])):
    if len(kw2013_pre_pro_1["date"][i]) == 1:
        kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

In [13]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1['date'] == 'Start:20130201') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130301') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130401') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130501') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130601') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130701') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130801') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130901') |
                           (kw2013_pre_pro_1['date'] == 'Start:20131001') |
                           (kw2013_pre_pro_1['date'] == 'Start:20131101') |
                           (kw2013_pre_pro_1['date'] == 'Start:20131201')])

                 date hour forecast pre_pro_mean
4092   Start:20130201  NaN      NaN          NaN
7789   Start:20130301  NaN      NaN          NaN
11882  Start:20130401  NaN      NaN          NaN
15843  Start:20130501  NaN      NaN          NaN
19936  Start:20130601  NaN      NaN          NaN
23897  Start:20130701  NaN      NaN          NaN
27990  Start:20130801  NaN      NaN          NaN
32083  Start:20130901  NaN      NaN          NaN
36044  Start:20131001  NaN      NaN          NaN
40137  Start:20131101  NaN      NaN          NaN
44098  Start:20131201  NaN      NaN          NaN
52284  Start:20130201  NaN      NaN          NaN
55981  Start:20130301  NaN      NaN          NaN
60074  Start:20130401  NaN      NaN          NaN
64035  Start:20130501  NaN      NaN          NaN
68128  Start:20130601  NaN      NaN          NaN
72089  Start:20130701  NaN      NaN          NaN
76182  Start:20130801  NaN      NaN          NaN
80275  Start:20130901  NaN      NaN          NaN
84236  Start:20131001  NaN      NaN          NaN
88329  Start:20131101  NaN      NaN          NaN
92290  Start:20131201  NaN      NaN          NaN

In [14]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.loc[:52283]

In [15]:
kw2013_pre_pro_1.loc[:4091]["date"] = "201301" + kw2013_pre_pro_1.loc[:4091]["date"]
kw2013_pre_pro_1.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_1.loc[4093:7788]["date"]
kw2013_pre_pro_1.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_1.loc[7790:11881]["date"]
kw2013_pre_pro_1.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_1.loc[11883:15842]["date"]
kw2013_pre_pro_1.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_1.loc[15844:19935]["date"]
kw2013_pre_pro_1.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_1.loc[19937:23896]["date"]
kw2013_pre_pro_1.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_1.loc[23898:27989]["date"]
kw2013_pre_pro_1.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_1.loc[27991:32082]["date"]
kw2013_pre_pro_1.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_1.loc[32084:36043]["date"]
kw2013_pre_pro_1.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_1.loc[36045:40136]["date"]
kw2013_pre_pro_1.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_1.loc[40138:44097]["date"]
#kw2013_pre_pro_1.loc[44099:]["date"] = "201312" + kw2013_pre_pro_1.loc[44099:]["date"]
kw2013_pre_pro_1.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_1.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[:4091]["date"] = "201301" + kw2013_pre_pro_1.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_1.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_1.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_1.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_1.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_1.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_1.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_1.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_1.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_1.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_1.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/659142922.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_1.loc[44099:52283]["date"]

In [16]:
#kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [17]:
kw2013_pre_pro_1["date"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name: date, Length: 365, dtype: int64

In [18]:
#kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== 4.0]
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== '+4']
kw2013_pre_pro_1_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    3.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    0.000000
49  20130101  1100       +4    3.000000
66  20130101  1400       +4    3.000000

In [19]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1176009402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [20]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [21]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20130101        1.1250
1    20130102        0.0000
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.0000
361  20131228        0.1875
362  20131229        0.0000
363  20131230        0.0000
364  20131231        0.2500

[365 rows x 2 columns]

In [22]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20130101        1.1250
1    20130102        0.0000
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.0000
361  20131228        0.1875
362  20131229        0.0000
363  20131230        0.0000
364  20131231        0.2500

[365 rows x 2 columns]

In [23]:
kw2013_pre_pro_2

       format: day  hour forecast value  location:81_118 Start : 20130101
0                1  0200       +4                                3.000000
1                1  0200       +7                                0.000000
2                1  0200      +10                                3.000000
3                1  0200      +13                                3.000000
4                1  0200      +16                                3.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                                0.000000
96379           31  2300      +43                                0.000000
96380           31  2300      +46                                0.000000
96381           31  2300      +49                                0.000000
96382           31  2300      +52                                0.000000

[96383 rows x 4 columns]

In [24]:
kw2013_pre_pro_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96383 entries, 0 to 96382
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              96383 non-null  object
 1   hour                                      96361 non-null  object
 2   forecast                                  96361 non-null  object
 3   value  location:81_118 Start : 20130101   96361 non-null  object
dtypes: object(4)
memory usage: 2.9+ MB

In [25]:
kw2013_pre_pro_2.rename(columns={kw2013_pre_pro_2.columns[0]: 'date', kw2013_pre_pro_2.columns[3]: 'pre_pro_mean'}, inplace=True)

In [26]:
kw2013_pre_pro_2["date"] = kw2013_pre_pro_2["date"].str.replace(" ", "")

In [27]:
for i in range(len(kw2013_pre_pro_2["date"])):
    if len(kw2013_pre_pro_2["date"][i]) == 1:
        kw2013_pre_pro_2["date"][i] = "0" + kw2013_pre_pro_2["date"][i]

In [28]:
print(kw2013_pre_pro_2.loc[(kw2013_pre_pro_2['date'] == 'Start:20130201') |
                           (kw2013_pre_pro_2['date'] == 'Start:20130301') |
                           (kw2013_pre_pro_2['date'] == 'Start:20130401') |
                           (kw2013_pre_pro_2['date'] == 'Start:20130501') |
                           (kw2013_pre_pro_2['date'] == 'Start:20130601') |
                           (kw2013_pre_pro_2['date'] == 'Start:20130701') |
                           (kw2013_pre_pro_2['date'] == 'Start:20130801') |
                           (kw2013_pre_pro_2['date'] == 'Start:20130901') |
                           (kw2013_pre_pro_2['date'] == 'Start:20131001') |
                           (kw2013_pre_pro_2['date'] == 'Start:20131101') |
                           (kw2013_pre_pro_2['date'] == 'Start:20131201')])

                 date hour forecast pre_pro_mean
4092   Start:20130201  NaN      NaN          NaN
7789   Start:20130301  NaN      NaN          NaN
11882  Start:20130401  NaN      NaN          NaN
15843  Start:20130501  NaN      NaN          NaN
19936  Start:20130601  NaN      NaN          NaN
23897  Start:20130701  NaN      NaN          NaN
27990  Start:20130801  NaN      NaN          NaN
32083  Start:20130901  NaN      NaN          NaN
36044  Start:20131001  NaN      NaN          NaN
40137  Start:20131101  NaN      NaN          NaN
44098  Start:20131201  NaN      NaN          NaN
52284  Start:20130201  NaN      NaN          NaN
55981  Start:20130301  NaN      NaN          NaN
60074  Start:20130401  NaN      NaN          NaN
64035  Start:20130501  NaN      NaN          NaN
68128  Start:20130601  NaN      NaN          NaN
72089  Start:20130701  NaN      NaN          NaN
76182  Start:20130801  NaN      NaN          NaN
80275  Start:20130901  NaN      NaN          NaN
84236  Start:20131001  NaN      NaN          NaN
88329  Start:20131101  NaN      NaN          NaN
92290  Start:20131201  NaN      NaN          NaN

In [29]:
kw2013_pre_pro_2 = kw2013_pre_pro_2.loc[:52283]

In [30]:
kw2013_pre_pro_2.loc[:4091]["date"] = "201301" + kw2013_pre_pro_2.loc[:4091]["date"]
kw2013_pre_pro_2.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_2.loc[4093:7788]["date"]
kw2013_pre_pro_2.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_2.loc[7790:11881]["date"]
kw2013_pre_pro_2.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_2.loc[11883:15842]["date"]
kw2013_pre_pro_2.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_2.loc[15844:19935]["date"]
kw2013_pre_pro_2.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_2.loc[19937:23896]["date"]
kw2013_pre_pro_2.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_2.loc[23898:27989]["date"]
kw2013_pre_pro_2.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_2.loc[27991:32082]["date"]
kw2013_pre_pro_2.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_2.loc[32084:36043]["date"]
kw2013_pre_pro_2.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_2.loc[36045:40136]["date"]
kw2013_pre_pro_2.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_2.loc[40138:44097]["date"]
#kw2013_pre_pro_2.loc[44099:]["date"] = "201312" + kw2013_pre_pro_2.loc[44099:]["date"]
kw2013_pre_pro_2.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_2.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[:4091]["date"] = "201301" + kw2013_pre_pro_2.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_2.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_2.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_2.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_2.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_2.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_2.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_2.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_2.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_2.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_2.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2384676255.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_2.loc[44099:52283]["date"]

In [31]:
#kw2013_pre_pro_2 = kw2013_pre_pro_2.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
kw2013_pre_pro_2 = kw2013_pre_pro_2.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [32]:
kw2013_pre_pro_2["date"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name: date, Length: 365, dtype: int64

In [33]:
#kw2013_pre_pro_2_fore4 = kw2013_pre_pro_2[kw2013_pre_pro_2['forecast']== 4.0]
kw2013_pre_pro_2_fore4 = kw2013_pre_pro_2[kw2013_pre_pro_2['forecast']== '+4']
kw2013_pre_pro_2_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    3.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    3.000000
49  20130101  1100       +4    3.000000
66  20130101  1400       +4    3.000000

In [34]:
kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3384769755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

In [35]:
kw2013_pre_pro_2_final = pd.DataFrame(kw2013_pre_pro_2_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_2_fore4['date']).mean())

In [36]:
kw2013_pre_pro_2_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_2_final

         date  pre_pro_mean
0    20130101        1.5000
1    20130102        0.0000
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.0000
361  20131228        0.0000
362  20131229        0.1875
363  20131230        0.0000
364  20131231        0.1875

[365 rows x 2 columns]

In [37]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_2_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20130101        1.1250
1    20130102        0.0000
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
725  20131227        0.0000
726  20131228        0.0000
727  20131229        0.1875
728  20131230        0.0000
729  20131231        0.1875

[730 rows x 2 columns]

In [38]:
kw2013_pre_pro_3

       format: day  hour forecast value  location:78_98 Start : 20130101
0                1  0200       +4                               3.000000
1                1  0200       +7                               0.000000
2                1  0200      +10                               0.000000
3                1  0200      +13                               0.000000
4                1  0200      +16                               3.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                               0.000000
96379           31  2300      +43                               0.000000
96380           31  2300      +46                               0.000000
96381           31  2300      +49                               0.000000
96382           31  2300      +52                               0.000000

[96383 rows x 4 columns]

In [39]:
kw2013_pre_pro_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96383 entries, 0 to 96382
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0    format: day                             96383 non-null  object
 1   hour                                     96361 non-null  object
 2   forecast                                 96361 non-null  object
 3   value  location:78_98 Start : 20130101   96361 non-null  object
dtypes: object(4)
memory usage: 2.9+ MB

In [40]:
kw2013_pre_pro_3.rename(columns={kw2013_pre_pro_3.columns[0]: 'date', kw2013_pre_pro_3.columns[3]: 'pre_pro_mean'}, inplace=True)

In [41]:
kw2013_pre_pro_3["date"] = kw2013_pre_pro_3["date"].str.replace(" ", "")

In [42]:
for i in range(len(kw2013_pre_pro_3["date"])):
    if len(kw2013_pre_pro_3["date"][i]) == 1:
        kw2013_pre_pro_3["date"][i] = "0" + kw2013_pre_pro_3["date"][i]

In [43]:
print(kw2013_pre_pro_3.loc[(kw2013_pre_pro_3['date'] == 'Start:20130201') |
                           (kw2013_pre_pro_3['date'] == 'Start:20130301') |
                           (kw2013_pre_pro_3['date'] == 'Start:20130401') |
                           (kw2013_pre_pro_3['date'] == 'Start:20130501') |
                           (kw2013_pre_pro_3['date'] == 'Start:20130601') |
                           (kw2013_pre_pro_3['date'] == 'Start:20130701') |
                           (kw2013_pre_pro_3['date'] == 'Start:20130801') |
                           (kw2013_pre_pro_3['date'] == 'Start:20130901') |
                           (kw2013_pre_pro_3['date'] == 'Start:20131001') |
                           (kw2013_pre_pro_3['date'] == 'Start:20131101') |
                           (kw2013_pre_pro_3['date'] == 'Start:20131201')])

                 date hour forecast pre_pro_mean
4092   Start:20130201  NaN      NaN          NaN
7789   Start:20130301  NaN      NaN          NaN
11882  Start:20130401  NaN      NaN          NaN
15843  Start:20130501  NaN      NaN          NaN
19936  Start:20130601  NaN      NaN          NaN
23897  Start:20130701  NaN      NaN          NaN
27990  Start:20130801  NaN      NaN          NaN
32083  Start:20130901  NaN      NaN          NaN
36044  Start:20131001  NaN      NaN          NaN
40137  Start:20131101  NaN      NaN          NaN
44098  Start:20131201  NaN      NaN          NaN
52284  Start:20130201  NaN      NaN          NaN
55981  Start:20130301  NaN      NaN          NaN
60074  Start:20130401  NaN      NaN          NaN
64035  Start:20130501  NaN      NaN          NaN
68128  Start:20130601  NaN      NaN          NaN
72089  Start:20130701  NaN      NaN          NaN
76182  Start:20130801  NaN      NaN          NaN
80275  Start:20130901  NaN      NaN          NaN
84236  Start:20131001  NaN      NaN          NaN
88329  Start:20131101  NaN      NaN          NaN
92290  Start:20131201  NaN      NaN          NaN

In [44]:
kw2013_pre_pro_3 = kw2013_pre_pro_3.loc[:52283]

In [45]:
kw2013_pre_pro_3.loc[:4091]["date"] = "201301" + kw2013_pre_pro_3.loc[:4091]["date"]
kw2013_pre_pro_3.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_3.loc[4093:7788]["date"]
kw2013_pre_pro_3.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_3.loc[7790:11881]["date"]
kw2013_pre_pro_3.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_3.loc[11883:15842]["date"]
kw2013_pre_pro_3.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_3.loc[15844:19935]["date"]
kw2013_pre_pro_3.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_3.loc[19937:23896]["date"]
kw2013_pre_pro_3.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_3.loc[23898:27989]["date"]
kw2013_pre_pro_3.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_3.loc[27991:32082]["date"]
kw2013_pre_pro_3.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_3.loc[32084:36043]["date"]
kw2013_pre_pro_3.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_3.loc[36045:40136]["date"]
kw2013_pre_pro_3.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_3.loc[40138:44097]["date"]
#kw2013_pre_pro_3.loc[44099:]["date"] = "201312" + kw2013_pre_pro_3.loc[44099:]["date"]
kw2013_pre_pro_3.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_3.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[:4091]["date"] = "201301" + kw2013_pre_pro_3.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_3.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_3.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_3.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_3.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_3.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_3.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_3.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_3.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_3.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_3.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2647570895.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_3.loc[44099:52283]["date"]

In [46]:
#kw2013_pre_pro_3 = kw2013_pre_pro_3.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
kw2013_pre_pro_3 = kw2013_pre_pro_3.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [47]:
kw2013_pre_pro_3["date"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name: date, Length: 365, dtype: int64

In [48]:
kw2013_pre_pro_3_fore4 = kw2013_pre_pro_3[kw2013_pre_pro_3['forecast']== '+4']
#kw2013_pre_pro_3_fore4 = kw2013_pre_pro_3[kw2013_pre_pro_3['forecast']== 4.0]
kw2013_pre_pro_3_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    3.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    0.000000
49  20130101  1100       +4    3.000000
66  20130101  1400       +4    3.000000

In [49]:
kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1438880415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

In [50]:
kw2013_pre_pro_3_final = pd.DataFrame(kw2013_pre_pro_3_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_3_fore4['date']).mean())

In [51]:
kw2013_pre_pro_3_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_3_final

         date  pre_pro_mean
0    20130101         1.125
1    20130102         0.000
2    20130103         0.000
3    20130104         0.000
4    20130105         0.000
..        ...           ...
360  20131227         0.000
361  20131228         0.000
362  20131229         0.000
363  20131230         0.000
364  20131231         0.250

[365 rows x 2 columns]

In [52]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_3_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101         1.125
1     20130102         0.000
2     20130103         0.000
3     20130104         0.000
4     20130105         0.000
...        ...           ...
1090  20131227         0.000
1091  20131228         0.000
1092  20131229         0.000
1093  20131230         0.000
1094  20131231         0.250

[1095 rows x 2 columns]

In [53]:
kw2013_pre_pro_4

       format: day  hour forecast value  location:67_106 Start : 20130101
0                1  0200       +4                                3.000000
1                1  0200       +7                                0.000000
2                1  0200      +10                                0.000000
3                1  0200      +13                                3.000000
4                1  0200      +16                                3.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                                0.000000
96379           31  2300      +43                                0.000000
96380           31  2300      +46                                0.000000
96381           31  2300      +49                                0.000000
96382           31  2300      +52                                0.000000

[96383 rows x 4 columns]

In [54]:
kw2013_pre_pro_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96383 entries, 0 to 96382
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              96383 non-null  object
 1   hour                                      96361 non-null  object
 2   forecast                                  96361 non-null  object
 3   value  location:67_106 Start : 20130101   96361 non-null  object
dtypes: object(4)
memory usage: 2.9+ MB

In [55]:
kw2013_pre_pro_4.rename(columns={kw2013_pre_pro_4.columns[0]: 'date', kw2013_pre_pro_4.columns[3]: 'pre_pro_mean'}, inplace=True)

In [56]:
kw2013_pre_pro_4["date"] = kw2013_pre_pro_4["date"].str.replace(" ", "")

In [57]:
for i in range(len(kw2013_pre_pro_4["date"])):
    if len(kw2013_pre_pro_4["date"][i]) == 1:
        kw2013_pre_pro_4["date"][i] = "0" + kw2013_pre_pro_4["date"][i]

In [58]:
kw2013_pre_pro_4 = kw2013_pre_pro_4.loc[:52283]

In [59]:
kw2013_pre_pro_4.loc[:4091]["date"] = "201301" + kw2013_pre_pro_4.loc[:4091]["date"]
kw2013_pre_pro_4.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_4.loc[4093:7788]["date"]
kw2013_pre_pro_4.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_4.loc[7790:11881]["date"]
kw2013_pre_pro_4.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_4.loc[11883:15842]["date"]
kw2013_pre_pro_4.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_4.loc[15844:19935]["date"]
kw2013_pre_pro_4.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_4.loc[19937:23896]["date"]
kw2013_pre_pro_4.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_4.loc[23898:27989]["date"]
kw2013_pre_pro_4.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_4.loc[27991:32082]["date"]
kw2013_pre_pro_4.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_4.loc[32084:36043]["date"]
kw2013_pre_pro_4.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_4.loc[36045:40136]["date"]
kw2013_pre_pro_4.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_4.loc[40138:44097]["date"]
#kw2013_pre_pro_4.loc[44099:]["date"] = "201312" + kw2013_pre_pro_4.loc[44099:]["date"]
kw2013_pre_pro_4.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_4.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[:4091]["date"] = "201301" + kw2013_pre_pro_4.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_4.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_4.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_4.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_4.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_4.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_4.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_4.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_4.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_4.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_4.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2419302241.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_4.loc[44099:52283]["date"]

In [60]:
#kw2013_pre_pro_4 = kw2013_pre_pro_4.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
kw2013_pre_pro_4 = kw2013_pre_pro_4.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [61]:
kw2013_pre_pro_4["date"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name: date, Length: 365, dtype: int64

In [62]:
kw2013_pre_pro_4_fore4 = kw2013_pre_pro_4[kw2013_pre_pro_4['forecast']== '+4']
#kw2013_pre_pro_4_fore4 = kw2013_pre_pro_4[kw2013_pre_pro_4['forecast']== 4.0]
kw2013_pre_pro_4_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    3.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    0.000000
49  20130101  1100       +4    3.000000
66  20130101  1400       +4    3.000000

In [63]:
kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/2818318161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

In [64]:
kw2013_pre_pro_4_final = pd.DataFrame(kw2013_pre_pro_4_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_4_fore4['date']).mean())

In [65]:
kw2013_pre_pro_4_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_4_final

         date  pre_pro_mean
0    20130101        1.1250
1    20130102        0.0000
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.0000
361  20131228        0.1875
362  20131229        0.0000
363  20131230        0.0000
364  20131231        0.2500

[365 rows x 2 columns]

In [66]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_4_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        1.1250
1     20130102        0.0000
2     20130103        0.0000
3     20130104        0.0000
4     20130105        0.0000
...        ...           ...
1455  20131227        0.0000
1456  20131228        0.1875
1457  20131229        0.0000
1458  20131230        0.0000
1459  20131231        0.2500

[1460 rows x 2 columns]

In [67]:
kw2013_pre_pro_5

       format: day  hour forecast value  location:77_114 Start : 20130101
0                1  0200       +4                                3.000000
1                1  0200       +7                                0.000000
2                1  0200      +10                                3.000000
3                1  0200      +13                                3.000000
4                1  0200      +16                                3.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                                0.000000
96379           31  2300      +43                                0.000000
96380           31  2300      +46                                0.000000
96381           31  2300      +49                                0.000000
96382           31  2300      +52                                0.000000

[96383 rows x 4 columns]

In [68]:
kw2013_pre_pro_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96383 entries, 0 to 96382
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              96383 non-null  object
 1   hour                                      96361 non-null  object
 2   forecast                                  96361 non-null  object
 3   value  location:77_114 Start : 20130101   96361 non-null  object
dtypes: object(4)
memory usage: 2.9+ MB

In [69]:
kw2013_pre_pro_5.rename(columns={kw2013_pre_pro_5.columns[0]: 'date', kw2013_pre_pro_5.columns[3]: 'pre_pro_mean'}, inplace=True)

In [70]:
kw2013_pre_pro_5["date"] = kw2013_pre_pro_5["date"].str.replace(" ", "")

In [71]:
for i in range(len(kw2013_pre_pro_5["date"])):
    if len(kw2013_pre_pro_5["date"][i]) == 1:
        kw2013_pre_pro_5["date"][i] = "0" + kw2013_pre_pro_5["date"][i]

In [72]:
kw2013_pre_pro_5 = kw2013_pre_pro_5.loc[:52283]

In [73]:
kw2013_pre_pro_5.loc[:4091]["date"] = "201301" + kw2013_pre_pro_5.loc[:4091]["date"]
kw2013_pre_pro_5.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_5.loc[4093:7788]["date"]
kw2013_pre_pro_5.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_5.loc[7790:11881]["date"]
kw2013_pre_pro_5.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_5.loc[11883:15842]["date"]
kw2013_pre_pro_5.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_5.loc[15844:19935]["date"]
kw2013_pre_pro_5.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_5.loc[19937:23896]["date"]
kw2013_pre_pro_5.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_5.loc[23898:27989]["date"]
kw2013_pre_pro_5.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_5.loc[27991:32082]["date"]
kw2013_pre_pro_5.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_5.loc[32084:36043]["date"]
kw2013_pre_pro_5.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_5.loc[36045:40136]["date"]
kw2013_pre_pro_5.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_5.loc[40138:44097]["date"]
#kw2013_pre_pro_5.loc[44099:]["date"] = "201312" + kw2013_pre_pro_5.loc[44099:]["date"]
kw2013_pre_pro_5.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_5.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[:4091]["date"] = "201301" + kw2013_pre_pro_5.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_5.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_5.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_5.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_5.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_5.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_5.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_5.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_5.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_5.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_5.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/1401842826.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_5.loc[44099:52283]["date"]

In [74]:
#kw2013_pre_pro_5 = kw2013_pre_pro_5.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
kw2013_pre_pro_5 = kw2013_pre_pro_5.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [75]:
kw2013_pre_pro_5["date"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name: date, Length: 365, dtype: int64

In [76]:
#kw2013_pre_pro_5_fore4 = kw2013_pre_pro_5[kw2013_pre_pro_5['forecast']== 4.0]
kw2013_pre_pro_5_fore4 = kw2013_pre_pro_5[kw2013_pre_pro_5['forecast']== '+4']
kw2013_pre_pro_5_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    3.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    0.000000
49  20130101  1100       +4    3.000000
66  20130101  1400       +4    3.000000

In [77]:
kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/234172559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

In [78]:
kw2013_pre_pro_5_final = pd.DataFrame(kw2013_pre_pro_5_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_5_fore4['date']).mean())

In [79]:
kw2013_pre_pro_5_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_5_final

         date  pre_pro_mean
0    20130101        1.1250
1    20130102        0.0000
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.0000
361  20131228        0.0000
362  20131229        0.1875
363  20131230        0.0000
364  20131231        0.1875

[365 rows x 2 columns]

In [80]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_5_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        1.1250
1     20130102        0.0000
2     20130103        0.0000
3     20130104        0.0000
4     20130105        0.0000
...        ...           ...
1820  20131227        0.0000
1821  20131228        0.0000
1822  20131229        0.1875
1823  20131230        0.0000
1824  20131231        0.1875

[1825 rows x 2 columns]

In [81]:
kw2013_pre_pro_6

       format: day  hour forecast value  location:68_107 Start : 20130101
0                1  0200       +4                                3.000000
1                1  0200       +7                                0.000000
2                1  0200      +10                                0.000000
3                1  0200      +13                                3.000000
4                1  0200      +16                                3.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                                0.000000
96379           31  2300      +43                                0.000000
96380           31  2300      +46                                0.000000
96381           31  2300      +49                                0.000000
96382           31  2300      +52                                0.000000

[96383 rows x 4 columns]

In [82]:
kw2013_pre_pro_6.rename(columns={kw2013_pre_pro_6.columns[0]: 'date', kw2013_pre_pro_6.columns[3]: 'pre_pro_mean'}, inplace=True)

In [83]:
kw2013_pre_pro_6["date"] = kw2013_pre_pro_6["date"].str.replace(" ", "")

In [84]:
for i in range(len(kw2013_pre_pro_6["date"])):
    if len(kw2013_pre_pro_6["date"][i]) == 1:
        kw2013_pre_pro_6["date"][i] = "0" + kw2013_pre_pro_6["date"][i]

In [85]:
kw2013_pre_pro_6 = kw2013_pre_pro_6.loc[:52283]

In [86]:
kw2013_pre_pro_6.loc[:4091]["date"] = "201301" + kw2013_pre_pro_6.loc[:4091]["date"]
kw2013_pre_pro_6.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_6.loc[4093:7788]["date"]
kw2013_pre_pro_6.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_6.loc[7790:11881]["date"]
kw2013_pre_pro_6.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_6.loc[11883:15842]["date"]
kw2013_pre_pro_6.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_6.loc[15844:19935]["date"]
kw2013_pre_pro_6.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_6.loc[19937:23896]["date"]
kw2013_pre_pro_6.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_6.loc[23898:27989]["date"]
kw2013_pre_pro_6.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_6.loc[27991:32082]["date"]
kw2013_pre_pro_6.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_6.loc[32084:36043]["date"]
kw2013_pre_pro_6.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_6.loc[36045:40136]["date"]
kw2013_pre_pro_6.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_6.loc[40138:44097]["date"]
#kw2013_pre_pro_6.loc[44099:]["date"] = "201312" + kw2013_pre_pro_6.loc[44099:]["date"]
kw2013_pre_pro_6.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_6.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[:4091]["date"] = "201301" + kw2013_pre_pro_6.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_6.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_6.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_6.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_6.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_6.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_6.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_6.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_6.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_6.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_6.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/3873314405.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_6.loc[44099:52283]["date"]

In [87]:
#kw2013_pre_pro_6 = kw2013_pre_pro_6.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
kw2013_pre_pro_6 = kw2013_pre_pro_6.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [88]:
kw2013_pre_pro_6_fore4 = kw2013_pre_pro_6[kw2013_pre_pro_6['forecast']== '+4']
#kw2013_pre_pro_6_fore4 = kw2013_pre_pro_6[kw2013_pre_pro_6['forecast']== 4.0]
kw2013_pre_pro_6_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    3.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    0.000000
49  20130101  1100       +4    3.000000
66  20130101  1400       +4    3.000000

In [89]:
kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21799/256559909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

In [90]:
kw2013_pre_pro_6_final = pd.DataFrame(kw2013_pre_pro_6_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_6_fore4['date']).mean())

In [91]:
kw2013_pre_pro_6_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_6_final

         date  pre_pro_mean
0    20130101        1.1250
1    20130102        0.0000
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.0000
361  20131228        0.1875
362  20131229        0.0000
363  20131230        0.0000
364  20131231        0.2500

[365 rows x 2 columns]

In [92]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_6_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        1.1250
1     20130102        0.0000
2     20130103        0.0000
3     20130104        0.0000
4     20130105        0.0000
...        ...           ...
2185  20131227        0.0000
2186  20131228        0.1875
2187  20131229        0.0000
2188  20131230        0.0000
2189  20131231        0.2500

[2190 rows x 2 columns]

In [93]:
kw2013_pre_pro_7

NameError: name 'kw2013_pre_pro_7' is not defined

In [96]:
kw2013_pre_pro_7.rename(columns={kw2013_pre_pro_7.columns[0]: 'date', kw2013_pre_pro_7.columns[3]: 'pre_pro_mean'}, inplace=True)

In [97]:
kw2013_pre_pro_7["date"] = kw2013_pre_pro_7["date"].str.replace(" ", "")

In [98]:
for i in range(len(kw2013_pre_pro_7["date"])):
    if len(kw2013_pre_pro_7["date"][i]) == 1:
        kw2013_pre_pro_7["date"][i] = "0" + kw2013_pre_pro_7["date"][i]

In [99]:
kw2013_pre_pro_7 = kw2013_pre_pro_7.loc[:52283]

In [100]:
kw2013_pre_pro_7.loc[:4091]["date"] = "201301" + kw2013_pre_pro_7.loc[:4091]["date"]
kw2013_pre_pro_7.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_7.loc[4093:7788]["date"]
kw2013_pre_pro_7.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_7.loc[7790:11881]["date"]
kw2013_pre_pro_7.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_7.loc[11883:15842]["date"]
kw2013_pre_pro_7.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_7.loc[15844:19935]["date"]
kw2013_pre_pro_7.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_7.loc[19937:23896]["date"]
kw2013_pre_pro_7.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_7.loc[23898:27989]["date"]
kw2013_pre_pro_7.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_7.loc[27991:32082]["date"]
kw2013_pre_pro_7.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_7.loc[32084:36043]["date"]
kw2013_pre_pro_7.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_7.loc[36045:40136]["date"]
kw2013_pre_pro_7.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_7.loc[40138:44097]["date"]
#kw2013_pre_pro_7.loc[44099:]["date"] = "201312" + kw2013_pre_pro_7.loc[44099:]["date"]
kw2013_pre_pro_7.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_7.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[:4091]["date"] = "201301" + kw2013_pre_pro_7.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_7.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_7.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_7.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_7.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_7.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_7.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_7.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_7.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_7.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_7.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2502923717.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_7.loc[44099:52283]["date"]

In [101]:
#kw2013_pre_pro_7 = kw2013_pre_pro_7.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
kw2013_pre_pro_7 = kw2013_pre_pro_7.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [102]:
kw2013_pre_pro_7["date"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name: date, Length: 365, dtype: int64

In [103]:
#kw2013_pre_pro_7_fore4 = kw2013_pre_pro_7[kw2013_pre_pro_7['forecast']== 4.0]
kw2013_pre_pro_7_fore4 = kw2013_pre_pro_7[kw2013_pre_pro_7['forecast']== '+4']
kw2013_pre_pro_7_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    0.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    0.000000
49  20130101  1100       +4    3.000000
66  20130101  1400       +4    3.000000

In [104]:
kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/2263411607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

In [105]:
kw2013_pre_pro_7_final = pd.DataFrame(kw2013_pre_pro_7_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_7_fore4['date']).mean())

In [106]:
kw2013_pre_pro_7_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_7_final

         date  pre_pro_mean
0    20130101        0.7500
1    20130102        0.0000
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.1875
361  20131228        0.3750
362  20131229        0.0000
363  20131230        0.0000
364  20131231        0.2500

[365 rows x 2 columns]

In [107]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_7_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        0.7500
1     20130102        2.2500
2     20130103        0.0000
3     20130104        0.0000
4     20130105        0.0000
...        ...           ...
2550  20131227        0.1875
2551  20131228        0.3750
2552  20131229        0.0000
2553  20131230        0.0000
2554  20131231        0.2500

[2555 rows x 2 columns]

In [108]:
kw2013_pre_pro_8

       format: day  hour forecast value  location:63_79 Start : 20130101
0                1  0200       +4                               0.000000
1                1  0200       +7                               0.000000
2                1  0200      +10                               0.000000
3                1  0200      +13                               0.000000
4                1  0200      +16                               3.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                               0.000000
96379           31  2300      +43                               0.000000
96380           31  2300      +46                               0.000000
96381           31  2300      +49                               0.000000
96382           31  2300      +52                               0.000000

[96383 rows x 4 columns]

In [109]:
kw2013_pre_pro_8.rename(columns={kw2013_pre_pro_8.columns[0]: 'date', kw2013_pre_pro_8.columns[3]: 'pre_pro_mean'}, inplace=True)

In [110]:
kw2013_pre_pro_8["date"] = kw2013_pre_pro_8["date"].str.replace(" ", "")

In [111]:
for i in range(len(kw2013_pre_pro_8["date"])):
    if len(kw2013_pre_pro_8["date"][i]) == 1:
        kw2013_pre_pro_8["date"][i] = "0" + kw2013_pre_pro_8["date"][i]

In [112]:
kw2013_pre_pro_8 = kw2013_pre_pro_8.loc[:52283]

In [113]:
kw2013_pre_pro_8.loc[:4091]["date"] = "201301" + kw2013_pre_pro_8.loc[:4091]["date"]
kw2013_pre_pro_8.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_8.loc[4093:7788]["date"]
kw2013_pre_pro_8.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_8.loc[7790:11881]["date"]
kw2013_pre_pro_8.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_8.loc[11883:15842]["date"]
kw2013_pre_pro_8.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_8.loc[15844:19935]["date"]
kw2013_pre_pro_8.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_8.loc[19937:23896]["date"]
kw2013_pre_pro_8.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_8.loc[23898:27989]["date"]
kw2013_pre_pro_8.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_8.loc[27991:32082]["date"]
kw2013_pre_pro_8.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_8.loc[32084:36043]["date"]
kw2013_pre_pro_8.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_8.loc[36045:40136]["date"]
kw2013_pre_pro_8.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_8.loc[40138:44097]["date"]
#kw2013_pre_pro_8.loc[44099:]["date"] = "201312" + kw2013_pre_pro_8.loc[44099:]["date"]
kw2013_pre_pro_8.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_8.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[:4091]["date"] = "201301" + kw2013_pre_pro_8.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_8.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_8.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_8.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_8.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_8.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_8.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_8.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_8.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_8.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_8.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/1856611962.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_8.loc[44099:52283]["date"]

In [114]:
#kw2013_pre_pro_8 = kw2013_pre_pro_8.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
kw2013_pre_pro_8 = kw2013_pre_pro_8.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [115]:
kw2013_pre_pro_8["date"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name: date, Length: 365, dtype: int64

In [116]:
#kw2013_pre_pro_8_fore4 = kw2013_pre_pro_8[kw2013_pre_pro_8['forecast']== 4.0]
kw2013_pre_pro_8_fore4 = kw2013_pre_pro_8[kw2013_pre_pro_8['forecast']== '+4']
kw2013_pre_pro_8_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    0.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    0.000000
49  20130101  1100       +4    3.000000
66  20130101  1400       +4    3.000000

In [117]:
kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/3039181282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

In [118]:
kw2013_pre_pro_8_final = pd.DataFrame(kw2013_pre_pro_8_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_8_fore4['date']).mean())

In [119]:
kw2013_pre_pro_8_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_8_final

         date  pre_pro_mean
0    20130101         0.750
1    20130102         0.000
2    20130103         0.000
3    20130104         0.000
4    20130105         0.000
..        ...           ...
360  20131227         0.375
361  20131228         0.750
362  20131229         0.000
363  20131230         0.000
364  20131231         0.250

[365 rows x 2 columns]

In [120]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_8_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101         0.750
1     20130102         2.250
2     20130103         0.000
3     20130104         0.000
4     20130105         0.000
...        ...           ...
2915  20131227         0.375
2916  20131228         0.750
2917  20131229         0.000
2918  20131230         0.000
2919  20131231         0.250

[2920 rows x 2 columns]

In [121]:
kw2013_pre_pro_9

       format: day  hour forecast value  location:54_78 Start : 20130101
0                1  0200       +4                               0.000000
1                1  0200       +7                               0.000000
2                1  0200      +10                               0.000000
3                1  0200      +13                               0.000000
4                1  0200      +16                               3.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                               0.000000
96379           31  2300      +43                               0.000000
96380           31  2300      +46                               0.000000
96381           31  2300      +49                               0.000000
96382           31  2300      +52                               0.000000

[96383 rows x 4 columns]

In [122]:
kw2013_pre_pro_9.rename(columns={kw2013_pre_pro_9.columns[0]: 'date', kw2013_pre_pro_9.columns[3]: 'pre_pro_mean'}, inplace=True)

In [123]:
kw2013_pre_pro_9["date"] = kw2013_pre_pro_9["date"].str.replace(" ", "")

In [124]:
for i in range(len(kw2013_pre_pro_9["date"])):
    if len(kw2013_pre_pro_9["date"][i]) == 1:
        kw2013_pre_pro_9["date"][i] = "0" + kw2013_pre_pro_9["date"][i]

In [125]:
kw2013_pre_pro_9 = kw2013_pre_pro_9.loc[:52283]

In [126]:
kw2013_pre_pro_9.loc[:4091]["date"] = "201301" + kw2013_pre_pro_9.loc[:4091]["date"]
kw2013_pre_pro_9.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_9.loc[4093:7788]["date"]
kw2013_pre_pro_9.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_9.loc[7790:11881]["date"]
kw2013_pre_pro_9.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_9.loc[11883:15842]["date"]
kw2013_pre_pro_9.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_9.loc[15844:19935]["date"]
kw2013_pre_pro_9.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_9.loc[19937:23896]["date"]
kw2013_pre_pro_9.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_9.loc[23898:27989]["date"]
kw2013_pre_pro_9.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_9.loc[27991:32082]["date"]
kw2013_pre_pro_9.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_9.loc[32084:36043]["date"]
kw2013_pre_pro_9.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_9.loc[36045:40136]["date"]
kw2013_pre_pro_9.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_9.loc[40138:44097]["date"]
#kw2013_pre_pro_9.loc[44099:]["date"] = "201312" + kw2013_pre_pro_9.loc[44099:]["date"]
kw2013_pre_pro_9.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_9.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[:4091]["date"] = "201301" + kw2013_pre_pro_9.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_9.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_9.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_9.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_9.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_9.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_9.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_9.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_9.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_9.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_9.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/722931175.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_9.loc[44099:52283]["date"]

In [127]:
#kw2013_pre_pro_9 = kw2013_pre_pro_9.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
kw2013_pre_pro_9 = kw2013_pre_pro_9.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [128]:
kw2013_pre_pro_9["date"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name: date, Length: 365, dtype: int64

In [129]:
#kw2013_pre_pro_9_fore4 = kw2013_pre_pro_9[kw2013_pre_pro_9['forecast']== 4.0]
kw2013_pre_pro_9_fore4 = kw2013_pre_pro_9[kw2013_pre_pro_9['forecast']== '+4']
kw2013_pre_pro_9_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    0.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    0.000000
49  20130101  1100       +4    3.000000
66  20130101  1400       +4    3.000000

In [130]:
kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/581260890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

In [131]:
kw2013_pre_pro_9_final = pd.DataFrame(kw2013_pre_pro_9_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_9_fore4['date']).mean())

In [132]:
kw2013_pre_pro_9_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_9_final

         date  pre_pro_mean
0    20130101        0.7500
1    20130102        2.2500
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.5625
361  20131228        1.1250
362  20131229        0.0000
363  20131230        0.0000
364  20131231        0.3125

[365 rows x 2 columns]

In [133]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_9_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        0.7500
1     20130102        2.2500
2     20130103        0.0000
3     20130104        0.0000
4     20130105        0.0000
...        ...           ...
3280  20131227        0.5625
3281  20131228        1.1250
3282  20131229        0.0000
3283  20131230        0.0000
3284  20131231        0.3125

[3285 rows x 2 columns]

In [134]:
kw2013_pre_pro_10

       format: day  hour forecast value  location:56_92 Start : 20130101
0                1  0200       +4                               0.000000
1                1  0200       +7                               0.000000
2                1  0200      +10                               0.000000
3                1  0200      +13                               3.000000
4                1  0200      +16                               3.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                               0.000000
96379           31  2300      +43                               0.000000
96380           31  2300      +46                               0.000000
96381           31  2300      +49                               0.000000
96382           31  2300      +52                               0.000000

[96383 rows x 4 columns]

In [135]:
kw2013_pre_pro_10.rename(columns={kw2013_pre_pro_10.columns[0]: 'date', kw2013_pre_pro_10.columns[3]: 'pre_pro_mean'}, inplace=True)

In [136]:
kw2013_pre_pro_10["date"] = kw2013_pre_pro_10["date"].str.replace(" ", "")

In [137]:
for i in range(len(kw2013_pre_pro_10["date"])):
    if len(kw2013_pre_pro_10["date"][i]) == 1:
        kw2013_pre_pro_10["date"][i] = "0" + kw2013_pre_pro_10["date"][i]

In [138]:
kw2013_pre_pro_10 = kw2013_pre_pro_10.loc[:52283]

In [139]:
kw2013_pre_pro_10.loc[:4091]["date"] = "201301" + kw2013_pre_pro_10.loc[:4091]["date"]
kw2013_pre_pro_10.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_10.loc[4093:7788]["date"]
kw2013_pre_pro_10.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_10.loc[7790:11881]["date"]
kw2013_pre_pro_10.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_10.loc[11883:15842]["date"]
kw2013_pre_pro_10.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_10.loc[15844:19935]["date"]
kw2013_pre_pro_10.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_10.loc[19937:23896]["date"]
kw2013_pre_pro_10.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_10.loc[23898:27989]["date"]
kw2013_pre_pro_10.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_10.loc[27991:32082]["date"]
kw2013_pre_pro_10.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_10.loc[32084:36043]["date"]
kw2013_pre_pro_10.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_10.loc[36045:40136]["date"]
kw2013_pre_pro_10.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_10.loc[40138:44097]["date"]
#kw2013_pre_pro_10.loc[44099:]["date"] = "201312" + kw2013_pre_pro_10.loc[44099:]["date"]
kw2013_pre_pro_10.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_10.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[:4091]["date"] = "201301" + kw2013_pre_pro_10.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_10.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_10.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_10.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_10.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_10.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_10.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_10.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_10.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_10.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_10.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/370687789.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_10.loc[44099:52283]["date"]

In [140]:
#kw2013_pre_pro_10 = kw2013_pre_pro_10.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
kw2013_pre_pro_10 = kw2013_pre_pro_10.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [141]:
kw2013_pre_pro_10["date"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name: date, Length: 365, dtype: int64

In [142]:
#kw2013_pre_pro_10_fore4 = kw2013_pre_pro_10[kw2013_pre_pro_10['forecast']== 4.0]
kw2013_pre_pro_10_fore4 = kw2013_pre_pro_10[kw2013_pre_pro_10['forecast']== '+4']
kw2013_pre_pro_10_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    0.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    0.000000
49  20130101  1100       +4    3.000000
66  20130101  1400       +4    3.000000

In [143]:
kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21685/4059861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

In [144]:
kw2013_pre_pro_10_final = pd.DataFrame(kw2013_pre_pro_10_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_10_fore4['date']).mean())

In [145]:
kw2013_pre_pro_10_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_10_final

         date  pre_pro_mean
0    20130101        0.7500
1    20130102        1.1250
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.5625
361  20131228        0.9375
362  20131229        0.0000
363  20131230        0.0000
364  20131231        0.2500

[365 rows x 2 columns]

In [146]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_10_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        0.7500
1     20130102        2.2500
2     20130103        0.0000
3     20130104        0.0000
4     20130105        0.0000
...        ...           ...
3645  20131227        0.5625
3646  20131228        0.9375
3647  20131229        0.0000
3648  20131230        0.0000
3649  20131231        0.2500

[3650 rows x 2 columns]

In [147]:
kw2013_pre_pro_11

NameError: name 'kw2013_pre_pro_11' is not defined

In [143]:
kw2013_pre_pro_11.rename(columns={kw2013_pre_pro_11.columns[0]: 'date', kw2013_pre_pro_11.columns[3]: 'pre_pro_mean'}, inplace=True)

In [144]:
kw2013_pre_pro_11["date"] = kw2013_pre_pro_11["date"].str.replace(" ", "")

In [145]:
for i in range(len(kw2013_pre_pro_11["date"])):
    if len(kw2013_pre_pro_11["date"][i]) == 1:
        kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/539509719.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

In [146]:
kw2013_pre_pro_11 = kw2013_pre_pro_11.loc[:52283]

In [146]:
kw2013_pre_pro_11.loc[:4091]["date"] = "201301" + kw2013_pre_pro_11.loc[:4091]["date"]
kw2013_pre_pro_11.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_11.loc[4093:7788]["date"]
kw2013_pre_pro_11.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_11.loc[7790:11881]["date"]
kw2013_pre_pro_11.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_11.loc[11883:15842]["date"]
kw2013_pre_pro_11.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_11.loc[15844:19935]["date"]
kw2013_pre_pro_11.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_11.loc[19937:23896]["date"]
kw2013_pre_pro_11.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_11.loc[23898:27989]["date"]
kw2013_pre_pro_11.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_11.loc[27991:32082]["date"]
kw2013_pre_pro_11.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_11.loc[32084:36043]["date"]
kw2013_pre_pro_11.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_11.loc[36045:40136]["date"]
kw2013_pre_pro_11.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_11.loc[40138:44097]["date"]
kw2013_pre_pro_11.loc[44099:]["date"] = "201312" + kw2013_pre_pro_11.loc[44099:]["date"]
#kw2013_pre_pro_11.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_11.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[:4091]["date"] = "201301" + kw2013_pre_pro_11.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_11.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_11.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_11.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_11.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_11.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_11.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_11.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_11.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_11.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_11.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1077015056.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[44099:]["date"] = "201312" + kw2013_pre_pro_11.loc[44099:]["date"]

In [147]:
kw2013_pre_pro_11 = kw2013_pre_pro_11.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
#kw2013_pre_pro_11 = kw2013_pre_pro_11.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [148]:
kw2013_pre_pro_11["date"].value_counts()

20130101    132
20130909    132
20130907    132
20130906    132
20130905    132
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20131231    132
Name: date, Length: 365, dtype: int64

In [149]:
kw2013_pre_pro_11_fore4 = kw2013_pre_pro_11[kw2013_pre_pro_11['forecast']== 4.0]
#kw2013_pre_pro_11_fore4 = kw2013_pre_pro_11[kw2013_pre_pro_11['forecast']== '+4']
kw2013_pre_pro_11_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20130101   200.0       4.0           0.0
16  20130101   500.0       4.0           0.0
31  20130101   800.0       4.0           0.0
49  20130101  1100.0       4.0           0.0
66  20130101  1400.0       4.0           0.0

In [150]:
kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1150492226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

In [151]:
kw2013_pre_pro_11_final = pd.DataFrame(kw2013_pre_pro_11_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_11_fore4['date']).mean())

In [152]:
kw2013_pre_pro_11_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_11_final

         date  pre_pro_mean
0    20130101         0.000
1    20130102         0.375
2    20130103         0.000
3    20130104         0.000
4    20130105         0.000
..        ...           ...
360  20131227         0.000
361  20131228         0.000
362  20131229         0.000
363  20131230         0.000
364  20131231         0.000

[365 rows x 2 columns]

In [153]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_11_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101           0.0
1     20130102           0.0
2     20130103           0.0
3     20130104           0.0
4     20130105           0.0
...        ...           ...
4010  20131227           0.0
4011  20131228           0.0
4012  20131229           0.0
4013  20131230           0.0
4014  20131231           0.0

[4015 rows x 2 columns]

In [154]:
kw2013_pre_pro_12

       format: day    hour  forecast  value  location:64_66 Start : 20130101
0                1   200.0       4.0                                      0.0
1                1   200.0       7.0                                      0.0
2                1   200.0      10.0                                      0.0
3                1   200.0      13.0                                      0.0
4                1   200.0      16.0                                      0.0
...            ...     ...       ...                                      ...
48186           31  2300.0      40.0                                      0.0
48187           31  2300.0      43.0                                      0.0
48188           31  2300.0      46.0                                      0.0
48189           31  2300.0      49.0                                      0.0
48190           31  2300.0      52.0                                      0.0

[48191 rows x 4 columns]

In [155]:
kw2013_pre_pro_12.rename(columns={kw2013_pre_pro_12.columns[0]: 'date', kw2013_pre_pro_12.columns[3]: 'pre_pro_mean'}, inplace=True)

In [156]:
kw2013_pre_pro_12["date"] = kw2013_pre_pro_12["date"].str.replace(" ", "")

In [157]:
for i in range(len(kw2013_pre_pro_12["date"])):
    if len(kw2013_pre_pro_12["date"][i]) == 1:
        kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1366203493.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

In [159]:
kw2013_pre_pro_12 = kw2013_pre_pro_12.loc[:52283]

In [158]:
kw2013_pre_pro_12.loc[:4091]["date"] = "201301" + kw2013_pre_pro_12.loc[:4091]["date"]
kw2013_pre_pro_12.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_12.loc[4093:7788]["date"]
kw2013_pre_pro_12.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_12.loc[7790:11881]["date"]
kw2013_pre_pro_12.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_12.loc[11883:15842]["date"]
kw2013_pre_pro_12.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_12.loc[15844:19935]["date"]
kw2013_pre_pro_12.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_12.loc[19937:23896]["date"]
kw2013_pre_pro_12.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_12.loc[23898:27989]["date"]
kw2013_pre_pro_12.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_12.loc[27991:32082]["date"]
kw2013_pre_pro_12.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_12.loc[32084:36043]["date"]
kw2013_pre_pro_12.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_12.loc[36045:40136]["date"]
kw2013_pre_pro_12.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_12.loc[40138:44097]["date"]
kw2013_pre_pro_12.loc[44099:]["date"] = "201312" + kw2013_pre_pro_12.loc[44099:]["date"]
#kw2013_pre_pro_12.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_12.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[:4091]["date"] = "201301" + kw2013_pre_pro_12.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_12.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_12.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_12.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_12.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_12.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_12.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_12.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_12.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_12.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_12.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/3133610940.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[44099:]["date"] = "201312" + kw2013_pre_pro_12.loc[44099:]["date"]

In [159]:
kw2013_pre_pro_12 = kw2013_pre_pro_12.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
#kw2013_pre_pro_12 = kw2013_pre_pro_12.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [160]:
kw2013_pre_pro_12["date"].value_counts()

20130101    132
20130909    132
20130907    132
20130906    132
20130905    132
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20131231    132
Name: date, Length: 365, dtype: int64

In [161]:
kw2013_pre_pro_12_fore4 = kw2013_pre_pro_12[kw2013_pre_pro_12['forecast']== 4.0]
#kw2013_pre_pro_12_fore4 = kw2013_pre_pro_12[kw2013_pre_pro_12['forecast']== '+4']
kw2013_pre_pro_12_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20130101   200.0       4.0           0.0
16  20130101   500.0       4.0           0.0
31  20130101   800.0       4.0           0.0
49  20130101  1100.0       4.0           0.0
66  20130101  1400.0       4.0           0.0

In [162]:
kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/2304688448.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

In [163]:
kw2013_pre_pro_12_final = pd.DataFrame(kw2013_pre_pro_12_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_12_fore4['date']).mean())

In [164]:
kw2013_pre_pro_12_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_12_final

         date  pre_pro_mean
0    20130101           0.0
1    20130102           0.0
2    20130103           0.0
3    20130104           0.0
4    20130105           0.0
..        ...           ...
360  20131227           0.0
361  20131228           0.0
362  20131229           0.0
363  20131230           0.0
364  20131231           0.0

[365 rows x 2 columns]

In [165]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_12_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101           0.0
1     20130102           0.0
2     20130103           0.0
3     20130104           0.0
4     20130105           0.0
...        ...           ...
4375  20131227           0.0
4376  20131228           0.0
4377  20131229           0.0
4378  20131230           0.0
4379  20131231           0.0

[4380 rows x 2 columns]

In [166]:
kw2013_pre_pro_13

       format: day    hour  forecast  value  location:66_62 Start : 20130101
0                1   200.0       4.0                                      0.0
1                1   200.0       7.0                                      0.0
2                1   200.0      10.0                                      0.0
3                1   200.0      13.0                                      0.0
4                1   200.0      16.0                                      0.0
...            ...     ...       ...                                      ...
48186           31  2300.0      40.0                                      0.0
48187           31  2300.0      43.0                                      0.0
48188           31  2300.0      46.0                                      0.0
48189           31  2300.0      49.0                                      0.0
48190           31  2300.0      52.0                                      0.0

[48191 rows x 4 columns]

In [167]:
kw2013_pre_pro_13.rename(columns={kw2013_pre_pro_13.columns[0]: 'date', kw2013_pre_pro_13.columns[3]: 'pre_pro_mean'}, inplace=True)

In [168]:
kw2013_pre_pro_13["date"] = kw2013_pre_pro_13["date"].str.replace(" ", "")

In [169]:
for i in range(len(kw2013_pre_pro_13["date"])):
    if len(kw2013_pre_pro_13["date"][i]) == 1:
        kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/129078978.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

In [173]:
kw2013_pre_pro_13 = kw2013_pre_pro_13.loc[:52283]

In [170]:
kw2013_pre_pro_13.loc[:4091]["date"] = "201301" + kw2013_pre_pro_13.loc[:4091]["date"]
kw2013_pre_pro_13.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_13.loc[4093:7788]["date"]
kw2013_pre_pro_13.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_13.loc[7790:11881]["date"]
kw2013_pre_pro_13.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_13.loc[11883:15842]["date"]
kw2013_pre_pro_13.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_13.loc[15844:19935]["date"]
kw2013_pre_pro_13.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_13.loc[19937:23896]["date"]
kw2013_pre_pro_13.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_13.loc[23898:27989]["date"]
kw2013_pre_pro_13.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_13.loc[27991:32082]["date"]
kw2013_pre_pro_13.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_13.loc[32084:36043]["date"]
kw2013_pre_pro_13.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_13.loc[36045:40136]["date"]
kw2013_pre_pro_13.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_13.loc[40138:44097]["date"]
kw2013_pre_pro_13.loc[44099:]["date"] = "201312" + kw2013_pre_pro_13.loc[44099:]["date"]
#kw2013_pre_pro_13.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_13.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[:4091]["date"] = "201301" + kw2013_pre_pro_13.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_13.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_13.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_13.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_13.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_13.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_13.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_13.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_13.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_13.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_13.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/1503948240.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[44099:]["date"] = "201312" + kw2013_pre_pro_13.loc[44099:]["date"]

In [171]:
kw2013_pre_pro_13 = kw2013_pre_pro_13.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
#kw2013_pre_pro_13 = kw2013_pre_pro_13.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [172]:
kw2013_pre_pro_13["date"].value_counts()

20130101    132
20130909    132
20130907    132
20130906    132
20130905    132
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20131231    132
Name: date, Length: 365, dtype: int64

In [173]:
kw2013_pre_pro_13_fore4 = kw2013_pre_pro_13[kw2013_pre_pro_13['forecast']== 4.0]
#kw2013_pre_pro_13_fore4 = kw2013_pre_pro_13[kw2013_pre_pro_13['forecast']== '+4']
kw2013_pre_pro_13_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20130101   200.0       4.0           0.0
16  20130101   500.0       4.0           0.0
31  20130101   800.0       4.0           0.0
49  20130101  1100.0       4.0           0.0
66  20130101  1400.0       4.0           0.0

In [174]:
kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21657/775032964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

In [175]:
kw2013_pre_pro_13_final = pd.DataFrame(kw2013_pre_pro_13_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_13_fore4['date']).mean())

In [176]:
kw2013_pre_pro_13_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_13_final

         date  pre_pro_mean
0    20130101           0.0
1    20130102           0.0
2    20130103           0.0
3    20130104           0.0
4    20130105           0.0
..        ...           ...
360  20131227           0.0
361  20131228           0.0
362  20131229           0.0
363  20131230           0.0
364  20131231           0.0

[365 rows x 2 columns]

In [177]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_13_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101           0.0
1     20130102           0.0
2     20130103           0.0
3     20130104           0.0
4     20130105           0.0
...        ...           ...
4740  20131227           0.0
4741  20131228           0.0
4742  20131229           0.0
4743  20131230           0.0
4744  20131231           0.0

[4745 rows x 2 columns]

In [178]:
kw2013_pre_pro_14

NameError: name 'kw2013_pre_pro_14' is not defined

In [181]:
kw2013_pre_pro_14.rename(columns={kw2013_pre_pro_14.columns[0]: 'date', kw2013_pre_pro_14.columns[3]: 'pre_pro_mean'}, inplace=True)

In [182]:
kw2013_pre_pro_14["date"] = kw2013_pre_pro_14["date"].str.replace(" ", "")

In [183]:
for i in range(len(kw2013_pre_pro_14["date"])):
    if len(kw2013_pre_pro_14["date"][i]) == 1:
        kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/713368573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

In [187]:
kw2013_pre_pro_14 = kw2013_pre_pro_14.loc[:52283]

In [184]:
kw2013_pre_pro_14.loc[:4091]["date"] = "201301" + kw2013_pre_pro_14.loc[:4091]["date"]
kw2013_pre_pro_14.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_14.loc[4093:7788]["date"]
kw2013_pre_pro_14.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_14.loc[7790:11881]["date"]
kw2013_pre_pro_14.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_14.loc[11883:15842]["date"]
kw2013_pre_pro_14.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_14.loc[15844:19935]["date"]
kw2013_pre_pro_14.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_14.loc[19937:23896]["date"]
kw2013_pre_pro_14.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_14.loc[23898:27989]["date"]
kw2013_pre_pro_14.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_14.loc[27991:32082]["date"]
kw2013_pre_pro_14.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_14.loc[32084:36043]["date"]
kw2013_pre_pro_14.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_14.loc[36045:40136]["date"]
kw2013_pre_pro_14.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_14.loc[40138:44097]["date"]
kw2013_pre_pro_14.loc[44099:]["date"] = "201312" + kw2013_pre_pro_14.loc[44099:]["date"]
#kw2013_pre_pro_14.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_14.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[:4091]["date"] = "201301" + kw2013_pre_pro_14.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_14.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_14.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_14.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_14.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_14.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_14.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_14.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_14.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_14.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_14.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4087324505.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[44099:]["date"] = "201312" + kw2013_pre_pro_14.loc[44099:]["date"]

In [185]:
kw2013_pre_pro_14 = kw2013_pre_pro_14.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
#kw2013_pre_pro_14 = kw2013_pre_pro_14.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [186]:
kw2013_pre_pro_14["date"].value_counts()

20130101    132
20130909    132
20130907    132
20130906    132
20130905    132
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20131231    132
Name: date, Length: 365, dtype: int64

In [187]:
kw2013_pre_pro_14_fore4 = kw2013_pre_pro_14[kw2013_pre_pro_14['forecast']== 4.0]
#kw2013_pre_pro_14_fore4 = kw2013_pre_pro_14[kw2013_pre_pro_14['forecast']== '+4']
kw2013_pre_pro_14_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20130101   200.0       4.0           3.0
16  20130101   500.0       4.0           0.0
31  20130101   800.0       4.0           0.0
49  20130101  1100.0       4.0           3.0
66  20130101  1400.0       4.0           3.0

In [188]:
kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/4057269680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

In [189]:
kw2013_pre_pro_14_final = pd.DataFrame(kw2013_pre_pro_14_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_14_fore4['date']).mean())

In [190]:
kw2013_pre_pro_14_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_14_final

         date  pre_pro_mean
0    20130101         1.125
1    20130102         0.000
2    20130103         0.000
3    20130104         0.000
4    20130105         0.000
..        ...           ...
360  20131227         0.000
361  20131228         0.000
362  20131229         0.000
363  20131230         0.000
364  20131231         0.000

[365 rows x 2 columns]

In [191]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_14_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101         1.125
1     20130102         0.000
2     20130103         0.000
3     20130104         0.000
4     20130105         0.000
...        ...           ...
5105  20131227         0.000
5106  20131228         0.000
5107  20131229         0.000
5108  20131230         0.000
5109  20131231         0.000

[5110 rows x 2 columns]

In [192]:
kw2013_pre_pro_15

       format: day  hour forecast value  location:102_94 Start : 20130101
0                1  0200       +4                                0.000000
1                1  0200       +7                                0.000000
2                1  0200      +10                                0.000000
3                1  0200      +13                                0.000000
4                1  0200      +16                                0.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                                0.000000
96379           31  2300      +43                                0.000000
96380           31  2300      +46                                0.000000
96381           31  2300      +49                                0.000000
96382           31  2300      +52                                0.000000

[96383 rows x 4 columns]

In [193]:
kw2013_pre_pro_15.rename(columns={kw2013_pre_pro_15.columns[0]: 'date', kw2013_pre_pro_15.columns[3]: 'pre_pro_mean'}, inplace=True)

In [194]:
kw2013_pre_pro_15["date"] = kw2013_pre_pro_15["date"].str.replace(" ", "")

In [195]:
for i in range(len(kw2013_pre_pro_15["date"])):
    if len(kw2013_pre_pro_15["date"][i]) == 1:
        kw2013_pre_pro_15["date"][i] = "0" + kw2013_pre_pro_15["date"][i]

In [196]:
kw2013_pre_pro_15 = kw2013_pre_pro_15.loc[:52283]

In [197]:
kw2013_pre_pro_15.loc[:4091]["date"] = "201301" + kw2013_pre_pro_15.loc[:4091]["date"]
kw2013_pre_pro_15.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_15.loc[4093:7788]["date"]
kw2013_pre_pro_15.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_15.loc[7790:11881]["date"]
kw2013_pre_pro_15.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_15.loc[11883:15842]["date"]
kw2013_pre_pro_15.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_15.loc[15844:19935]["date"]
kw2013_pre_pro_15.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_15.loc[19937:23896]["date"]
kw2013_pre_pro_15.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_15.loc[23898:27989]["date"]
kw2013_pre_pro_15.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_15.loc[27991:32082]["date"]
kw2013_pre_pro_15.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_15.loc[32084:36043]["date"]
kw2013_pre_pro_15.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_15.loc[36045:40136]["date"]
kw2013_pre_pro_15.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_15.loc[40138:44097]["date"]
kw2013_pre_pro_15.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_15.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[:4091]["date"] = "201301" + kw2013_pre_pro_15.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_15.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_15.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_15.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_15.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_15.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_15.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_15.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_15.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_15.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_15.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1155319350.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_15.loc[44099:52283]["date"]

In [198]:
kw2013_pre_pro_15 = kw2013_pre_pro_15.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [199]:
kw2013_pre_pro_15["date"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name: date, Length: 365, dtype: int64

In [200]:
kw2013_pre_pro_15_fore4 = kw2013_pre_pro_15[kw2013_pre_pro_15['forecast']== '+4']
kw2013_pre_pro_15_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    0.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    0.000000
49  20130101  1100       +4    0.000000
66  20130101  1400       +4    0.000000

In [201]:
kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21479/1564039965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

In [202]:
kw2013_pre_pro_15_final = pd.DataFrame(kw2013_pre_pro_15_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_15_fore4['date']).mean())

In [203]:
kw2013_pre_pro_15_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_15_final

         date  pre_pro_mean
0    20130101        0.0000
1    20130102        0.0000
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.0000
361  20131228        0.0000
362  20131229        0.0000
363  20131230        0.0000
364  20131231        0.1875

[365 rows x 2 columns]

In [204]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_15_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        1.1250
1     20130102        0.0000
2     20130103        0.0000
3     20130104        0.0000
4     20130105        0.0000
...        ...           ...
5470  20131227        0.0000
5471  20131228        0.0000
5472  20131229        0.0000
5473  20131230        0.0000
5474  20131231        0.1875

[5475 rows x 2 columns]

In [93]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro['area'] = '충북'
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]
pre_pro

         date area  pre_pro_mean
0    20130101   충북      1.187500
1    20130102   충북      0.000000
2    20130103   충북      0.000000
3    20130104   충북      0.000000
4    20130105   충북      0.000000
..        ...  ...           ...
360  20131227   충북      0.000000
361  20131228   충북      0.093750
362  20131229   충북      0.062500
363  20131230   충북      0.000000
364  20131231   충북      0.229167

[365 rows x 3 columns]

In [94]:
pre_pro.to_csv('cb.csv', index=False)

In [95]:
num1 = pd.read_csv('gw.csv')
num2 = pd.read_csv('gg.csv')
num3 = pd.read_csv('gn.csv')
num4 = pd.read_csv('gb.csv')
num5 = pd.read_csv('gj.csv')
num6 = pd.read_csv('dg.csv')
num7 = pd.read_csv('dj.csv')
num8 = pd.read_csv('bs.csv')
num9 = pd.read_csv('su.csv')
num10 = pd.read_csv('sj.csv')
num11 = pd.read_csv('us.csv')
num12 = pd.read_csv('ic.csv')
num13 = pd.read_csv('jn.csv')
num14 = pd.read_csv('jb.csv')
num15 = pd.read_csv('jj.csv')
num16 = pd.read_csv('cn.csv')
num17 = pd.read_csv('cb.csv')

In [91]:
pre_pro_2014

NameError: name 'pre_pro_2014' is not defined

In [96]:
pre_pro_2014 = pd.DataFrame(num1)
pre_pro_2014

         date area  pre_pro_mean
0    20130101   강원      0.883929
1    20130102   강원      0.000000
2    20130103   강원      0.000000
3    20130104   강원      0.000000
4    20130105   강원      0.000000
..        ...  ...           ...
360  20131227   강원      0.000000
361  20131228   강원      0.000000
362  20131229   강원      0.066964
363  20131230   강원      0.000000
364  20131231   강원      0.214286

[365 rows x 3 columns]

In [97]:
pre_pro_2014 = pd.concat([pre_pro_2014, num2], axis = 0, ignore_index=True)
pre_pro_2014

         date area  pre_pro_mean
0    20130101   강원      0.883929
1    20130102   강원      0.000000
2    20130103   강원      0.000000
3    20130104   강원      0.000000
4    20130105   강원      0.000000
..        ...  ...           ...
725  20131227   경기      0.000000
726  20131228   경기      0.000000
727  20131229   경기      0.112500
728  20131230   경기      0.000000
729  20131231   경기      0.275000

[730 rows x 3 columns]

In [98]:
pre_pro_2014 = pd.concat([pre_pro_2014, num3], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
1090  20131227   경남      0.000000
1091  20131228   경남      0.000000
1092  20131229   경남      0.000000
1093  20131230   경남      0.000000
1094  20131231   경남      0.098214

[1095 rows x 3 columns]

In [99]:
pre_pro_2014 = pd.concat([pre_pro_2014, num4], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
1455  20131227   경북      0.200000
1456  20131228   경북      0.050000
1457  20131229   경북      0.000000
1458  20131230   경북      0.000000
1459  20131231   경북      0.062500

[1460 rows x 3 columns]

In [100]:
pre_pro_2014 = pd.concat([pre_pro_2014, num5], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
1820  20131227   광주      0.562500
1821  20131228   광주      1.125000
1822  20131229   광주      0.000000
1823  20131230   광주      0.000000
1824  20131231   광주      0.312500

[1825 rows x 3 columns]

In [101]:
pre_pro_2014 = pd.concat([pre_pro_2014, num6], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
2185  20131227   대구      0.000000
2186  20131228   대구      0.000000
2187  20131229   대구      0.000000
2188  20131230   대구      0.000000
2189  20131231   대구      0.250000

[2190 rows x 3 columns]

In [102]:
pre_pro_2014 = pd.concat([pre_pro_2014, num7], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
2550  20131227   대전      0.000000
2551  20131228   대전      0.187500
2552  20131229   대전      0.000000
2553  20131230   대전      0.000000
2554  20131231   대전      0.250000

[2555 rows x 3 columns]

In [103]:
pre_pro_2014 = pd.concat([pre_pro_2014, num8], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
2915  20131227   부산      0.000000
2916  20131228   부산      0.000000
2917  20131229   부산      0.000000
2918  20131230   부산      0.000000
2919  20131231   부산      0.187500

[2920 rows x 3 columns]

In [104]:
pre_pro_2014 = pd.concat([pre_pro_2014, num9], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
3280  20131227   서울      0.000000
3281  20131228   서울      0.000000
3282  20131229   서울      0.187500
3283  20131230   서울      0.000000
3284  20131231   서울      0.250000

[3285 rows x 3 columns]

In [105]:
pre_pro_2014 = pd.concat([pre_pro_2014, num10], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
3645  20131227   세종      0.000000
3646  20131228   세종      0.000000
3647  20131229   세종      0.000000
3648  20131230   세종      0.000000
3649  20131231   세종      0.250000

[3650 rows x 3 columns]

In [106]:
pre_pro_2014 = pd.concat([pre_pro_2014, num11], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
4010  20131227   울산      0.000000
4011  20131228   울산      0.000000
4012  20131229   울산      0.000000
4013  20131230   울산      0.000000
4014  20131231   울산      0.187500

[4015 rows x 3 columns]

In [107]:
pre_pro_2014 = pd.concat([pre_pro_2014, num12], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
4375  20131227   인천      0.046875
4376  20131228   인천      0.000000
4377  20131229   인천      0.046875
4378  20131230   인천      0.000000
4379  20131231   인천      0.250000

[4380 rows x 3 columns]

In [108]:
pre_pro_2014 = pd.concat([pre_pro_2014, num13], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
4740  20131227   전남      0.201923
4741  20131228   전남      0.620192
4742  20131229   전남      0.000000
4743  20131230   전남      0.000000
4744  20131231   전남      0.158654

[4745 rows x 3 columns]

In [109]:
pre_pro_2014 = pd.concat([pre_pro_2014, num14], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
5105  20131227   전북      0.412500
5106  20131228   전북      0.712500
5107  20131229   전북      0.000000
5108  20131230   전북      0.000000
5109  20131231   전북      0.256250

[5110 rows x 3 columns]

In [110]:
pre_pro_2014 = pd.concat([pre_pro_2014, num15], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
5470  20131227   제주      0.500000
5471  20131228   제주      0.562500
5472  20131229   제주      0.000000
5473  20131230   제주      0.000000
5474  20131231   제주      0.312500

[5475 rows x 3 columns]

In [111]:
pre_pro_2014 = pd.concat([pre_pro_2014, num16], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
5835  20131227   충남      0.093750
5836  20131228   충남      0.406250
5837  20131229   충남      0.000000
5838  20131230   충남      0.000000
5839  20131231   충남      0.250000

[5840 rows x 3 columns]

In [112]:
pre_pro_2014 = pd.concat([pre_pro_2014, num17], axis = 0, ignore_index=True)

In [113]:
pre_pro_2014

          date area  pre_pro_mean
0     20130101   강원      0.883929
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      0.000000
4     20130105   강원      0.000000
...        ...  ...           ...
6200  20131227   충북      0.000000
6201  20131228   충북      0.093750
6202  20131229   충북      0.062500
6203  20131230   충북      0.000000
6204  20131231   충북      0.229167

[6205 rows x 3 columns]

In [114]:
pre_pro_2014.rename(columns={'pre_pro_mean': 'pre_type_mean'}, inplace=True)

In [115]:
pre_pro_2014

          date area  pre_type_mean
0     20130101   강원       0.883929
1     20130102   강원       0.000000
2     20130103   강원       0.000000
3     20130104   강원       0.000000
4     20130105   강원       0.000000
...        ...  ...            ...
6200  20131227   충북       0.000000
6201  20131228   충북       0.093750
6202  20131229   충북       0.062500
6203  20131230   충북       0.000000
6204  20131231   충북       0.229167

[6205 rows x 3 columns]

In [116]:
pre_pro_2014.to_csv('pre_type_2013.csv', index=False)

In [126]:
num17

         date area  pre_pro_mean
0    20120101   충북      7.500000
1    20120102   충북     17.666667
2    20120103   충북     29.770833
3    20120104   충북      5.708333
4    20120105   충북     11.333333
..        ...  ...           ...
345  20121227   충북     33.958333
346  20121228   충북     24.166667
347  20121229   충북     47.708333
348  20121230   충북     10.416667
349  20121231   충북     31.250000

[350 rows x 3 columns]

In [117]:
y2012 = pd.read_csv('pre_type_2012.csv')
y2013 = pd.read_csv('pre_type_2013.csv')
y2014 = pd.read_csv('pre_type_2014.csv')
y2015 = pd.read_csv('pre_type_2015.csv')

In [118]:
final_pre_pro = pd.DataFrame(y2012)

In [119]:
final_pre_pro = pd.concat([final_pre_pro, y2013], axis = 0, ignore_index=True)

In [120]:
final_pre_pro = pd.concat([final_pre_pro, y2014], axis = 0, ignore_index=True)

In [121]:
final_pre_pro = pd.concat([final_pre_pro, y2015], axis = 0, ignore_index=True)

In [122]:
final_pre_pro

           date area  pre_type_mean
0      20120101   강원       0.535714
1      20120102   강원       0.000000
2      20120103   강원       0.267857
3      20120104   강원       0.000000
4      20120105   강원       0.000000
...         ...  ...            ...
24584  20151227   충북       0.000000
24585  20151228   충북       0.000000
24586  20151229   충북       0.000000
24587  20151230   충북       1.062500
24588  20151231   충북       0.000000

[24589 rows x 3 columns]

In [123]:
final_pre_pro.to_csv('강수형태.csv', index=False)

In [124]:
prepro = pd.read_csv('강수확률.csv')
pretype = pd.read_csv('강수형태.csv')

In [125]:
prepro

           date area  pre_pro_mean
0      20120101   강원     21.500000
1      20120102   강원     10.294643
2      20120103   강원     21.544643
3      20120104   강원      0.000000
4      20120105   강원      3.312500
...         ...  ...           ...
24322  20151227   충북      0.166667
24323  20151228   충북      3.958333
24324  20151229   충북     11.333333
24325  20151230   충북     40.208333
24326  20151231   충북      2.125000

[24327 rows x 3 columns]

In [130]:
prepro['date'].value_counts()

20120101    17
20140816    17
20140905    17
20140904    17
20140903    17
            ..
20121227    14
20121226    14
20121225    14
20121224    14
20121223    14
Name: date, Length: 1435, dtype: int64

In [131]:
final = pd.DataFrame(prepro)

In [173]:
f1 = pd.merge(prepro, pretype, on = ['date', 'area'])

In [134]:
f1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24317 entries, 0 to 24316
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           24317 non-null  int64
 1   area           24317 non-null  object
 2   pre_pro_mean   24317 non-null  float64
 3   pre_type_mean  24317 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 949.9+ KB

In [135]:
f2 = pd.merge(pretype, prepro, on = ['date', 'area'])

In [136]:
f2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24317 entries, 0 to 24316
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           24317 non-null  int64
 1   area           24317 non-null  object
 2   pre_type_mean  24317 non-null  float64
 3   pre_pro_mean   24317 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 949.9+ KB

In [154]:
from datetime import datetime

In [174]:
f1['date'] = pd.to_datetime(f1['date'], format='%Y%m%d')

In [175]:
f1

            date area  pre_pro_mean  pre_type_mean
0     2012-01-01   강원     21.500000       0.535714
1     2012-01-02   강원     10.294643       0.000000
2     2012-01-03   강원     21.544643       0.267857
3     2012-01-04   강원      0.000000       0.000000
4     2012-01-05   강원      3.312500       0.000000
...          ...  ...           ...            ...
24312 2015-12-27   충북      0.166667       0.000000
24313 2015-12-28   충북      3.958333       0.000000
24314 2015-12-29   충북     11.333333       0.000000
24315 2015-12-30   충북     40.208333       1.062500
24316 2015-12-31   충북      2.125000       0.000000

[24317 rows x 4 columns]

In [176]:
f1.rename(columns={'pre_pro_mean': '강수확률평균', 'pre_type_mean':'강수형태평균'}, inplace=True)

In [177]:
f1

            date area     강수확률평균    강수형태평균
0     2012-01-01   강원  21.500000  0.535714
1     2012-01-02   강원  10.294643  0.000000
2     2012-01-03   강원  21.544643  0.267857
3     2012-01-04   강원   0.000000  0.000000
4     2012-01-05   강원   3.312500  0.000000
...          ...  ...        ...       ...
24312 2015-12-27   충북   0.166667  0.000000
24313 2015-12-28   충북   3.958333  0.000000
24314 2015-12-29   충북  11.333333  0.000000
24315 2015-12-30   충북  40.208333  1.062500
24316 2015-12-31   충북   2.125000  0.000000

[24317 rows x 4 columns]

In [178]:
f1.to_csv('강수확률강수형태.csv', index=False)

In [179]:
f1.to_csv('강수확률강수형태encoding.csv', index=False, encoding='euc-kr')