In [1]:
import sys
print(sys.getdefaultencoding())

utf-8

In [2]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [3]:
import glob

In [4]:
kw2013_pre_pro = glob.glob(os.path.join("2014/강원", "*_강수확률_201401_2012.csv"))

In [5]:
kw2013_pre_pro

['2014/강원/중앙동_강수확률_201401_201412.csv',
 '2014/강원/명륜1동_강수확률_201401_201412.csv',
 '2014/강원/황지동_강수확률_201401_201412.csv',
 '2014/강원/영월읍_강수확률_201401_201412.csv',
 '2014/강원/갈말읍_강수확률_201401_201412.csv',
 '2014/강원/신사우동_강수확률_201401_201412.csv',
 '2014/강원/사천면_강수확률_201401_201412.csv',
 '2014/강원/인제읍_강수확률_201401_201412.csv',
 '2014/강원/송정동_강수확률_201401_201412.csv',
 '2014/강원/토성면_강수확률_201401_201412.csv',
 '2014/강원/신북읍_강수확률_201401_201412.csv',
 '2014/강원/대관령면_강수확률_201401_201412.csv',
 '2014/강원/홍천읍_강수확률_201401_201412.csv',
 '2014/강원/정선읍_강수확률_201401_201412.csv']

In [6]:
import pandas as pd
import numpy as np

In [14]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52095 entries, 0 to 52094
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              52095 non-null  object
 1   hour                                      52084 non-null  float64
 2   forecast                                  52084 non-null  float64
 3   value  location:93_132 Start : 20140101   52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [32]:
kw2013_pre_pro_1 = pd.read_csv('2014/강원/중앙동_강수확률_201401_201412.csv')

In [36]:
kw2013_pre_pro_1[" format: day"] = kw2013_pre_pro_1[" format: day"].str.replace(" ", "")

In [37]:
kw2013_pre_pro_1[" format: day"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', 'Start:20140201',
       'Start:20140301', 'Start:20140401', 'Start:20140501',
       'Start:20140601', 'Start:20140701', 'Start:20140801',
       'Start:20140901', 'Start:20141001', 'Start:20141101',
       'Start:20141201'], dtype=object)

In [38]:
for i in range(len(kw2013_pre_pro_1[" format: day"])):
    if len(kw2013_pre_pro_1[" format: day"][i]) == 1:
        kw2013_pre_pro_1[" format: day"][i] = "0" + kw2013_pre_pro_1[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/3158433206.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1[" format: day"][i] = "0" + kw2013_pre_pro_1[" format: day"][i]

In [39]:
kw2013_pre_pro_1[" format: day"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'Start:20140201', 'Start:20140301', 'Start:20140401',
       'Start:20140501', 'Start:20140601', 'Start:20140701',
       'Start:20140801', 'Start:20140901', 'Start:20141001',
       'Start:20141101', 'Start:20141201'], dtype=object)

In [40]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1[' format: day'] == 'Start:20140201') |
                           (kw2013_pre_pro_1[' format: day'] == 'Start:20140301') |
                           (kw2013_pre_pro_1[' format: day'] == 'Start:20140401') |
                           (kw2013_pre_pro_1[' format: day'] == 'Start:20140501') |
                           (kw2013_pre_pro_1[' format: day'] == 'Start:20140601') |
                           (kw2013_pre_pro_1[' format: day'] == 'Start:20140701') |
                           (kw2013_pre_pro_1[' format: day'] == 'Start:20140801') |
                           (kw2013_pre_pro_1[' format: day'] == 'Start:20140901') |
                           (kw2013_pre_pro_1[' format: day'] == 'Start:20141001') |
                           (kw2013_pre_pro_1[' format: day'] == 'Start:20141101') |
                           (kw2013_pre_pro_1[' format: day'] == 'Start:20141201')])

          format: day  hour  forecast  \
4092   Start:20140201   NaN       NaN
7789   Start:20140301   NaN       NaN
11882  Start:20140401   NaN       NaN
16323  Start:20140501   NaN       NaN
20912  Start:20140601   NaN       NaN
25353  Start:20140701   NaN       NaN
29446  Start:20140801   NaN       NaN
34035  Start:20140901   NaN       NaN
38476  Start:20141001   NaN       NaN
43065  Start:20141101   NaN       NaN
47506  Start:20141201   NaN       NaN

       value  location:93_132 Start : 20140101
4092                                        NaN
7789                                        NaN
11882                                       NaN
16323                                       NaN
20912                                       NaN
25353                                       NaN
29446                                       NaN
34035                                       NaN
38476                                       NaN
43065                                       NaN
47506                                       NaN

In [41]:
kw2013_pre_pro_1.loc[:4091][" format: day"] = "201401" + kw2013_pre_pro_1.loc[:4091][" format: day"]
kw2013_pre_pro_1.loc[4093:7788][" format: day"] = "201402" + kw2013_pre_pro_1.loc[4093:7788][" format: day"]
kw2013_pre_pro_1.loc[7790:11881][" format: day"] = "201403" + kw2013_pre_pro_1.loc[7790:11881][" format: day"]
kw2013_pre_pro_1.loc[11883:16322][" format: day"] = "201404" + kw2013_pre_pro_1.loc[11883:16322][" format: day"]
kw2013_pre_pro_1.loc[16324:20911][" format: day"] = "201405" + kw2013_pre_pro_1.loc[16324:20911][" format: day"]
kw2013_pre_pro_1.loc[20913:25352][" format: day"] = "201406" + kw2013_pre_pro_1.loc[20913:25352][" format: day"]
kw2013_pre_pro_1.loc[25354:29445][" format: day"] = "201407" + kw2013_pre_pro_1.loc[25354:29445][" format: day"]
kw2013_pre_pro_1.loc[29447:34034][" format: day"] = "201408" + kw2013_pre_pro_1.loc[29447:34034][" format: day"]
kw2013_pre_pro_1.loc[34036:38475][" format: day"] = "201409" + kw2013_pre_pro_1.loc[34036:38475][" format: day"]
kw2013_pre_pro_1.loc[38477:43064][" format: day"] = "201410" + kw2013_pre_pro_1.loc[38477:43064][" format: day"]
kw2013_pre_pro_1.loc[43066:47505][" format: day"] = "201411" + kw2013_pre_pro_1.loc[43066:47505][" format: day"]
kw2013_pre_pro_1.loc[47507:][" format: day"] = "201412" + kw2013_pre_pro_1.loc[47507:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[:4091][" format: day"] = "201401" + kw2013_pre_pro_1.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[4093:7788][" format: day"] = "201402" + kw2013_pre_pro_1.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[7790:11881][" format: day"] = "201403" + kw2013_pre_pro_1.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[11883:16322][" format: day"] = "201404" + kw2013_pre_pro_1.loc[11883:16322][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[16324:20911][" format: day"] = "201405" + kw2013_pre_pro_1.loc[16324:20911][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[20913:25352][" format: day"] = "201406" + kw2013_pre_pro_1.loc[20913:25352][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[25354:29445][" format: day"] = "201407" + kw2013_pre_pro_1.loc[25354:29445][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[29447:34034][" format: day"] = "201408" + kw2013_pre_pro_1.loc[29447:34034][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[34036:38475][" format: day"] = "201409" + kw2013_pre_pro_1.loc[34036:38475][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[38477:43064][" format: day"] = "201410" + kw2013_pre_pro_1.loc[38477:43064][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[43066:47505][" format: day"] = "201411" + kw2013_pre_pro_1.loc[43066:47505][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1883865104.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[47507:][" format: day"] = "201412" + kw2013_pre_pro_1.loc[47507:][" format: day"]

In [42]:
kw2013_pre_pro_1[" format: day"].value_counts()

20141231          148
20140530          148
20140929          148
20140601          148
20140602          148
                 ...
Start:20141001      1
Start:20140201      1
Start:20141201      1
Start:20140501      1
Start:20140801      1
Name:  format: day, Length: 376, dtype: int64

In [43]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506], axis = 0)

In [44]:
kw2013_pre_pro_1[" format: day"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name:  format: day, Length: 365, dtype: int64

In [45]:
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== 4.0]
kw2013_pre_pro_1_fore4.head()

    format: day    hour  forecast  value  location:93_132 Start : 20140101
0      20140101   200.0       4.0                                      10.0
16     20140101   500.0       4.0                                      10.0
31     20140101   800.0       4.0                                      20.0
49     20140101  1100.0       4.0                                      10.0
66     20140101  1400.0       4.0                                      10.0

In [48]:
kw2013_pre_pro_1_fore4.rename(columns={' format: day': 'date', 'value  location:93_132 Start : 20140101 ':'pre_pro_mean'}, inplace=True)

In [49]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_16081/1176009402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [50]:
kw2013_pre_pro_1_fore4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2920 entries, 0 to 52074
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          2920 non-null   object
 1   hour          2920 non-null   float64
 2   forecast      2920 non-null   float64
 3   pre_pro_mean  2920 non-null   float64
dtypes: float64(3), object(1)
memory usage: 114.1+ KB

In [51]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [52]:
kw2013_pre_pro_1_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 20140101 to 20141231
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pre_pro_mean  365 non-null    float64
dtypes: float64(1)
memory usage: 5.7+ KB

In [53]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)

In [54]:
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20140101          7.50
1    20140102          8.75
2    20140103         40.00
3    20140104         56.25
4    20140105         10.00
..        ...           ...
360  20141227         11.25
361  20141228         17.50
362  20141229          8.75
363  20141230         11.25
364  20141231          3.75

[365 rows x 2 columns]

In [55]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)

In [56]:
kw2013_pre_pro_final

         date  pre_pro_mean
0    20140101          7.50
1    20140102          8.75
2    20140103         40.00
3    20140104         56.25
4    20140105         10.00
..        ...           ...
360  20141227         11.25
361  20141228         17.50
362  20141229          8.75
363  20141230         11.25
364  20141231          3.75

[365 rows x 2 columns]

In [59]:
kw2013_pre_pro_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              52096 non-null  object
 1   hour                                     52084 non-null  float64
 2   forecast                                 52084 non-null  float64
 3   value..location.77_122.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [61]:
kw2013_pre_pro_2.rename(columns={'format..day': 'date', 'value..location.77_122.Start...20140101': 'pre_pro_mean'}, inplace=True)

In [58]:
kw2013_pre_pro_2[" format.. day"] = kw2013_pre_pro_2[" format: day"].str.replace(" ", "")

KeyError: ' format: day'

In [46]:
for i in range(len(kw2013_pre_pro_2[" format: day"])):
    if len(kw2013_pre_pro_2[" format: day"][i]) == 1:
        kw2013_pre_pro_2[" format: day"][i] = "0" + kw2013_pre_pro_2[" format: day"][i]

In [47]:
kw2013_pre_pro_2[" format: day"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'Start:20130201', 'Start:20130301', 'Start:20130401',
       'Start:20130501', 'Start:20130601', 'Start:20130701',
       'Start:20130801', 'Start:20130901', 'Start:20131001',
       'Start:20131101', 'Start:20131201', 'format:day'], dtype=object)

In [48]:
print(kw2013_pre_pro_2.loc[(kw2013_pre_pro_2[' format: day'] == 'Start:20130201') |
                           (kw2013_pre_pro_2[' format: day'] == 'Start:20130301') |
                           (kw2013_pre_pro_2[' format: day'] == 'Start:20130401') |
                           (kw2013_pre_pro_2[' format: day'] == 'Start:20130501') |
                           (kw2013_pre_pro_2[' format: day'] == 'Start:20130601') |
                           (kw2013_pre_pro_2[' format: day'] == 'Start:20130701') |
                           (kw2013_pre_pro_2[' format: day'] == 'Start:20130801') |
                           (kw2013_pre_pro_2[' format: day'] == 'Start:20130901') |
                           (kw2013_pre_pro_2[' format: day'] == 'Start:20131001') |
                           (kw2013_pre_pro_2[' format: day'] == 'Start:20131101') |
                           (kw2013_pre_pro_2[' format: day'] == 'Start:20131201')])

          format: day hour forecast value  location:65_139 Start : 20130101
4092   Start:20130201  NaN      NaN                                      NaN
7789   Start:20130301  NaN      NaN                                      NaN
11882  Start:20130401  NaN      NaN                                      NaN
15843  Start:20130501  NaN      NaN                                      NaN
19936  Start:20130601  NaN      NaN                                      NaN
23897  Start:20130701  NaN      NaN                                      NaN
27990  Start:20130801  NaN      NaN                                      NaN
32083  Start:20130901  NaN      NaN                                      NaN
36044  Start:20131001  NaN      NaN                                      NaN
40137  Start:20131101  NaN      NaN                                      NaN
44098  Start:20131201  NaN      NaN                                      NaN
52284  Start:20130201  NaN      NaN                                      NaN
55981  Start:20130301  NaN      NaN                                      NaN
60074  Start:20130401  NaN      NaN                                      NaN
64035  Start:20130501  NaN      NaN                                      NaN
68128  Start:20130601  NaN      NaN                                      NaN
72089  Start:20130701  NaN      NaN                                      NaN
76182  Start:20130801  NaN      NaN                                      NaN
80275  Start:20130901  NaN      NaN                                      NaN
84236  Start:20131001  NaN      NaN                                      NaN
88329  Start:20131101  NaN      NaN                                      NaN
92290  Start:20131201  NaN      NaN                                      NaN

In [49]:
kw2013_pre_pro_2 = kw2013_pre_pro_2.loc[:52283]

In [50]:
kw2013_pre_pro_2.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_2.loc[:4091][" format: day"]
kw2013_pre_pro_2.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_2.loc[4093:7788][" format: day"]
kw2013_pre_pro_2.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_2.loc[7790:11881][" format: day"]
kw2013_pre_pro_2.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_2.loc[11883:15842][" format: day"]
kw2013_pre_pro_2.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_2.loc[15844:19935][" format: day"]
kw2013_pre_pro_2.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_2.loc[19937:23896][" format: day"]
kw2013_pre_pro_2.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_2.loc[23898:27989][" format: day"]
kw2013_pre_pro_2.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_2.loc[27991:32082][" format: day"]
kw2013_pre_pro_2.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_2.loc[32084:36043][" format: day"]
kw2013_pre_pro_2.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_2.loc[36045:40136][" format: day"]
kw2013_pre_pro_2.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_2.loc[40138:44097][" format: day"]
kw2013_pre_pro_2.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_2.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_2.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_2.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_2.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_2.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_2.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_2.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_2.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_2.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_2.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_2.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_2.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2215462030.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_2.loc[44099:52283][" format: day"]

In [51]:
kw2013_pre_pro_2 = kw2013_pre_pro_2.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [52]:
kw2013_pre_pro_2[" format: day"].value_counts()

20131208            264
20131217            264
20131201            264
20131202            264
20131203            264
                   ...
20130501            132
20130430            132
20130429            132
20130428            132
201312format:day      1
Name:  format: day, Length: 366, dtype: int64

In [53]:
print(kw2013_pre_pro_2.loc[(kw2013_pre_pro_2[' format: day'] == '201312format:day')])

            format: day  hour  forecast  \
48191  201312format:day  hour  forecast

       value  location:65_139 Start : 20130101
48191  value  location:65_139 Start : 20130101

In [54]:
kw2013_pre_pro_2 = kw2013_pre_pro_2.drop([48191], axis = 0)

In [55]:
kw2013_pre_pro_2_fore4 = kw2013_pre_pro_2[kw2013_pre_pro_2['forecast']== '+4']
kw2013_pre_pro_2_fore4.head()

    format: day  hour forecast value  location:65_139 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               60.000000
49     20130101  1100       +4                               60.000000
66     20130101  1400       +4                               10.000000

In [56]:
kw2013_pre_pro_2_fore4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3168 entries, 0 to 52267
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              3168 non-null   object
 1   hour                                      3168 non-null   object
 2   forecast                                  3168 non-null   object
 3   value  location:65_139 Start : 20130101   3168 non-null   object
dtypes: object(4)
memory usage: 123.8+ KB

In [57]:
kw2013_pre_pro_2_fore4['value  location:65_139 Start : 20130101 '] = kw2013_pre_pro_2_fore4['value  location:65_139 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2878024676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2_fore4['value  location:65_139 Start : 20130101 '] = kw2013_pre_pro_2_fore4['value  location:65_139 Start : 20130101 '].astype('float')

In [58]:
kw2013_pre_pro_2_final = pd.DataFrame(kw2013_pre_pro_2_fore4['value  location:65_139 Start : 20130101 '].groupby(kw2013_pre_pro_2_fore4[' format: day']).mean())

In [59]:
kw2013_pre_pro_2_final.reset_index(level=[' format: day'], inplace = True)

In [60]:
kw2013_pre_pro_2_final

     format: day  value  location:65_139 Start : 20130101
0       20130101                                    28.750
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     8.750
4       20130105                                     5.000
..           ...                                       ...
360     20131227                                     1.250
361     20131228                                    14.375
362     20131229                                    23.750
363     20131230                                    15.625
364     20131231                                    31.250

[365 rows x 2 columns]

In [61]:
kw2013_pre_pro_2_final.rename(columns={' format: day':'date', 'value  location:65_139 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [62]:
kw2013_pre_pro_2_final

         date  pre_pro_mean
0    20130101        28.750
1    20130102         0.000
2    20130103         0.000
3    20130104         8.750
4    20130105         5.000
..        ...           ...
360  20131227         1.250
361  20131228        14.375
362  20131229        23.750
363  20131230        15.625
364  20131231        31.250

[365 rows x 2 columns]

In [63]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_2_final], axis = 0, ignore_index=True)

In [64]:
kw2013_pre_pro_final

         date  pre_pro_mean
0    20130101        32.500
1    20130102         0.000
2    20130103         0.000
3    20130104         8.750
4    20130105         6.250
..        ...           ...
725  20131227         1.250
726  20131228        14.375
727  20131229        23.750
728  20131230        15.625
729  20131231        31.250

[730 rows x 2 columns]

In [65]:
kw2013_pre_pro_3

       format: day  hour forecast value  location:86_119 Start : 20130101
0                1  0200       +4                               60.000000
1                1  0200       +7                               30.000000
2                1  0200      +10                               60.000000
3                1  0200      +13                               70.000000
4                1  0200      +16                               60.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               10.000000
96380           31  2300      +46                               20.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [66]:
for i in range(len(kw2013_pre_pro_3[" format: day"])):
    if len(kw2013_pre_pro_3[" format: day"][i]) == 1:
        kw2013_pre_pro_3[" format: day"][i] = "0" + kw2013_pre_pro_3[" format: day"][i]

In [67]:
kw2013_pre_pro_3[" format: day"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'Start:20130201', 'Start:20130301', 'Start:20130401',
       'Start:20130501', 'Start:20130601', 'Start:20130701',
       'Start:20130801', 'Start:20130901', 'Start:20131001',
       'Start:20131101', 'Start:20131201', 'format:day'], dtype=object)

In [68]:
kw2013_pre_pro_3 = kw2013_pre_pro_3.loc[:52283]

In [69]:
kw2013_pre_pro_3.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_3.loc[:4091][" format: day"]
kw2013_pre_pro_3.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_3.loc[4093:7788][" format: day"]
kw2013_pre_pro_3.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_3.loc[7790:11881][" format: day"]
kw2013_pre_pro_3.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_3.loc[11883:15842][" format: day"]
kw2013_pre_pro_3.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_3.loc[15844:19935][" format: day"]
kw2013_pre_pro_3.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_3.loc[19937:23896][" format: day"]
kw2013_pre_pro_3.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_3.loc[23898:27989][" format: day"]
kw2013_pre_pro_3.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_3.loc[27991:32082][" format: day"]
kw2013_pre_pro_3.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_3.loc[32084:36043][" format: day"]
kw2013_pre_pro_3.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_3.loc[36045:40136][" format: day"]
kw2013_pre_pro_3.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_3.loc[40138:44097][" format: day"]
kw2013_pre_pro_3.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_3.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_3.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_3.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_3.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_3.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_3.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_3.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_3.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_3.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_3.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_3.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_3.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3023837738.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_3.loc[44099:52283][" format: day"]

In [70]:
kw2013_pre_pro_3 = kw2013_pre_pro_3.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [71]:
kw2013_pre_pro_3[" format: day"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name:  format: day, Length: 365, dtype: int64

In [72]:
kw2013_pre_pro_3_fore4 = kw2013_pre_pro_3[kw2013_pre_pro_3['forecast']== '+4']
kw2013_pre_pro_3_fore4.head()

    format: day  hour forecast value  location:86_119 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               60.000000
49     20130101  1100       +4                               60.000000
66     20130101  1400       +4                               60.000000

In [73]:
kw2013_pre_pro_3_fore4['value  location:86_119 Start : 20130101 '] = kw2013_pre_pro_3_fore4['value  location:86_119 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2087781769.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3_fore4['value  location:86_119 Start : 20130101 '] = kw2013_pre_pro_3_fore4['value  location:86_119 Start : 20130101 '].astype('float')

In [74]:
kw2013_pre_pro_3_final = pd.DataFrame(kw2013_pre_pro_3_fore4['value  location:86_119 Start : 20130101 '].groupby(kw2013_pre_pro_3_fore4[' format: day']).mean())

In [75]:
kw2013_pre_pro_3_final.reset_index(level=[' format: day'], inplace = True)

In [76]:
kw2013_pre_pro_3_final

     format: day  value  location:86_119 Start : 20130101
0       20130101                                    37.500
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     7.500
4       20130105                                     6.250
..           ...                                       ...
360     20131227                                     0.625
361     20131228                                    14.375
362     20131229                                    23.125
363     20131230                                    15.000
364     20131231                                    30.625

[365 rows x 2 columns]

In [77]:
kw2013_pre_pro_3_final.rename(columns={' format: day':'date', 'value  location:86_119 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [78]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_3_final], axis = 0, ignore_index=True)

In [79]:
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        32.500
1     20130102         0.000
2     20130103         0.000
3     20130104         8.750
4     20130105         6.250
...        ...           ...
1090  20131227         0.625
1091  20131228        14.375
1092  20131229        23.125
1093  20131230        15.000
1094  20131231        30.625

[1095 rows x 2 columns]

In [80]:
kw2013_pre_pro_4

       format: day  hour forecast value  location:95_119 Start : 20130101
0                1  0200       +4                               60.000000
1                1  0200       +7                               30.000000
2                1  0200      +10                               60.000000
3                1  0200      +13                               70.000000
4                1  0200      +16                               60.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               10.000000
96380           31  2300      +46                               20.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [81]:
for i in range(len(kw2013_pre_pro_4[" format: day"])):
    if len(kw2013_pre_pro_4[" format: day"][i]) == 1:
        kw2013_pre_pro_4[" format: day"][i] = "0" + kw2013_pre_pro_4[" format: day"][i]

In [82]:
kw2013_pre_pro_4[" format: day"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'Start:20130201', 'Start:20130301', 'Start:20130401',
       'Start:20130501', 'Start:20130601', 'Start:20130701',
       'Start:20130801', 'Start:20130901', 'Start:20131001',
       'Start:20131101', 'Start:20131201', 'format:day'], dtype=object)

In [83]:
kw2013_pre_pro_4 = kw2013_pre_pro_4.loc[:52283]

In [84]:
kw2013_pre_pro_4.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_4.loc[:4091][" format: day"]
kw2013_pre_pro_4.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_4.loc[4093:7788][" format: day"]
kw2013_pre_pro_4.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_4.loc[7790:11881][" format: day"]
kw2013_pre_pro_4.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_4.loc[11883:15842][" format: day"]
kw2013_pre_pro_4.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_4.loc[15844:19935][" format: day"]
kw2013_pre_pro_4.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_4.loc[19937:23896][" format: day"]
kw2013_pre_pro_4.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_4.loc[23898:27989][" format: day"]
kw2013_pre_pro_4.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_4.loc[27991:32082][" format: day"]
kw2013_pre_pro_4.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_4.loc[32084:36043][" format: day"]
kw2013_pre_pro_4.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_4.loc[36045:40136][" format: day"]
kw2013_pre_pro_4.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_4.loc[40138:44097][" format: day"]
kw2013_pre_pro_4.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_4.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_4.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_4.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_4.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_4.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_4.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_4.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_4.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_4.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_4.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_4.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_4.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1954725463.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_4.loc[44099:52283][" format: day"]

In [85]:
kw2013_pre_pro_4 = kw2013_pre_pro_4.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [86]:
kw2013_pre_pro_4_fore4 = kw2013_pre_pro_4[kw2013_pre_pro_4['forecast']== '+4']
kw2013_pre_pro_4_fore4.head()

    format: day  hour forecast value  location:95_119 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               30.000000
49     20130101  1100       +4                               60.000000
66     20130101  1400       +4                               60.000000

In [87]:
kw2013_pre_pro_4_fore4['value  location:95_119 Start : 20130101 '] = kw2013_pre_pro_4_fore4['value  location:95_119 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2585022542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4_fore4['value  location:95_119 Start : 20130101 '] = kw2013_pre_pro_4_fore4['value  location:95_119 Start : 20130101 '].astype('float')

In [88]:
kw2013_pre_pro_4_final = pd.DataFrame(kw2013_pre_pro_4_fore4['value  location:95_119 Start : 20130101 '].groupby(kw2013_pre_pro_4_fore4[' format: day']).mean())

In [89]:
kw2013_pre_pro_4_final.reset_index(level=[' format: day'], inplace = True)

In [90]:
kw2013_pre_pro_4_final.rename(columns={' format: day':'date', 'value  location:95_119 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [91]:
kw2013_pre_pro_4_final

         date  pre_pro_mean
0    20130101        33.750
1    20130102         0.000
2    20130103         0.000
3    20130104         5.000
4    20130105         6.250
..        ...           ...
360  20131227         0.625
361  20131228        14.375
362  20131229        18.125
363  20131230        15.000
364  20131231        28.125

[365 rows x 2 columns]

In [92]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_4_final], axis = 0, ignore_index=True)

In [93]:
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        32.500
1     20130102         0.000
2     20130103         0.000
3     20130104         8.750
4     20130105         6.250
...        ...           ...
1455  20131227         0.625
1456  20131228        14.375
1457  20131229        18.125
1458  20131230        15.000
1459  20131231        28.125

[1460 rows x 2 columns]

In [94]:
kw2013_pre_pro_5

       format: day  hour forecast value  location:93_132 Start : 20130101
0                1  0200       +4                               10.000000
1                1  0200       +7                               10.000000
2                1  0200      +10                               20.000000
3                1  0200      +13                               20.000000
4                1  0200      +16                               20.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               10.000000
96380           31  2300      +46                               20.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [95]:
for i in range(len(kw2013_pre_pro_5[" format: day"])):
    if len(kw2013_pre_pro_5[" format: day"][i]) == 1:
        kw2013_pre_pro_5[" format: day"][i] = "0" + kw2013_pre_pro_5[" format: day"][i]

In [96]:
kw2013_pre_pro_5[" format: day"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'Start:20130201', 'Start:20130301', 'Start:20130401',
       'Start:20130501', 'Start:20130601', 'Start:20130701',
       'Start:20130801', 'Start:20130901', 'Start:20131001',
       'Start:20131101', 'Start:20131201', 'format:day'], dtype=object)

In [97]:
kw2013_pre_pro_5 = kw2013_pre_pro_5.loc[:52283]

In [98]:
kw2013_pre_pro_5.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_5.loc[:4091][" format: day"]
kw2013_pre_pro_5.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_5.loc[4093:7788][" format: day"]
kw2013_pre_pro_5.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_5.loc[7790:11881][" format: day"]
kw2013_pre_pro_5.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_5.loc[11883:15842][" format: day"]
kw2013_pre_pro_5.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_5.loc[15844:19935][" format: day"]
kw2013_pre_pro_5.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_5.loc[19937:23896][" format: day"]
kw2013_pre_pro_5.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_5.loc[23898:27989][" format: day"]
kw2013_pre_pro_5.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_5.loc[27991:32082][" format: day"]
kw2013_pre_pro_5.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_5.loc[32084:36043][" format: day"]
kw2013_pre_pro_5.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_5.loc[36045:40136][" format: day"]
kw2013_pre_pro_5.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_5.loc[40138:44097][" format: day"]
kw2013_pre_pro_5.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_5.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_5.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_5.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_5.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_5.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_5.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_5.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_5.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_5.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_5.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_5.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_5.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1589664422.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_5.loc[44099:52283][" format: day"]

In [99]:
kw2013_pre_pro_5 = kw2013_pre_pro_5.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [100]:
kw2013_pre_pro_5_fore4 = kw2013_pre_pro_5[kw2013_pre_pro_5['forecast']== '+4']
kw2013_pre_pro_5_fore4.head()

    format: day  hour forecast value  location:93_132 Start : 20130101
0      20130101  0200       +4                               10.000000
16     20130101  0500       +4                               10.000000
31     20130101  0800       +4                               20.000000
49     20130101  1100       +4                               20.000000
66     20130101  1400       +4                               20.000000

In [101]:
kw2013_pre_pro_5_fore4['value  location:93_132 Start : 20130101 '] = kw2013_pre_pro_5_fore4['value  location:93_132 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/686830438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5_fore4['value  location:93_132 Start : 20130101 '] = kw2013_pre_pro_5_fore4['value  location:93_132 Start : 20130101 '].astype('float')

In [102]:
kw2013_pre_pro_5_final = pd.DataFrame(kw2013_pre_pro_5_fore4['value  location:93_132 Start : 20130101 '].groupby(kw2013_pre_pro_5_fore4[' format: day']).mean())

In [103]:
kw2013_pre_pro_5_final.reset_index(level=[' format: day'], inplace = True)

In [104]:
kw2013_pre_pro_5_final

     format: day  value  location:93_132 Start : 20130101
0       20130101                                    11.250
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     0.000
4       20130105                                     0.000
..           ...                                       ...
360     20131227                                     1.875
361     20131228                                     6.875
362     20131229                                     9.375
363     20131230                                    16.875
364     20131231                                    26.875

[365 rows x 2 columns]

In [105]:
kw2013_pre_pro_5_final.rename(columns={' format: day':'date', 'value  location:93_132 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [106]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_5_final], axis = 0, ignore_index=True)

In [107]:
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        32.500
1     20130102         0.000
2     20130103         0.000
3     20130104         8.750
4     20130105         6.250
...        ...           ...
1820  20131227         1.875
1821  20131228         6.875
1822  20131229         9.375
1823  20131230        16.875
1824  20131231        26.875

[1825 rows x 2 columns]

In [108]:
kw2013_pre_pro_6

       format: day  hour forecast value  location:77_122 Start : 20130101
0                1  0200       +4                               60.000000
1                1  0200       +7                               30.000000
2                1  0200      +10                               60.000000
3                1  0200      +13                               70.000000
4                1  0200      +16                               60.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               20.000000
96380           31  2300      +46                               20.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [109]:
for i in range(len(kw2013_pre_pro_6[" format: day"])):
    if len(kw2013_pre_pro_6[" format: day"][i]) == 1:
        kw2013_pre_pro_6[" format: day"][i] = "0" + kw2013_pre_pro_6[" format: day"][i]

In [110]:
kw2013_pre_pro_6[" format: day"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'Start:20130201', 'Start:20130301', 'Start:20130401',
       'Start:20130501', 'Start:20130601', 'Start:20130701',
       'Start:20130801', 'Start:20130901', 'Start:20131001',
       'Start:20131101', 'Start:20131201', 'format:day'], dtype=object)

In [111]:
kw2013_pre_pro_6 = kw2013_pre_pro_6.loc[:52283]

In [112]:
kw2013_pre_pro_6.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_6.loc[:4091][" format: day"]
kw2013_pre_pro_6.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_6.loc[4093:7788][" format: day"]
kw2013_pre_pro_6.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_6.loc[7790:11881][" format: day"]
kw2013_pre_pro_6.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_6.loc[11883:15842][" format: day"]
kw2013_pre_pro_6.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_6.loc[15844:19935][" format: day"]
kw2013_pre_pro_6.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_6.loc[19937:23896][" format: day"]
kw2013_pre_pro_6.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_6.loc[23898:27989][" format: day"]
kw2013_pre_pro_6.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_6.loc[27991:32082][" format: day"]
kw2013_pre_pro_6.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_6.loc[32084:36043][" format: day"]
kw2013_pre_pro_6.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_6.loc[36045:40136][" format: day"]
kw2013_pre_pro_6.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_6.loc[40138:44097][" format: day"]
kw2013_pre_pro_6.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_6.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_6.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_6.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_6.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_6.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_6.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_6.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_6.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_6.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_6.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_6.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_6.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/58255384.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_6.loc[44099:52283][" format: day"]

In [113]:
kw2013_pre_pro_6 = kw2013_pre_pro_6.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [114]:
kw2013_pre_pro_6[" format: day"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name:  format: day, Length: 365, dtype: int64

In [115]:
kw2013_pre_pro_6_fore4 = kw2013_pre_pro_6[kw2013_pre_pro_6['forecast']== '+4']
kw2013_pre_pro_6_fore4.head()

    format: day  hour forecast value  location:77_122 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               60.000000
49     20130101  1100       +4                               70.000000
66     20130101  1400       +4                               70.000000

In [116]:
kw2013_pre_pro_6_fore4['value  location:77_122 Start : 20130101 '] = kw2013_pre_pro_6_fore4['value  location:77_122 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1200172834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6_fore4['value  location:77_122 Start : 20130101 '] = kw2013_pre_pro_6_fore4['value  location:77_122 Start : 20130101 '].astype('float')

In [117]:
kw2013_pre_pro_6_final = pd.DataFrame(kw2013_pre_pro_6_fore4['value  location:77_122 Start : 20130101 '].groupby(kw2013_pre_pro_6_fore4[' format: day']).mean())

In [118]:
kw2013_pre_pro_6_final.reset_index(level=[' format: day'], inplace = True)

In [119]:
kw2013_pre_pro_6_final

     format: day  value  location:77_122 Start : 20130101
0       20130101                                    38.750
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     7.500
4       20130105                                     5.000
..           ...                                       ...
360     20131227                                     0.625
361     20131228                                    14.375
362     20131229                                    23.125
363     20131230                                    15.625
364     20131231                                    30.000

[365 rows x 2 columns]

In [120]:
kw2013_pre_pro_6_final.rename(columns={' format: day':'date', 'value  location:77_122 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [121]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_6_final], axis = 0, ignore_index=True)

In [122]:
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        32.500
1     20130102         0.000
2     20130103         0.000
3     20130104         8.750
4     20130105         6.250
...        ...           ...
2185  20131227         0.625
2186  20131228        14.375
2187  20131229        23.125
2188  20131230        15.625
2189  20131231        30.000

[2190 rows x 2 columns]

In [123]:
for i in range(len(kw2013_pre_pro_7[" format: day"])):
    if len(kw2013_pre_pro_7[" format: day"][i]) == 1:
        kw2013_pre_pro_7[" format: day"][i] = "0" + kw2013_pre_pro_7[" format: day"][i]

In [124]:
kw2013_pre_pro_7 = kw2013_pre_pro_7.loc[:52283]

In [125]:
kw2013_pre_pro_7.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_7.loc[:4091][" format: day"]
kw2013_pre_pro_7.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_7.loc[4093:7788][" format: day"]
kw2013_pre_pro_7.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_7.loc[7790:11881][" format: day"]
kw2013_pre_pro_7.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_7.loc[11883:15842][" format: day"]
kw2013_pre_pro_7.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_7.loc[15844:19935][" format: day"]
kw2013_pre_pro_7.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_7.loc[19937:23896][" format: day"]
kw2013_pre_pro_7.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_7.loc[23898:27989][" format: day"]
kw2013_pre_pro_7.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_7.loc[27991:32082][" format: day"]
kw2013_pre_pro_7.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_7.loc[32084:36043][" format: day"]
kw2013_pre_pro_7.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_7.loc[36045:40136][" format: day"]
kw2013_pre_pro_7.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_7.loc[40138:44097][" format: day"]
kw2013_pre_pro_7.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_7.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_7.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_7.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_7.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_7.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_7.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_7.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_7.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_7.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_7.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_7.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_7.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1245725473.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_7.loc[44099:52283][" format: day"]

In [126]:
kw2013_pre_pro_7 = kw2013_pre_pro_7.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [127]:
kw2013_pre_pro_7_fore4 = kw2013_pre_pro_7[kw2013_pre_pro_7['forecast']== '+4']
kw2013_pre_pro_7_fore4.head()

    format: day  hour forecast value  location:89_123 Start : 20130101
0      20130101  0200       +4                               61.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               62.000000
49     20130101  1100       +4                               61.000000
66     20130101  1400       +4                               61.000000

In [128]:
kw2013_pre_pro_7_fore4['value  location:89_123 Start : 20130101 '] = kw2013_pre_pro_7_fore4['value  location:89_123 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1319694354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7_fore4['value  location:89_123 Start : 20130101 '] = kw2013_pre_pro_7_fore4['value  location:89_123 Start : 20130101 '].astype('float')

In [129]:
kw2013_pre_pro_7_final = pd.DataFrame(kw2013_pre_pro_7_fore4['value  location:89_123 Start : 20130101 '].groupby(kw2013_pre_pro_7_fore4[' format: day']).mean())

In [130]:
kw2013_pre_pro_7_final.reset_index(level=[' format: day'], inplace = True)
kw2013_pre_pro_7_final

     format: day  value  location:89_123 Start : 20130101
0       20130101                                   38.1250
1       20130102                                    0.0000
2       20130103                                    0.0000
3       20130104                                    7.8750
4       20130105                                    6.3750
..           ...                                       ...
360     20131227                                    0.6250
361     20131228                                   14.4375
362     20131229                                   21.1250
363     20131230                                   14.8125
364     20131231                                   30.8125

[365 rows x 2 columns]

In [131]:
kw2013_pre_pro_7_final.rename(columns={' format: day':'date', 'value  location:89_123 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [132]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_7_final], axis = 0, ignore_index=True)

In [133]:
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101       32.5000
1     20130102        0.0000
2     20130103        0.0000
3     20130104        8.7500
4     20130105        6.2500
...        ...           ...
2550  20131227        0.6250
2551  20131228       14.4375
2552  20131229       21.1250
2553  20131230       14.8125
2554  20131231       30.8125

[2555 rows x 2 columns]

In [134]:
for i in range(len(kw2013_pre_pro_8[" format: day"])):
    if len(kw2013_pre_pro_8[" format: day"][i]) == 1:
        kw2013_pre_pro_8[" format: day"][i] = "0" + kw2013_pre_pro_8[" format: day"][i]

In [135]:
kw2013_pre_pro_8 = kw2013_pre_pro_8.loc[:52283]

In [136]:
kw2013_pre_pro_8.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_8.loc[:4091][" format: day"]
kw2013_pre_pro_8.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_8.loc[4093:7788][" format: day"]
kw2013_pre_pro_8.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_8.loc[7790:11881][" format: day"]
kw2013_pre_pro_8.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_8.loc[11883:15842][" format: day"]
kw2013_pre_pro_8.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_8.loc[15844:19935][" format: day"]
kw2013_pre_pro_8.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_8.loc[19937:23896][" format: day"]
kw2013_pre_pro_8.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_8.loc[23898:27989][" format: day"]
kw2013_pre_pro_8.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_8.loc[27991:32082][" format: day"]
kw2013_pre_pro_8.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_8.loc[32084:36043][" format: day"]
kw2013_pre_pro_8.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_8.loc[36045:40136][" format: day"]
kw2013_pre_pro_8.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_8.loc[40138:44097][" format: day"]
kw2013_pre_pro_8.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_8.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_8.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_8.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_8.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_8.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_8.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_8.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_8.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_8.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_8.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_8.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_8.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3586066107.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_8.loc[44099:52283][" format: day"]

In [137]:
kw2013_pre_pro_8 = kw2013_pre_pro_8.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [138]:
kw2013_pre_pro_8_fore4 = kw2013_pre_pro_8[kw2013_pre_pro_8['forecast']== '+4']
kw2013_pre_pro_8_fore4.head()

    format: day  hour forecast value  location:73_135 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               70.000000
49     20130101  1100       +4                               69.000000
66     20130101  1400       +4                               19.000000

In [139]:
kw2013_pre_pro_8_fore4['value  location:73_135 Start : 20130101 '] = kw2013_pre_pro_8_fore4['value  location:73_135 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3942548029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8_fore4['value  location:73_135 Start : 20130101 '] = kw2013_pre_pro_8_fore4['value  location:73_135 Start : 20130101 '].astype('float')

In [140]:
kw2013_pre_pro_8_final = pd.DataFrame(kw2013_pre_pro_8_fore4['value  location:73_135 Start : 20130101 '].groupby(kw2013_pre_pro_8_fore4[' format: day']).mean())

In [141]:
kw2013_pre_pro_8_final.reset_index(level=[' format: day'], inplace = True)
kw2013_pre_pro_8_final

     format: day  value  location:73_135 Start : 20130101
0       20130101                                   32.2500
1       20130102                                    0.0000
2       20130103                                    0.0000
3       20130104                                    8.7500
4       20130105                                    6.2500
..           ...                                       ...
360     20131227                                    1.2500
361     20131228                                   13.8125
362     20131229                                   23.7500
363     20131230                                   16.1875
364     20131231                                   32.2500

[365 rows x 2 columns]

In [142]:
kw2013_pre_pro_8_final.rename(columns={' format: day':'date', 'value  location:73_135 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [143]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_8_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101       32.5000
1     20130102        0.0000
2     20130103        0.0000
3     20130104        8.7500
4     20130105        6.2500
...        ...           ...
2915  20131227        1.2500
2916  20131228       13.8125
2917  20131229       23.7500
2918  20131230       16.1875
2919  20131231       32.2500

[2920 rows x 2 columns]

In [144]:
for i in range(len(kw2013_pre_pro_9[" format: day"])):
    if len(kw2013_pre_pro_9[" format: day"][i]) == 1:
        kw2013_pre_pro_9[" format: day"][i] = "0" + kw2013_pre_pro_9[" format: day"][i]

In [145]:
kw2013_pre_pro_9 = kw2013_pre_pro_9.loc[:52283]

In [146]:
kw2013_pre_pro_9.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_9.loc[:4091][" format: day"]
kw2013_pre_pro_9.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_9.loc[4093:7788][" format: day"]
kw2013_pre_pro_9.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_9.loc[7790:11881][" format: day"]
kw2013_pre_pro_9.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_9.loc[11883:15842][" format: day"]
kw2013_pre_pro_9.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_9.loc[15844:19935][" format: day"]
kw2013_pre_pro_9.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_9.loc[19937:23896][" format: day"]
kw2013_pre_pro_9.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_9.loc[23898:27989][" format: day"]
kw2013_pre_pro_9.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_9.loc[27991:32082][" format: day"]
kw2013_pre_pro_9.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_9.loc[32084:36043][" format: day"]
kw2013_pre_pro_9.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_9.loc[36045:40136][" format: day"]
kw2013_pre_pro_9.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_9.loc[40138:44097][" format: day"]
kw2013_pre_pro_9.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_9.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_9.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_9.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_9.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_9.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_9.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_9.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_9.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_9.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_9.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_9.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_9.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/790269881.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_9.loc[44099:52283][" format: day"]

In [147]:
kw2013_pre_pro_9 = kw2013_pre_pro_9.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [148]:
kw2013_pre_pro_9_fore4 = kw2013_pre_pro_9[kw2013_pre_pro_9['forecast']== '+4']
kw2013_pre_pro_9_fore4.head()

    format: day  hour forecast value  location:89_130 Start : 20130101
0      20130101  0200       +4                               56.000000
16     20130101  0500       +4                               19.000000
31     20130101  0800       +4                               22.000000
49     20130101  1100       +4                               57.000000
66     20130101  1400       +4                               56.000000

In [149]:
kw2013_pre_pro_9_fore4['value  location:89_130 Start : 20130101 '] = kw2013_pre_pro_9_fore4['value  location:89_130 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1375736621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9_fore4['value  location:89_130 Start : 20130101 '] = kw2013_pre_pro_9_fore4['value  location:89_130 Start : 20130101 '].astype('float')

In [150]:
kw2013_pre_pro_9_final = pd.DataFrame(kw2013_pre_pro_9_fore4['value  location:89_130 Start : 20130101 '].groupby(kw2013_pre_pro_9_fore4[' format: day']).mean())

In [151]:
kw2013_pre_pro_9_final.reset_index(level=[' format: day'], inplace = True)
kw2013_pre_pro_9_final

     format: day  value  location:89_130 Start : 20130101
0       20130101                                   29.7500
1       20130102                                    0.0000
2       20130103                                    0.0000
3       20130104                                    0.5000
4       20130105                                    0.2500
..           ...                                       ...
360     20131227                                    0.6875
361     20131228                                   13.1250
362     20131229                                   13.9375
363     20131230                                   16.7500
364     20131231                                   28.1875

[365 rows x 2 columns]

In [152]:
kw2013_pre_pro_9_final.rename(columns={' format: day':'date', 'value  location:89_130 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [153]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_9_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101       32.5000
1     20130102        0.0000
2     20130103        0.0000
3     20130104        8.7500
4     20130105        6.2500
...        ...           ...
3280  20131227        0.6875
3281  20131228       13.1250
3282  20131229       13.9375
3283  20131230       16.7500
3284  20131231       28.1875

[3285 rows x 2 columns]

In [154]:
for i in range(len(kw2013_pre_pro_10[" format: day"])):
    if len(kw2013_pre_pro_10[" format: day"][i]) == 1:
        kw2013_pre_pro_10[" format: day"][i] = "0" + kw2013_pre_pro_10[" format: day"][i]

In [155]:
kw2013_pre_pro_10 = kw2013_pre_pro_10.loc[:52283]

In [156]:
kw2013_pre_pro_10.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_10.loc[:4091][" format: day"]
kw2013_pre_pro_10.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_10.loc[4093:7788][" format: day"]
kw2013_pre_pro_10.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_10.loc[7790:11881][" format: day"]
kw2013_pre_pro_10.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_10.loc[11883:15842][" format: day"]
kw2013_pre_pro_10.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_10.loc[15844:19935][" format: day"]
kw2013_pre_pro_10.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_10.loc[19937:23896][" format: day"]
kw2013_pre_pro_10.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_10.loc[23898:27989][" format: day"]
kw2013_pre_pro_10.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_10.loc[27991:32082][" format: day"]
kw2013_pre_pro_10.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_10.loc[32084:36043][" format: day"]
kw2013_pre_pro_10.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_10.loc[36045:40136][" format: day"]
kw2013_pre_pro_10.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_10.loc[40138:44097][" format: day"]
kw2013_pre_pro_10.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_10.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_10.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_10.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_10.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_10.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_10.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_10.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_10.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_10.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_10.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_10.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_10.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2993099666.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_10.loc[44099:52283][" format: day"]

In [157]:
kw2013_pre_pro_10 = kw2013_pre_pro_10.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [158]:
kw2013_pre_pro_10_fore4 = kw2013_pre_pro_10[kw2013_pre_pro_10['forecast']== '+4']
kw2013_pre_pro_10_fore4.head()

    format: day  hour forecast value  location:75_130 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               70.000000
49     20130101  1100       +4                               70.000000
66     20130101  1400       +4                               20.000000

In [159]:
kw2013_pre_pro_10_fore4['value  location:75_130 Start : 20130101 '] = kw2013_pre_pro_10_fore4['value  location:75_130 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3502059038.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10_fore4['value  location:75_130 Start : 20130101 '] = kw2013_pre_pro_10_fore4['value  location:75_130 Start : 20130101 '].astype('float')

In [160]:
kw2013_pre_pro_10_final = pd.DataFrame(kw2013_pre_pro_10_fore4['value  location:75_130 Start : 20130101 '].groupby(kw2013_pre_pro_10_fore4[' format: day']).mean())

In [161]:
kw2013_pre_pro_10_final.reset_index(level=[' format: day'], inplace = True)
kw2013_pre_pro_10_final

     format: day  value  location:75_130 Start : 20130101
0       20130101                                    32.500
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     8.750
4       20130105                                     6.250
..           ...                                       ...
360     20131227                                     1.250
361     20131228                                    13.750
362     20131229                                    21.875
363     20131230                                    15.625
364     20131231                                    30.625

[365 rows x 2 columns]

In [162]:
kw2013_pre_pro_10_final.rename(columns={' format: day':'date', 'value  location:75_130 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [163]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_10_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        32.500
1     20130102         0.000
2     20130103         0.000
3     20130104         8.750
4     20130105         6.250
...        ...           ...
3645  20131227         1.250
3646  20131228        13.750
3647  20131229        21.875
3648  20131230        15.625
3649  20131231        30.625

[3650 rows x 2 columns]

In [164]:
for i in range(len(kw2013_pre_pro_11[" format: day"])):
    if len(kw2013_pre_pro_11[" format: day"][i]) == 1:
        kw2013_pre_pro_11[" format: day"][i] = "0" + kw2013_pre_pro_11[" format: day"][i]

In [165]:
kw2013_pre_pro_11 = kw2013_pre_pro_11.loc[:52283]

In [166]:
kw2013_pre_pro_11.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_11.loc[:4091][" format: day"]
kw2013_pre_pro_11.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_11.loc[4093:7788][" format: day"]
kw2013_pre_pro_11.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_11.loc[7790:11881][" format: day"]
kw2013_pre_pro_11.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_11.loc[11883:15842][" format: day"]
kw2013_pre_pro_11.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_11.loc[15844:19935][" format: day"]
kw2013_pre_pro_11.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_11.loc[19937:23896][" format: day"]
kw2013_pre_pro_11.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_11.loc[23898:27989][" format: day"]
kw2013_pre_pro_11.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_11.loc[27991:32082][" format: day"]
kw2013_pre_pro_11.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_11.loc[32084:36043][" format: day"]
kw2013_pre_pro_11.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_11.loc[36045:40136][" format: day"]
kw2013_pre_pro_11.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_11.loc[40138:44097][" format: day"]
kw2013_pre_pro_11.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_11.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_11.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_11.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_11.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_11.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_11.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_11.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_11.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_11.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_11.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_11.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_11.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3508227640.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_11.loc[44099:52283][" format: day"]

In [167]:
kw2013_pre_pro_11 = kw2013_pre_pro_11.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [168]:
kw2013_pre_pro_11_fore4 = kw2013_pre_pro_11[kw2013_pre_pro_11['forecast']== '+4']
kw2013_pre_pro_11_fore4.head()

    format: day  hour forecast value  location:87_142 Start : 20130101
0      20130101  0200       +4                               10.000000
16     20130101  0500       +4                               10.000000
31     20130101  0800       +4                               20.000000
49     20130101  1100       +4                               20.000000
66     20130101  1400       +4                               20.000000

In [169]:
kw2013_pre_pro_11_fore4['value  location:87_142 Start : 20130101 '] = kw2013_pre_pro_11_fore4['value  location:87_142 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/363681604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11_fore4['value  location:87_142 Start : 20130101 '] = kw2013_pre_pro_11_fore4['value  location:87_142 Start : 20130101 '].astype('float')

In [170]:
kw2013_pre_pro_11_final = pd.DataFrame(kw2013_pre_pro_11_fore4['value  location:87_142 Start : 20130101 '].groupby(kw2013_pre_pro_11_fore4[' format: day']).mean())

In [171]:
kw2013_pre_pro_11_final.reset_index(level=[' format: day'], inplace = True)
kw2013_pre_pro_11_final

     format: day  value  location:87_142 Start : 20130101
0       20130101                                    11.250
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     0.000
4       20130105                                     0.000
..           ...                                       ...
360     20131227                                     1.875
361     20131228                                     8.125
362     20131229                                    10.000
363     20131230                                    16.875
364     20131231                                    26.875

[365 rows x 2 columns]

In [172]:
kw2013_pre_pro_11_final.rename(columns={' format: day':'date', 'value  location:87_142 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [173]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_11_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        32.500
1     20130102         0.000
2     20130103         0.000
3     20130104         8.750
4     20130105         6.250
...        ...           ...
4010  20131227         1.875
4011  20131228         8.125
4012  20131229        10.000
4013  20131230        16.875
4014  20131231        26.875

[4015 rows x 2 columns]

In [174]:
kw2013_pre_pro_12 = pd.read_csv('2013/강원/송정동_강수확률_201301_201312.csv')

In [175]:
kw2013_pre_pro_12

       format: day  hour forecast value  location:97_126 Start : 20130101
0                1  0200       +4                               10.000000
1                1  0200       +7                               10.000000
2                1  0200      +10                               20.000000
3                1  0200      +13                               20.000000
4                1  0200      +16                               20.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               10.000000
96380           31  2300      +46                               20.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [176]:
kw2013_pre_pro_12[" format: day"] = kw2013_pre_pro_12[" format: day"].str.replace(" ", "")

In [177]:
for i in range(len(kw2013_pre_pro_12[" format: day"])):
    if len(kw2013_pre_pro_12[" format: day"][i]) == 1:
        kw2013_pre_pro_12[" format: day"][i] = "0" + kw2013_pre_pro_12[" format: day"][i]

In [178]:
kw2013_pre_pro_12 = kw2013_pre_pro_12.loc[:52283]

In [179]:
kw2013_pre_pro_12.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_12.loc[:4091][" format: day"]
kw2013_pre_pro_12.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_12.loc[4093:7788][" format: day"]
kw2013_pre_pro_12.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_12.loc[7790:11881][" format: day"]
kw2013_pre_pro_12.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_12.loc[11883:15842][" format: day"]
kw2013_pre_pro_12.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_12.loc[15844:19935][" format: day"]
kw2013_pre_pro_12.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_12.loc[19937:23896][" format: day"]
kw2013_pre_pro_12.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_12.loc[23898:27989][" format: day"]
kw2013_pre_pro_12.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_12.loc[27991:32082][" format: day"]
kw2013_pre_pro_12.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_12.loc[32084:36043][" format: day"]
kw2013_pre_pro_12.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_12.loc[36045:40136][" format: day"]
kw2013_pre_pro_12.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_12.loc[40138:44097][" format: day"]
kw2013_pre_pro_12.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_12.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_12.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_12.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_12.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_12.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_12.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_12.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_12.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_12.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_12.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_12.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_12.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1282555193.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_12.loc[44099:52283][" format: day"]

In [180]:
kw2013_pre_pro_12 = kw2013_pre_pro_12.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [181]:
kw2013_pre_pro_12_fore4 = kw2013_pre_pro_12[kw2013_pre_pro_12['forecast']== '+4']
kw2013_pre_pro_12_fore4.head()

    format: day  hour forecast value  location:97_126 Start : 20130101
0      20130101  0200       +4                               10.000000
16     20130101  0500       +4                               10.000000
31     20130101  0800       +4                               20.000000
49     20130101  1100       +4                               20.000000
66     20130101  1400       +4                               20.000000

In [182]:
kw2013_pre_pro_12_fore4['value  location:97_126 Start : 20130101 '] = kw2013_pre_pro_12_fore4['value  location:97_126 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4202742391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12_fore4['value  location:97_126 Start : 20130101 '] = kw2013_pre_pro_12_fore4['value  location:97_126 Start : 20130101 '].astype('float')

In [183]:
kw2013_pre_pro_12_final = pd.DataFrame(kw2013_pre_pro_12_fore4['value  location:97_126 Start : 20130101 '].groupby(kw2013_pre_pro_12_fore4[' format: day']).mean())

In [184]:
kw2013_pre_pro_12_final.reset_index(level=[' format: day'], inplace = True)
kw2013_pre_pro_12_final

     format: day  value  location:97_126 Start : 20130101
0       20130101                                    11.250
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     0.000
4       20130105                                     0.000
..           ...                                       ...
360     20131227                                     1.875
361     20131228                                     6.875
362     20131229                                     9.375
363     20131230                                    16.875
364     20131231                                    26.875

[365 rows x 2 columns]

In [185]:
kw2013_pre_pro_12_final.rename(columns={' format: day':'date', 'value  location:97_126 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [186]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_12_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        32.500
1     20130102         0.000
2     20130103         0.000
3     20130104         8.750
4     20130105         6.250
...        ...           ...
4375  20131227         1.875
4376  20131228         6.875
4377  20131229         9.375
4378  20131230        16.875
4379  20131231        26.875

[4380 rows x 2 columns]

In [187]:
for i in range(len(kw2013_pre_pro_13[" format: day"])):
    if len(kw2013_pre_pro_13[" format: day"][i]) == 1:
        kw2013_pre_pro_13[" format: day"][i] = "0" + kw2013_pre_pro_13[" format: day"][i]

In [188]:
kw2013_pre_pro_13 = kw2013_pre_pro_13.loc[:52283]

In [189]:
kw2013_pre_pro_13.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_13.loc[:4091][" format: day"]
kw2013_pre_pro_13.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_13.loc[4093:7788][" format: day"]
kw2013_pre_pro_13.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_13.loc[7790:11881][" format: day"]
kw2013_pre_pro_13.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_13.loc[11883:15842][" format: day"]
kw2013_pre_pro_13.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_13.loc[15844:19935][" format: day"]
kw2013_pre_pro_13.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_13.loc[19937:23896][" format: day"]
kw2013_pre_pro_13.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_13.loc[23898:27989][" format: day"]
kw2013_pre_pro_13.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_13.loc[27991:32082][" format: day"]
kw2013_pre_pro_13.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_13.loc[32084:36043][" format: day"]
kw2013_pre_pro_13.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_13.loc[36045:40136][" format: day"]
kw2013_pre_pro_13.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_13.loc[40138:44097][" format: day"]
kw2013_pre_pro_13.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_13.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_13.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_13.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_13.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_13.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_13.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_13.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_13.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_13.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_13.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_13.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_13.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3721616457.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_13.loc[44099:52283][" format: day"]

In [190]:
kw2013_pre_pro_13 = kw2013_pre_pro_13.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [191]:
kw2013_pre_pro_13_fore4 = kw2013_pre_pro_13[kw2013_pre_pro_13['forecast']== '+4']
kw2013_pre_pro_13_fore4.head()

    format: day  hour forecast value  location:92_133 Start : 20130101
0      20130101  0200       +4                               10.000000
16     20130101  0500       +4                               10.000000
31     20130101  0800       +4                               20.000000
49     20130101  1100       +4                               20.000000
66     20130101  1400       +4                               20.000000

In [192]:
kw2013_pre_pro_13_fore4['value  location:92_133 Start : 20130101 '] = kw2013_pre_pro_13_fore4['value  location:92_133 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2182608589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13_fore4['value  location:92_133 Start : 20130101 '] = kw2013_pre_pro_13_fore4['value  location:92_133 Start : 20130101 '].astype('float')

In [193]:
kw2013_pre_pro_13_final = pd.DataFrame(kw2013_pre_pro_13_fore4['value  location:92_133 Start : 20130101 '].groupby(kw2013_pre_pro_13_fore4[' format: day']).mean())

In [194]:
kw2013_pre_pro_13_final.reset_index(level=[' format: day'], inplace = True)
kw2013_pre_pro_13_final

     format: day  value  location:92_133 Start : 20130101
0       20130101                                    11.250
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     0.000
4       20130105                                     0.000
..           ...                                       ...
360     20131227                                     1.875
361     20131228                                     6.875
362     20131229                                     9.375
363     20131230                                    16.875
364     20131231                                    26.875

[365 rows x 2 columns]

In [195]:
kw2013_pre_pro_13_final.rename(columns={' format: day':'date', 'value  location:92_133 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [196]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_13_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        32.500
1     20130102         0.000
2     20130103         0.000
3     20130104         8.750
4     20130105         6.250
...        ...           ...
4740  20131227         1.875
4741  20131228         6.875
4742  20131229         9.375
4743  20131230        16.875
4744  20131231        26.875

[4745 rows x 2 columns]

In [197]:
for i in range(len(kw2013_pre_pro_14[" format: day"])):
    if len(kw2013_pre_pro_14[" format: day"][i]) == 1:
        kw2013_pre_pro_14[" format: day"][i] = "0" + kw2013_pre_pro_14[" format: day"][i]

In [198]:
kw2013_pre_pro_14 = kw2013_pre_pro_14.loc[:52283]

In [199]:
kw2013_pre_pro_14.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_14.loc[:4091][" format: day"]
kw2013_pre_pro_14.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_14.loc[4093:7788][" format: day"]
kw2013_pre_pro_14.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_14.loc[7790:11881][" format: day"]
kw2013_pre_pro_14.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_14.loc[11883:15842][" format: day"]
kw2013_pre_pro_14.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_14.loc[15844:19935][" format: day"]
kw2013_pre_pro_14.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_14.loc[19937:23896][" format: day"]
kw2013_pre_pro_14.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_14.loc[23898:27989][" format: day"]
kw2013_pre_pro_14.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_14.loc[27991:32082][" format: day"]
kw2013_pre_pro_14.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_14.loc[32084:36043][" format: day"]
kw2013_pre_pro_14.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_14.loc[36045:40136][" format: day"]
kw2013_pre_pro_14.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_14.loc[40138:44097][" format: day"]
kw2013_pre_pro_14.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_14.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[:4091][" format: day"] = "201301" + kw2013_pre_pro_14.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[4093:7788][" format: day"] = "201302" + kw2013_pre_pro_14.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[7790:11881][" format: day"] = "201303" + kw2013_pre_pro_14.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[11883:15842][" format: day"] = "201304" + kw2013_pre_pro_14.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[15844:19935][" format: day"] = "201305" + kw2013_pre_pro_14.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[19937:23896][" format: day"] = "201306" + kw2013_pre_pro_14.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[23898:27989][" format: day"] = "201307" + kw2013_pre_pro_14.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[27991:32082][" format: day"] = "201308" + kw2013_pre_pro_14.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[32084:36043][" format: day"] = "201309" + kw2013_pre_pro_14.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[36045:40136][" format: day"] = "201310" + kw2013_pre_pro_14.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[40138:44097][" format: day"] = "201311" + kw2013_pre_pro_14.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2774782014.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[44099:52283][" format: day"] = "201312" + kw2013_pre_pro_14.loc[44099:52283][" format: day"]

In [200]:
kw2013_pre_pro_14 = kw2013_pre_pro_14.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [201]:
kw2013_pre_pro_14_fore4 = kw2013_pre_pro_14[kw2013_pre_pro_14['forecast']== '+4']
kw2013_pre_pro_14_fore4.head()

    format: day  hour forecast value  location:80_138 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               70.000000
49     20130101  1100       +4                               70.000000
66     20130101  1400       +4                               30.000000

In [202]:
kw2013_pre_pro_14_fore4['value  location:80_138 Start : 20130101 '] = kw2013_pre_pro_14_fore4['value  location:80_138 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2529654778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14_fore4['value  location:80_138 Start : 20130101 '] = kw2013_pre_pro_14_fore4['value  location:80_138 Start : 20130101 '].astype('float')

In [203]:
kw2013_pre_pro_14_final = pd.DataFrame(kw2013_pre_pro_14_fore4['value  location:80_138 Start : 20130101 '].groupby(kw2013_pre_pro_14_fore4[' format: day']).mean())

In [204]:
kw2013_pre_pro_14_final.reset_index(level=[' format: day'], inplace = True)
kw2013_pre_pro_14_final

     format: day  value  location:80_138 Start : 20130101
0       20130101                                    33.750
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     8.750
4       20130105                                     6.250
..           ...                                       ...
360     20131227                                     1.250
361     20131228                                    13.750
362     20131229                                    21.875
363     20131230                                    15.625
364     20131231                                    30.000

[365 rows x 2 columns]

In [205]:
kw2013_pre_pro_14_final.rename(columns={' format: day':'date', 'value  location:80_138 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [206]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_14_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20130101        32.500
1     20130102         0.000
2     20130103         0.000
3     20130104         8.750
4     20130105         6.250
...        ...           ...
5105  20131227         1.250
5106  20131228        13.750
5107  20131229        21.875
5108  20131230        15.625
5109  20131231        30.000

[5110 rows x 2 columns]

In [207]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())

In [209]:
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro

         date  pre_pro_mean
0    20130101     27.330357
1    20130102      0.000000
2    20130103      0.000000
3    20130104      5.151786
4    20130105      3.866071
..        ...           ...
360  20131227      1.209821
361  20131228     12.062500
362  20131229     18.040179
363  20131230     16.000000
364  20131231     29.419643

[365 rows x 2 columns]

In [210]:
pre_pro['area'] = '강원'

In [211]:
pre_pro

         date  pre_pro_mean area
0    20130101     27.330357   강원
1    20130102      0.000000   강원
2    20130103      0.000000   강원
3    20130104      5.151786   강원
4    20130105      3.866071   강원
..        ...           ...  ...
360  20131227      1.209821   강원
361  20131228     12.062500   강원
362  20131229     18.040179   강원
363  20131230     16.000000   강원
364  20131231     29.419643   강원

[365 rows x 3 columns]

In [212]:
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]

In [213]:
pre_pro

         date area  pre_pro_mean
0    20130101   강원     27.330357
1    20130102   강원      0.000000
2    20130103   강원      0.000000
3    20130104   강원      5.151786
4    20130105   강원      3.866071
..        ...  ...           ...
360  20131227   강원      1.209821
361  20131228   강원     12.062500
362  20131229   강원     18.040179
363  20131230   강원     16.000000
364  20131231   강원     29.419643

[365 rows x 3 columns]

In [214]:
gg2013_pre_pro = glob.glob(os.path.join("2013/경기", "*_강수확률_201301_201312.csv"))

In [215]:
gg2013_pre_pro

['2013/경기/생연1동_강수확률_201301_201312.csv',
 '2013/경기/양평읍_강수확률_201301_201312.csv',
 '2013/경기/부발읍_강수확률_201301_201312.csv',
 '2013/경기/문산읍_강수확률_201301_201312.csv',
 '2013/경기/평동_강수확률_201301_201312.csv']

In [216]:
j=1
for i in gg2013_pre_pro:
    globals()['gg2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [217]:
gg2013_pre_pro_1

       format: day  hour forecast value  location:61_134 Start : 20130101
0                1  0200       +4                               30.000000
1                1  0200       +7                               30.000000
2                1  0200      +10                               70.000000
3                1  0200      +13                               60.000000
4                1  0200      +16                               20.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               20.000000
96380           31  2300      +46                               20.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [218]:
gg2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96383 entries, 0 to 96382
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              96383 non-null  object
 1   hour                                      96361 non-null  object
 2   forecast                                  96361 non-null  object
 3   value  location:61_134 Start : 20130101   96361 non-null  object
dtypes: object(4)
memory usage: 2.9+ MB

In [219]:
gg2013_pre_pro_1[" format: day"].value_counts()

 1                    3168
 16                   3168
 28                   3168
 27                   3168
 26                   3168
 25                   3168
 24                   3168
 23                   3168
 2                    3168
 21                   3168
 20                   3168
 19                   3168
 18                   3168
 17                   3168
 22                   3168
 15                   3168
 14                   3168
 13                   3168
 12                   3168
 11                   3168
 10                   3168
 9                    3168
 8                    3168
 7                    3168
 6                    3168
 5                    3168
 4                    3168
 3                    3168
 30                   2904
 29                   2904
 31                   1848
 Start : 20130201        2
 Start : 20130301        2
 Start : 20130401        2
 Start : 20130501        2
 Start : 20130601        2
 Start : 20130701        2
 Start : 20130801        2
 Start : 20130901        2
 Start : 20131001        2
 Start : 20131101        2
 Start : 20131201        2
  format: day            1
Name:  format: day, dtype: int64

In [220]:
gg2013_pre_pro_1[" format: day"].unique()

array([' 1', ' 2', ' 3', ' 4', ' 5', ' 6', ' 7', ' 8', ' 9', ' 10', ' 11',
       ' 12', ' 13', ' 14', ' 15', ' 16', ' 17', ' 18', ' 19', ' 20',
       ' 21', ' 22', ' 23', ' 24', ' 25', ' 26', ' 27', ' 28', ' 29',
       ' 30', ' 31', ' Start : 20130201 ', ' Start : 20130301 ',
       ' Start : 20130401 ', ' Start : 20130501 ', ' Start : 20130601 ',
       ' Start : 20130701 ', ' Start : 20130801 ', ' Start : 20130901 ',
       ' Start : 20131001 ', ' Start : 20131101 ', ' Start : 20131201 ',
       '  format: day'], dtype=object)

In [222]:
j=1
for i in gg2013_pre_pro:
    globals()['gg2013_pre_pro_{}'.format(j)][" format: day"] = globals()['gg2013_pre_pro_{}'.format(j)][" format: day"].str.replace(" ", "")
    j+=1

In [223]:
gg2013_pre_pro_1[" format: day"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', 'Start:20130201',
       'Start:20130301', 'Start:20130401', 'Start:20130501',
       'Start:20130601', 'Start:20130701', 'Start:20130801',
       'Start:20130901', 'Start:20131001', 'Start:20131101',
       'Start:20131201', 'format:day'], dtype=object)

In [224]:
for i in range(len(gg2013_pre_pro_1[" format: day"])):
    if len(gg2013_pre_pro_1[" format: day"][i]) == 1:
        gg2013_pre_pro_1[" format: day"][i] = "0" + gg2013_pre_pro_1[" format: day"][i]

In [225]:
gg2013_pre_pro_1[" format: day"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'Start:20130201', 'Start:20130301', 'Start:20130401',
       'Start:20130501', 'Start:20130601', 'Start:20130701',
       'Start:20130801', 'Start:20130901', 'Start:20131001',
       'Start:20131101', 'Start:20131201', 'format:day'], dtype=object)

In [227]:
print(gg2013_pre_pro_1.loc[(gg2013_pre_pro_1[' format: day'] == 'Start:20130201') |
                           (gg2013_pre_pro_1[' format: day'] == 'Start:20130301') |
                           (gg2013_pre_pro_1[' format: day'] == 'Start:20130401') |
                           (gg2013_pre_pro_1[' format: day'] == 'Start:20130501') |
                           (gg2013_pre_pro_1[' format: day'] == 'Start:20130601') |
                           (gg2013_pre_pro_1[' format: day'] == 'Start:20130701') |
                           (gg2013_pre_pro_1[' format: day'] == 'Start:20130801') |
                           (gg2013_pre_pro_1[' format: day'] == 'Start:20130901') |
                           (gg2013_pre_pro_1[' format: day'] == 'Start:20131001') |
                           (gg2013_pre_pro_1[' format: day'] == 'Start:20131101') |
                           (gg2013_pre_pro_1[' format: day'] == 'Start:20131201')])

          format: day hour forecast value  location:61_134 Start : 20130101
4092   Start:20130201  NaN      NaN                                      NaN
7789   Start:20130301  NaN      NaN                                      NaN
11882  Start:20130401  NaN      NaN                                      NaN
15843  Start:20130501  NaN      NaN                                      NaN
19936  Start:20130601  NaN      NaN                                      NaN
23897  Start:20130701  NaN      NaN                                      NaN
27990  Start:20130801  NaN      NaN                                      NaN
32083  Start:20130901  NaN      NaN                                      NaN
36044  Start:20131001  NaN      NaN                                      NaN
40137  Start:20131101  NaN      NaN                                      NaN
44098  Start:20131201  NaN      NaN                                      NaN
52284  Start:20130201  NaN      NaN                                      NaN
55981  Start:20130301  NaN      NaN                                      NaN
60074  Start:20130401  NaN      NaN                                      NaN
64035  Start:20130501  NaN      NaN                                      NaN
68128  Start:20130601  NaN      NaN                                      NaN
72089  Start:20130701  NaN      NaN                                      NaN
76182  Start:20130801  NaN      NaN                                      NaN
80275  Start:20130901  NaN      NaN                                      NaN
84236  Start:20131001  NaN      NaN                                      NaN
88329  Start:20131101  NaN      NaN                                      NaN
92290  Start:20131201  NaN      NaN                                      NaN

In [228]:
gg2013_pre_pro_1 = gg2013_pre_pro_1.loc[:52283]

In [230]:
gg2013_pre_pro_1.loc[:4091][" format: day"] = "201301" + gg2013_pre_pro_1.loc[:4091][" format: day"]
gg2013_pre_pro_1.loc[4093:7788][" format: day"] = "201302" + gg2013_pre_pro_1.loc[4093:7788][" format: day"]
gg2013_pre_pro_1.loc[7790:11881][" format: day"] = "201303" + gg2013_pre_pro_1.loc[7790:11881][" format: day"]
gg2013_pre_pro_1.loc[11883:15842][" format: day"] = "201304" + gg2013_pre_pro_1.loc[11883:15842][" format: day"]
gg2013_pre_pro_1.loc[15844:19935][" format: day"] = "201305" + gg2013_pre_pro_1.loc[15844:19935][" format: day"]
gg2013_pre_pro_1.loc[19937:23896][" format: day"] = "201306" + gg2013_pre_pro_1.loc[19937:23896][" format: day"]
gg2013_pre_pro_1.loc[23898:27989][" format: day"] = "201307" + gg2013_pre_pro_1.loc[23898:27989][" format: day"]
gg2013_pre_pro_1.loc[27991:32082][" format: day"] = "201308" + gg2013_pre_pro_1.loc[27991:32082][" format: day"]
gg2013_pre_pro_1.loc[32084:36043][" format: day"] = "201309" + gg2013_pre_pro_1.loc[32084:36043][" format: day"]
gg2013_pre_pro_1.loc[36045:40136][" format: day"] = "201310" + gg2013_pre_pro_1.loc[36045:40136][" format: day"]
gg2013_pre_pro_1.loc[40138:44097][" format: day"] = "201311" + gg2013_pre_pro_1.loc[40138:44097][" format: day"]
gg2013_pre_pro_1.loc[44099:52283][" format: day"] = "201312" + gg2013_pre_pro_1.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[:4091][" format: day"] = "201301" + gg2013_pre_pro_1.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[4093:7788][" format: day"] = "201302" + gg2013_pre_pro_1.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[7790:11881][" format: day"] = "201303" + gg2013_pre_pro_1.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[11883:15842][" format: day"] = "201304" + gg2013_pre_pro_1.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[15844:19935][" format: day"] = "201305" + gg2013_pre_pro_1.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[19937:23896][" format: day"] = "201306" + gg2013_pre_pro_1.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[23898:27989][" format: day"] = "201307" + gg2013_pre_pro_1.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[27991:32082][" format: day"] = "201308" + gg2013_pre_pro_1.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[32084:36043][" format: day"] = "201309" + gg2013_pre_pro_1.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[36045:40136][" format: day"] = "201310" + gg2013_pre_pro_1.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[40138:44097][" format: day"] = "201311" + gg2013_pre_pro_1.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331619538.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1.loc[44099:52283][" format: day"] = "201312" + gg2013_pre_pro_1.loc[44099:52283][" format: day"]

In [233]:
gg2013_pre_pro_1 = gg2013_pre_pro_1.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [235]:
print(gg2013_pre_pro_1.loc[(gg2013_pre_pro_1[' format: day'] == '201312format:day')])

            format: day  hour  forecast  \
48191  201312format:day  hour  forecast

       value  location:61_134 Start : 20130101
48191  value  location:61_134 Start : 20130101

In [236]:
gg2013_pre_pro_1 = gg2013_pre_pro_1.drop([48191], axis = 0)

In [238]:
gg2013_pre_pro_1_fore4 = gg2013_pre_pro_1[gg2013_pre_pro_1['forecast']== '+4']
gg2013_pre_pro_1_fore4.head()

    format: day  hour forecast value  location:61_134 Start : 20130101
0      20130101  0200       +4                               30.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               70.000000
49     20130101  1100       +4                               60.000000
66     20130101  1400       +4                               10.000000

In [239]:
gg2013_pre_pro_1_fore4['value  location:61_134 Start : 20130101 '] = gg2013_pre_pro_1_fore4['value  location:61_134 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1688615424.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_1_fore4['value  location:61_134 Start : 20130101 '] = gg2013_pre_pro_1_fore4['value  location:61_134 Start : 20130101 '].astype('float')

In [240]:
gg2013_pre_pro_1_final = pd.DataFrame(gg2013_pre_pro_1_fore4['value  location:61_134 Start : 20130101 '].groupby(gg2013_pre_pro_1_fore4[' format: day']).mean())

In [241]:
gg2013_pre_pro_1_final.reset_index(level=[' format: day'], inplace = True)
gg2013_pre_pro_1_final

     format: day  value  location:61_134 Start : 20130101
0       20130101                                    27.500
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     8.750
4       20130105                                     6.250
..           ...                                       ...
360     20131227                                     0.000
361     20131228                                    13.750
362     20131229                                    23.750
363     20131230                                    13.750
364     20131231                                    36.875

[365 rows x 2 columns]

In [242]:
gg2013_pre_pro_1_final.rename(columns={' format: day':'date', 'value  location:61_134 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [243]:
gg2013_pre_pro_1_final

         date  pre_pro_mean
0    20130101        27.500
1    20130102         0.000
2    20130103         0.000
3    20130104         8.750
4    20130105         6.250
..        ...           ...
360  20131227         0.000
361  20131228        13.750
362  20131229        23.750
363  20131230        13.750
364  20131231        36.875

[365 rows x 2 columns]

In [244]:
gg2013_pre_pro_final = pd.DataFrame()
gg2013_pre_pro_final = pd.concat([gg2013_pre_pro_final, gg2013_pre_pro_1_final], axis = 0, ignore_index=True)

In [245]:
gg2013_pre_pro_final

         date  pre_pro_mean
0    20130101        27.500
1    20130102         0.000
2    20130103         0.000
3    20130104         8.750
4    20130105         6.250
..        ...           ...
360  20131227         0.000
361  20131228        13.750
362  20131229        23.750
363  20131230        13.750
364  20131231        36.875

[365 rows x 2 columns]

In [246]:
for i in range(len(gg2013_pre_pro_2[" format: day"])):
    if len(gg2013_pre_pro_2[" format: day"][i]) == 1:
        gg2013_pre_pro_2[" format: day"][i] = "0" + gg2013_pre_pro_2[" format: day"][i]

In [248]:
gg2013_pre_pro_2 = gg2013_pre_pro_2.loc[:52283]

In [249]:
gg2013_pre_pro_2.loc[:4091][" format: day"] = "201301" + gg2013_pre_pro_2.loc[:4091][" format: day"]
gg2013_pre_pro_2.loc[4093:7788][" format: day"] = "201302" + gg2013_pre_pro_2.loc[4093:7788][" format: day"]
gg2013_pre_pro_2.loc[7790:11881][" format: day"] = "201303" + gg2013_pre_pro_2.loc[7790:11881][" format: day"]
gg2013_pre_pro_2.loc[11883:15842][" format: day"] = "201304" + gg2013_pre_pro_2.loc[11883:15842][" format: day"]
gg2013_pre_pro_2.loc[15844:19935][" format: day"] = "201305" + gg2013_pre_pro_2.loc[15844:19935][" format: day"]
gg2013_pre_pro_2.loc[19937:23896][" format: day"] = "201306" + gg2013_pre_pro_2.loc[19937:23896][" format: day"]
gg2013_pre_pro_2.loc[23898:27989][" format: day"] = "201307" + gg2013_pre_pro_2.loc[23898:27989][" format: day"]
gg2013_pre_pro_2.loc[27991:32082][" format: day"] = "201308" + gg2013_pre_pro_2.loc[27991:32082][" format: day"]
gg2013_pre_pro_2.loc[32084:36043][" format: day"] = "201309" + gg2013_pre_pro_2.loc[32084:36043][" format: day"]
gg2013_pre_pro_2.loc[36045:40136][" format: day"] = "201310" + gg2013_pre_pro_2.loc[36045:40136][" format: day"]
gg2013_pre_pro_2.loc[40138:44097][" format: day"] = "201311" + gg2013_pre_pro_2.loc[40138:44097][" format: day"]
gg2013_pre_pro_2.loc[44099:52283][" format: day"] = "201312" + gg2013_pre_pro_2.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[:4091][" format: day"] = "201301" + gg2013_pre_pro_2.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[4093:7788][" format: day"] = "201302" + gg2013_pre_pro_2.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[7790:11881][" format: day"] = "201303" + gg2013_pre_pro_2.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[11883:15842][" format: day"] = "201304" + gg2013_pre_pro_2.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[15844:19935][" format: day"] = "201305" + gg2013_pre_pro_2.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[19937:23896][" format: day"] = "201306" + gg2013_pre_pro_2.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[23898:27989][" format: day"] = "201307" + gg2013_pre_pro_2.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[27991:32082][" format: day"] = "201308" + gg2013_pre_pro_2.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[32084:36043][" format: day"] = "201309" + gg2013_pre_pro_2.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[36045:40136][" format: day"] = "201310" + gg2013_pre_pro_2.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[40138:44097][" format: day"] = "201311" + gg2013_pre_pro_2.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1312798911.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2.loc[44099:52283][" format: day"] = "201312" + gg2013_pre_pro_2.loc[44099:52283][" format: day"]

In [250]:
gg2013_pre_pro_2 = gg2013_pre_pro_2.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [251]:
gg2013_pre_pro_2_fore4 = gg2013_pre_pro_2[gg2013_pre_pro_2['forecast']== '+4']
gg2013_pre_pro_2_fore4.head()

    format: day  hour forecast value  location:69_125 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               70.000000
49     20130101  1100       +4                               70.000000
66     20130101  1400       +4                               10.000000

In [252]:
gg2013_pre_pro_2_fore4['value  location:69_125 Start : 20130101 '] = gg2013_pre_pro_2_fore4['value  location:69_125 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/889645243.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_2_fore4['value  location:69_125 Start : 20130101 '] = gg2013_pre_pro_2_fore4['value  location:69_125 Start : 20130101 '].astype('float')

In [253]:
gg2013_pre_pro_2_final = pd.DataFrame(gg2013_pre_pro_2_fore4['value  location:69_125 Start : 20130101 '].groupby(gg2013_pre_pro_2_fore4[' format: day']).mean())

In [254]:
gg2013_pre_pro_2_final.reset_index(level=[' format: day'], inplace = True)
gg2013_pre_pro_2_final

     format: day  value  location:69_125 Start : 20130101
0       20130101                                    31.250
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     8.750
4       20130105                                     6.250
..           ...                                       ...
360     20131227                                     0.625
361     20131228                                    14.375
362     20131229                                    24.375
363     20131230                                    13.750
364     20131231                                    33.750

[365 rows x 2 columns]

In [255]:
gg2013_pre_pro_2_final.rename(columns={' format: day':'date', 'value  location:69_125 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [257]:
gg2013_pre_pro_final = pd.concat([gg2013_pre_pro_final, gg2013_pre_pro_2_final], axis = 0, ignore_index=True)

In [258]:
gg2013_pre_pro_final

         date  pre_pro_mean
0    20130101        27.500
1    20130102         0.000
2    20130103         0.000
3    20130104         8.750
4    20130105         6.250
..        ...           ...
725  20131227         0.625
726  20131228        14.375
727  20131229        24.375
728  20131230        13.750
729  20131231        33.750

[730 rows x 2 columns]

In [259]:
gg2013_pre_pro_3

       format: day  hour forecast value  location:69_121 Start : 20130101
0                1  0200       +4                               54.000000
1                1  0200       +7                               60.000000
2                1  0200      +10                               70.000000
3                1  0200      +13                               70.000000
4                1  0200      +16                               18.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               20.000000
96380           31  2300      +46                               20.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [260]:
for i in range(len(gg2013_pre_pro_3[" format: day"])):
    if len(gg2013_pre_pro_3[" format: day"][i]) == 1:
        gg2013_pre_pro_3[" format: day"][i] = "0" + gg2013_pre_pro_3[" format: day"][i]

In [261]:
gg2013_pre_pro_3 = gg2013_pre_pro_3.loc[:52283]

In [262]:
gg2013_pre_pro_3.loc[:4091][" format: day"] = "201301" + gg2013_pre_pro_3.loc[:4091][" format: day"]
gg2013_pre_pro_3.loc[4093:7788][" format: day"] = "201302" + gg2013_pre_pro_3.loc[4093:7788][" format: day"]
gg2013_pre_pro_3.loc[7790:11881][" format: day"] = "201303" + gg2013_pre_pro_3.loc[7790:11881][" format: day"]
gg2013_pre_pro_3.loc[11883:15842][" format: day"] = "201304" + gg2013_pre_pro_3.loc[11883:15842][" format: day"]
gg2013_pre_pro_3.loc[15844:19935][" format: day"] = "201305" + gg2013_pre_pro_3.loc[15844:19935][" format: day"]
gg2013_pre_pro_3.loc[19937:23896][" format: day"] = "201306" + gg2013_pre_pro_3.loc[19937:23896][" format: day"]
gg2013_pre_pro_3.loc[23898:27989][" format: day"] = "201307" + gg2013_pre_pro_3.loc[23898:27989][" format: day"]
gg2013_pre_pro_3.loc[27991:32082][" format: day"] = "201308" + gg2013_pre_pro_3.loc[27991:32082][" format: day"]
gg2013_pre_pro_3.loc[32084:36043][" format: day"] = "201309" + gg2013_pre_pro_3.loc[32084:36043][" format: day"]
gg2013_pre_pro_3.loc[36045:40136][" format: day"] = "201310" + gg2013_pre_pro_3.loc[36045:40136][" format: day"]
gg2013_pre_pro_3.loc[40138:44097][" format: day"] = "201311" + gg2013_pre_pro_3.loc[40138:44097][" format: day"]
gg2013_pre_pro_3.loc[44099:52283][" format: day"] = "201312" + gg2013_pre_pro_3.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[:4091][" format: day"] = "201301" + gg2013_pre_pro_3.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[4093:7788][" format: day"] = "201302" + gg2013_pre_pro_3.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[7790:11881][" format: day"] = "201303" + gg2013_pre_pro_3.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[11883:15842][" format: day"] = "201304" + gg2013_pre_pro_3.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[15844:19935][" format: day"] = "201305" + gg2013_pre_pro_3.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[19937:23896][" format: day"] = "201306" + gg2013_pre_pro_3.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[23898:27989][" format: day"] = "201307" + gg2013_pre_pro_3.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[27991:32082][" format: day"] = "201308" + gg2013_pre_pro_3.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[32084:36043][" format: day"] = "201309" + gg2013_pre_pro_3.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[36045:40136][" format: day"] = "201310" + gg2013_pre_pro_3.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[40138:44097][" format: day"] = "201311" + gg2013_pre_pro_3.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2441674300.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3.loc[44099:52283][" format: day"] = "201312" + gg2013_pre_pro_3.loc[44099:52283][" format: day"]

In [263]:
gg2013_pre_pro_3 = gg2013_pre_pro_3.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [264]:
gg2013_pre_pro_3_fore4 = gg2013_pre_pro_3[gg2013_pre_pro_3['forecast']== '+4']
gg2013_pre_pro_3_fore4.head()

    format: day  hour forecast value  location:69_121 Start : 20130101
0      20130101  0200       +4                               54.000000
16     20130101  0500       +4                               54.000000
31     20130101  0800       +4                               70.000000
49     20130101  1100       +4                               70.000000
66     20130101  1400       +4                                8.000000

In [266]:
gg2013_pre_pro_3_fore4['value  location:69_121 Start : 20130101 '] = gg2013_pre_pro_3_fore4['value  location:69_121 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2286932455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_3_fore4['value  location:69_121 Start : 20130101 '] = gg2013_pre_pro_3_fore4['value  location:69_121 Start : 20130101 '].astype('float')

In [267]:
gg2013_pre_pro_3_final = pd.DataFrame(gg2013_pre_pro_3_fore4['value  location:69_121 Start : 20130101 '].groupby(gg2013_pre_pro_3_fore4[' format: day']).mean())

In [268]:
gg2013_pre_pro_3_final.reset_index(level=[' format: day'], inplace = True)

In [269]:
gg2013_pre_pro_3_final.rename(columns={' format: day':'date', 'value  location:69_121 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [270]:
gg2013_pre_pro_final = pd.concat([gg2013_pre_pro_final, gg2013_pre_pro_3_final], axis = 0, ignore_index=True)

In [272]:
gg2013_pre_pro_final

          date  pre_pro_mean
0     20130101       27.5000
1     20130102        0.0000
2     20130103        0.0000
3     20130104        8.7500
4     20130105        6.2500
...        ...           ...
1090  20131227        0.6250
1091  20131228       14.3750
1092  20131229       24.3750
1093  20131230       13.7500
1094  20131231       32.8125

[1095 rows x 2 columns]

In [273]:
for i in range(len(gg2013_pre_pro_4[" format: day"])):
    if len(gg2013_pre_pro_4[" format: day"][i]) == 1:
        gg2013_pre_pro_4[" format: day"][i] = "0" + gg2013_pre_pro_4[" format: day"][i]

In [274]:
gg2013_pre_pro_4 = gg2013_pre_pro_4.loc[:52283]

In [275]:
gg2013_pre_pro_4.loc[:4091][" format: day"] = "201301" + gg2013_pre_pro_4.loc[:4091][" format: day"]
gg2013_pre_pro_4.loc[4093:7788][" format: day"] = "201302" + gg2013_pre_pro_4.loc[4093:7788][" format: day"]
gg2013_pre_pro_4.loc[7790:11881][" format: day"] = "201303" + gg2013_pre_pro_4.loc[7790:11881][" format: day"]
gg2013_pre_pro_4.loc[11883:15842][" format: day"] = "201304" + gg2013_pre_pro_4.loc[11883:15842][" format: day"]
gg2013_pre_pro_4.loc[15844:19935][" format: day"] = "201305" + gg2013_pre_pro_4.loc[15844:19935][" format: day"]
gg2013_pre_pro_4.loc[19937:23896][" format: day"] = "201306" + gg2013_pre_pro_4.loc[19937:23896][" format: day"]
gg2013_pre_pro_4.loc[23898:27989][" format: day"] = "201307" + gg2013_pre_pro_4.loc[23898:27989][" format: day"]
gg2013_pre_pro_4.loc[27991:32082][" format: day"] = "201308" + gg2013_pre_pro_4.loc[27991:32082][" format: day"]
gg2013_pre_pro_4.loc[32084:36043][" format: day"] = "201309" + gg2013_pre_pro_4.loc[32084:36043][" format: day"]
gg2013_pre_pro_4.loc[36045:40136][" format: day"] = "201310" + gg2013_pre_pro_4.loc[36045:40136][" format: day"]
gg2013_pre_pro_4.loc[40138:44097][" format: day"] = "201311" + gg2013_pre_pro_4.loc[40138:44097][" format: day"]
gg2013_pre_pro_4.loc[44099:52283][" format: day"] = "201312" + gg2013_pre_pro_4.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[:4091][" format: day"] = "201301" + gg2013_pre_pro_4.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[4093:7788][" format: day"] = "201302" + gg2013_pre_pro_4.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[7790:11881][" format: day"] = "201303" + gg2013_pre_pro_4.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[11883:15842][" format: day"] = "201304" + gg2013_pre_pro_4.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[15844:19935][" format: day"] = "201305" + gg2013_pre_pro_4.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[19937:23896][" format: day"] = "201306" + gg2013_pre_pro_4.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[23898:27989][" format: day"] = "201307" + gg2013_pre_pro_4.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[27991:32082][" format: day"] = "201308" + gg2013_pre_pro_4.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[32084:36043][" format: day"] = "201309" + gg2013_pre_pro_4.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[36045:40136][" format: day"] = "201310" + gg2013_pre_pro_4.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[40138:44097][" format: day"] = "201311" + gg2013_pre_pro_4.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1270205917.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4.loc[44099:52283][" format: day"] = "201312" + gg2013_pre_pro_4.loc[44099:52283][" format: day"]

In [276]:
gg2013_pre_pro_4 = gg2013_pre_pro_4.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [277]:
gg2013_pre_pro_4_fore4 = gg2013_pre_pro_4[gg2013_pre_pro_4['forecast']== '+4']
gg2013_pre_pro_4_fore4.head()

    format: day  hour forecast value  location:56_133 Start : 20130101
0      20130101  0200       +4                               30.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               70.000000
49     20130101  1100       +4                               61.000000
66     20130101  1400       +4                               10.000000

In [278]:
gg2013_pre_pro_4_fore4['value  location:56_133 Start : 20130101 '] = gg2013_pre_pro_4_fore4['value  location:56_133 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3510660856.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_4_fore4['value  location:56_133 Start : 20130101 '] = gg2013_pre_pro_4_fore4['value  location:56_133 Start : 20130101 '].astype('float')

In [279]:
gg2013_pre_pro_4_final = pd.DataFrame(gg2013_pre_pro_4_fore4['value  location:56_133 Start : 20130101 '].groupby(gg2013_pre_pro_4_fore4[' format: day']).mean())

In [280]:
gg2013_pre_pro_4_final.reset_index(level=[' format: day'], inplace = True)

In [283]:
gg2013_pre_pro_4_final.rename(columns={' format: day':'date', 'value  location:56_133 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [284]:
gg2013_pre_pro_4_final

         date  pre_pro_mean
0    20130101       27.6250
1    20130102        0.0000
2    20130103        0.0000
3    20130104       13.7500
4    20130105        6.2500
..        ...           ...
360  20131227        0.0000
361  20131228       13.7500
362  20131229       23.7500
363  20131230       13.7500
364  20131231       35.0625

[365 rows x 2 columns]

In [285]:
gg2013_pre_pro_final = pd.concat([gg2013_pre_pro_final, gg2013_pre_pro_4_final], axis = 0, ignore_index=True)

In [286]:
gg2013_pre_pro_final

          date  pre_pro_mean
0     20130101       27.5000
1     20130102        0.0000
2     20130103        0.0000
3     20130104        8.7500
4     20130105        6.2500
...        ...           ...
1455  20131227        0.0000
1456  20131228       13.7500
1457  20131229       23.7500
1458  20131230       13.7500
1459  20131231       35.0625

[1460 rows x 2 columns]

In [287]:
for i in range(len(gg2013_pre_pro_5[" format: day"])):
    if len(gg2013_pre_pro_5[" format: day"][i]) == 1:
        gg2013_pre_pro_5[" format: day"][i] = "0" + gg2013_pre_pro_5[" format: day"][i]

In [288]:
gg2013_pre_pro_5 = gg2013_pre_pro_5.loc[:52283]

In [289]:
gg2013_pre_pro_5.loc[:4091][" format: day"] = "201301" + gg2013_pre_pro_5.loc[:4091][" format: day"]
gg2013_pre_pro_5.loc[4093:7788][" format: day"] = "201302" + gg2013_pre_pro_5.loc[4093:7788][" format: day"]
gg2013_pre_pro_5.loc[7790:11881][" format: day"] = "201303" + gg2013_pre_pro_5.loc[7790:11881][" format: day"]
gg2013_pre_pro_5.loc[11883:15842][" format: day"] = "201304" + gg2013_pre_pro_5.loc[11883:15842][" format: day"]
gg2013_pre_pro_5.loc[15844:19935][" format: day"] = "201305" + gg2013_pre_pro_5.loc[15844:19935][" format: day"]
gg2013_pre_pro_5.loc[19937:23896][" format: day"] = "201306" + gg2013_pre_pro_5.loc[19937:23896][" format: day"]
gg2013_pre_pro_5.loc[23898:27989][" format: day"] = "201307" + gg2013_pre_pro_5.loc[23898:27989][" format: day"]
gg2013_pre_pro_5.loc[27991:32082][" format: day"] = "201308" + gg2013_pre_pro_5.loc[27991:32082][" format: day"]
gg2013_pre_pro_5.loc[32084:36043][" format: day"] = "201309" + gg2013_pre_pro_5.loc[32084:36043][" format: day"]
gg2013_pre_pro_5.loc[36045:40136][" format: day"] = "201310" + gg2013_pre_pro_5.loc[36045:40136][" format: day"]
gg2013_pre_pro_5.loc[40138:44097][" format: day"] = "201311" + gg2013_pre_pro_5.loc[40138:44097][" format: day"]
gg2013_pre_pro_5.loc[44099:52283][" format: day"] = "201312" + gg2013_pre_pro_5.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[:4091][" format: day"] = "201301" + gg2013_pre_pro_5.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[4093:7788][" format: day"] = "201302" + gg2013_pre_pro_5.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[7790:11881][" format: day"] = "201303" + gg2013_pre_pro_5.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[11883:15842][" format: day"] = "201304" + gg2013_pre_pro_5.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[15844:19935][" format: day"] = "201305" + gg2013_pre_pro_5.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[19937:23896][" format: day"] = "201306" + gg2013_pre_pro_5.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[23898:27989][" format: day"] = "201307" + gg2013_pre_pro_5.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[27991:32082][" format: day"] = "201308" + gg2013_pre_pro_5.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[32084:36043][" format: day"] = "201309" + gg2013_pre_pro_5.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[36045:40136][" format: day"] = "201310" + gg2013_pre_pro_5.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[40138:44097][" format: day"] = "201311" + gg2013_pre_pro_5.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/938254240.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5.loc[44099:52283][" format: day"] = "201312" + gg2013_pre_pro_5.loc[44099:52283][" format: day"]

In [290]:
gg2013_pre_pro_5 = gg2013_pre_pro_5.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [291]:
gg2013_pre_pro_5_fore4 = gg2013_pre_pro_5[gg2013_pre_pro_5['forecast']== '+4']
gg2013_pre_pro_5_fore4.head()

    format: day  hour forecast value  location:60_120 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               60.000000
31     20130101  0800       +4                               70.000000
49     20130101  1100       +4                               70.000000
66     20130101  1400       +4                               10.000000

In [292]:
gg2013_pre_pro_5_fore4['value  location:60_120 Start : 20130101 '] = gg2013_pre_pro_5_fore4['value  location:60_120 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1944425985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg2013_pre_pro_5_fore4['value  location:60_120 Start : 20130101 '] = gg2013_pre_pro_5_fore4['value  location:60_120 Start : 20130101 '].astype('float')

In [293]:
gg2013_pre_pro_5_final = pd.DataFrame(gg2013_pre_pro_5_fore4['value  location:60_120 Start : 20130101 '].groupby(gg2013_pre_pro_5_fore4[' format: day']).mean())

In [294]:
gg2013_pre_pro_5_final.reset_index(level=[' format: day'], inplace = True)

In [295]:
gg2013_pre_pro_5_final

     format: day  value  location:60_120 Start : 20130101
0       20130101                                    36.250
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     8.750
4       20130105                                     6.250
..           ...                                       ...
360     20131227                                     0.625
361     20131228                                    14.375
362     20131229                                    24.375
363     20131230                                    13.750
364     20131231                                    36.250

[365 rows x 2 columns]

In [296]:
gg2013_pre_pro_5_final.rename(columns={' format: day':'date', 'value  location:60_120 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [301]:
gg2013_pre_pro_5_final

         date  pre_pro_mean
0    20130101        36.250
1    20130102         0.000
2    20130103         0.000
3    20130104         8.750
4    20130105         6.250
..        ...           ...
360  20131227         0.625
361  20131228        14.375
362  20131229        24.375
363  20131230        13.750
364  20131231        36.250

[365 rows x 2 columns]

In [302]:
gg2013_pre_pro_ffinal = pd.DataFrame()
gg2013_pre_pro_ffinal = pd.concat([gg2013_pre_pro_ffinal, gg2013_pre_pro_1_final], axis = 0, ignore_index=True)

In [304]:
gg2013_pre_pro_ffinal = pd.concat([gg2013_pre_pro_ffinal, gg2013_pre_pro_2_final], axis = 0, ignore_index=True)

In [305]:
gg2013_pre_pro_ffinal = pd.concat([gg2013_pre_pro_ffinal, gg2013_pre_pro_3_final], axis = 0, ignore_index=True)

In [306]:
gg2013_pre_pro_ffinal = pd.concat([gg2013_pre_pro_ffinal, gg2013_pre_pro_4_final], axis = 0, ignore_index=True)

In [307]:
gg2013_pre_pro_ffinal = pd.concat([gg2013_pre_pro_ffinal, gg2013_pre_pro_5_final], axis = 0, ignore_index=True)

In [308]:
gg2013_pre_pro_ffinal

          date  pre_pro_mean
0     20130101        27.500
1     20130102         0.000
2     20130103         0.000
3     20130104         8.750
4     20130105         6.250
...        ...           ...
1820  20131227         0.625
1821  20131228        14.375
1822  20131229        24.375
1823  20131230        13.750
1824  20131231        36.250

[1825 rows x 2 columns]

In [309]:
gg_pre_pro = pd.DataFrame(gg2013_pre_pro_ffinal['pre_pro_mean'].groupby(gg2013_pre_pro_ffinal['date']).mean())

In [311]:
gg_pre_pro.reset_index(level=['date'], inplace = True)
gg_pre_pro['area'] = '경기'
gg_pre_pro = gg_pre_pro[['date', 'area', 'pre_pro_mean']]

In [312]:
gg_pre_pro

         date area  pre_pro_mean
0    20130101   경기        31.175
1    20130102   경기         0.000
2    20130103   경기         0.000
3    20130104   경기         9.750
4    20130105   경기         6.250
..        ...  ...           ...
360  20131227   경기         0.375
361  20131228   경기        14.125
362  20131229   경기        24.125
363  20131230   경기        13.750
364  20131231   경기        34.950

[365 rows x 3 columns]

In [313]:
pre_pro = pd.concat([pre_pro, gg_pre_pro], axis = 0, ignore_index=True)
pre_pro

         date area  pre_pro_mean
0    20130101   강원     27.330357
1    20130102   강원      0.000000
2    20130103   강원      0.000000
3    20130104   강원      5.151786
4    20130105   강원      3.866071
..        ...  ...           ...
725  20131227   경기      0.375000
726  20131228   경기     14.125000
727  20131229   경기     24.125000
728  20131230   경기     13.750000
729  20131231   경기     34.950000

[730 rows x 3 columns]

In [314]:
gn2013_pre_pro = glob.glob(os.path.join("2013/경남", "*_강수확률_201301_201312.csv"))

In [315]:
gn2013_pre_pro

['2013/경남/평거동_강수확률_201301_201312.csv',
 '2013/경남/이동면_강수확률_201301_201312.csv',
 '2013/경남/산청읍_강수확률_201301_201312.csv',
 '2013/경남/동면_강수확률_201301_201312.csv',
 '2013/경남/내이동_강수확률_201301_201312.csv',
 '2013/경남/부원동_강수확률_201301_201312.csv',
 '2013/경남/장평동_강수확률_201301_201312.csv',
 '2013/경남/의령읍_강수확률_201301_201312.csv',
 '2013/경남/명곡동_강수확률_201301_201312.csv',
 '2013/경남/함양읍_강수확률_201301_201312.csv',
 '2013/경남/합천읍_강수확률_201301_201312.csv',
 '2013/경남/가포동_강수확률_201301_201312.csv',
 '2013/경남/정량동_강수확률_201301_201312.csv',
 '2013/경남/거창읍_강수확률_201301_201312.csv']

In [316]:
j=1
for i in gn2013_pre_pro:
    globals()['gn2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [320]:
j=1
for i in gn2013_pre_pro:
    globals()['gn2013_pre_pro_{}'.format(j)][" format: day"] = globals()['gn2013_pre_pro_{}'.format(j)][" format: day"].str.replace(" ", "")
    j+=1

In [322]:
for i in range(len(gn2013_pre_pro_1[" format: day"])):
    if len(gn2013_pre_pro_1[" format: day"][i]) == 1:
        gn2013_pre_pro_1[" format: day"][i] = "0" + gn2013_pre_pro_1[" format: day"][i]

In [323]:
gn2013_pre_pro_1[" format: day"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'Start:20130201', 'Start:20130301', 'Start:20130401',
       'Start:20130501', 'Start:20130601', 'Start:20130701',
       'Start:20130801', 'Start:20130901', 'Start:20131001',
       'Start:20131101', 'Start:20131201', 'format:day'], dtype=object)

In [325]:
print(gn2013_pre_pro_1.loc[(gn2013_pre_pro_1[' format: day'] == 'Start:20130201') |
                           (gn2013_pre_pro_1[' format: day'] == 'Start:20130301') |
                           (gn2013_pre_pro_1[' format: day'] == 'Start:20130401') |
                           (gn2013_pre_pro_1[' format: day'] == 'Start:20130501') |
                           (gn2013_pre_pro_1[' format: day'] == 'Start:20130601') |
                           (gn2013_pre_pro_1[' format: day'] == 'Start:20130701') |
                           (gn2013_pre_pro_1[' format: day'] == 'Start:20130801') |
                           (gn2013_pre_pro_1[' format: day'] == 'Start:20130901') |
                           (gn2013_pre_pro_1[' format: day'] == 'Start:20131001') |
                           (gn2013_pre_pro_1[' format: day'] == 'Start:20131101') |
                           (gn2013_pre_pro_1[' format: day'] == 'Start:20131201')])

          format: day hour forecast value  location:79_75 Start : 20130101
4092   Start:20130201  NaN      NaN                                     NaN
7789   Start:20130301  NaN      NaN                                     NaN
11882  Start:20130401  NaN      NaN                                     NaN
15843  Start:20130501  NaN      NaN                                     NaN
19936  Start:20130601  NaN      NaN                                     NaN
23897  Start:20130701  NaN      NaN                                     NaN
27990  Start:20130801  NaN      NaN                                     NaN
32083  Start:20130901  NaN      NaN                                     NaN
36044  Start:20131001  NaN      NaN                                     NaN
40137  Start:20131101  NaN      NaN                                     NaN
44098  Start:20131201  NaN      NaN                                     NaN
52284  Start:20130201  NaN      NaN                                     NaN
55981  Start:20130301  NaN      NaN                                     NaN
60074  Start:20130401  NaN      NaN                                     NaN
64035  Start:20130501  NaN      NaN                                     NaN
68128  Start:20130601  NaN      NaN                                     NaN
72089  Start:20130701  NaN      NaN                                     NaN
76182  Start:20130801  NaN      NaN                                     NaN
80275  Start:20130901  NaN      NaN                                     NaN
84236  Start:20131001  NaN      NaN                                     NaN
88329  Start:20131101  NaN      NaN                                     NaN
92290  Start:20131201  NaN      NaN                                     NaN

In [326]:
gn2013_pre_pro_1 = gn2013_pre_pro_1.loc[:52283]

In [327]:
gn2013_pre_pro_1.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_1.loc[:4091][" format: day"]
gn2013_pre_pro_1.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_1.loc[4093:7788][" format: day"]
gn2013_pre_pro_1.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_1.loc[7790:11881][" format: day"]
gn2013_pre_pro_1.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_1.loc[11883:15842][" format: day"]
gn2013_pre_pro_1.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_1.loc[15844:19935][" format: day"]
gn2013_pre_pro_1.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_1.loc[19937:23896][" format: day"]
gn2013_pre_pro_1.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_1.loc[23898:27989][" format: day"]
gn2013_pre_pro_1.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_1.loc[27991:32082][" format: day"]
gn2013_pre_pro_1.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_1.loc[32084:36043][" format: day"]
gn2013_pre_pro_1.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_1.loc[36045:40136][" format: day"]
gn2013_pre_pro_1.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_1.loc[40138:44097][" format: day"]
gn2013_pre_pro_1.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_1.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_1.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_1.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_1.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_1.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_1.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_1.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_1.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_1.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_1.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_1.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_1.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3572508005.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_1.loc[44099:52283][" format: day"]

In [330]:
gn2013_pre_pro_1 = gn2013_pre_pro_1.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [332]:
gn2013_pre_pro_1_fore4 = gn2013_pre_pro_1[gn2013_pre_pro_1['forecast']== '+4']
gn2013_pre_pro_1_fore4.head()

    format: day  hour forecast value  location:79_75 Start : 20130101
0      20130101  0200       +4                              20.000000
16     20130101  0500       +4                              10.000000
31     20130101  0800       +4                              10.000000
49     20130101  1100       +4                              10.000000
66     20130101  1400       +4                              10.000000

In [333]:
gn2013_pre_pro_1_fore4['value  location:79_75 Start : 20130101 '] = gn2013_pre_pro_1_fore4['value  location:79_75 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3466873520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_1_fore4['value  location:79_75 Start : 20130101 '] = gn2013_pre_pro_1_fore4['value  location:79_75 Start : 20130101 '].astype('float')

In [334]:
gn2013_pre_pro_1_final = pd.DataFrame(gn2013_pre_pro_1_fore4['value  location:79_75 Start : 20130101 '].groupby(gn2013_pre_pro_1_fore4[' format: day']).mean())

In [335]:
gn2013_pre_pro_1_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_1_final

     format: day  value  location:79_75 Start : 20130101
0       20130101                                   11.250
1       20130102                                    2.500
2       20130103                                    1.250
3       20130104                                    3.750
4       20130105                                    6.250
..           ...                                      ...
360     20131227                                    0.625
361     20131228                                    4.375
362     20131229                                   11.250
363     20131230                                    8.750
364     20131231                                   29.375

[365 rows x 2 columns]

In [336]:
gn2013_pre_pro_1_final.rename(columns={' format: day':'date', 'value  location:79_75 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_1_final

         date  pre_pro_mean
0    20130101        11.250
1    20130102         2.500
2    20130103         1.250
3    20130104         3.750
4    20130105         6.250
..        ...           ...
360  20131227         0.625
361  20131228         4.375
362  20131229        11.250
363  20131230         8.750
364  20131231        29.375

[365 rows x 2 columns]

In [337]:
gn2013_pre_pro_final = pd.DataFrame()
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_1_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

         date  pre_pro_mean
0    20130101        11.250
1    20130102         2.500
2    20130103         1.250
3    20130104         3.750
4    20130105         6.250
..        ...           ...
360  20131227         0.625
361  20131228         4.375
362  20131229        11.250
363  20131230         8.750
364  20131231        29.375

[365 rows x 2 columns]

In [345]:
gn2013_pre_pro_2 = pd.read_csv('2013/경남/이동면_강수확률_201301_201312.csv')

In [346]:
j=1
for i in gn2013_pre_pro:
    globals()['gn2013_pre_pro_{}'.format(j)][" format: day"] = globals()['gn2013_pre_pro_{}'.format(j)][" format: day"].str.replace(" ", "")
    j+=1

In [347]:
for i in range(len(gn2013_pre_pro_2[" format: day"])):
    if len(gn2013_pre_pro_2[" format: day"][i]) == 1:
        gn2013_pre_pro_2[" format: day"][i] = "0" + gn2013_pre_pro_2[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2007703457.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2[" format: day"][i] = "0" + gn2013_pre_pro_2[" format: day"][i]

In [348]:
gn2013_pre_pro_2

       format: day    hour  forecast  value  location:78_67 Start : 20130101
0               01   200.0       4.0                                     20.0
1               01   200.0       7.0                                     10.0
2               01   200.0      10.0                                     10.0
3               01   200.0      13.0                                     10.0
4               01   200.0      16.0                                     10.0
...            ...     ...       ...                                      ...
48186           31  2300.0      40.0                                     10.0
48187           31  2300.0      43.0                                     10.0
48188           31  2300.0      46.0                                     10.0
48189           31  2300.0      49.0                                     10.0
48190           31  2300.0      52.0                                     10.0

[48191 rows x 4 columns]

In [350]:
gn2013_pre_pro_2[" format: day"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'Start:20130201', 'Start:20130301', 'Start:20130401',
       'Start:20130501', 'Start:20130601', 'Start:20130701',
       'Start:20130801', 'Start:20130901', 'Start:20131001',
       'Start:20131101', 'Start:20131201'], dtype=object)

In [351]:
print(gn2013_pre_pro_2.loc[(gn2013_pre_pro_2[' format: day'] == 'Start:20130201') |
                           (gn2013_pre_pro_2[' format: day'] == 'Start:20130301') |
                           (gn2013_pre_pro_2[' format: day'] == 'Start:20130401') |
                           (gn2013_pre_pro_2[' format: day'] == 'Start:20130501') |
                           (gn2013_pre_pro_2[' format: day'] == 'Start:20130601') |
                           (gn2013_pre_pro_2[' format: day'] == 'Start:20130701') |
                           (gn2013_pre_pro_2[' format: day'] == 'Start:20130801') |
                           (gn2013_pre_pro_2[' format: day'] == 'Start:20130901') |
                           (gn2013_pre_pro_2[' format: day'] == 'Start:20131001') |
                           (gn2013_pre_pro_2[' format: day'] == 'Start:20131101') |
                           (gn2013_pre_pro_2[' format: day'] == 'Start:20131201')])

          format: day  hour  forecast  value  location:78_67 Start : 20130101
4092   Start:20130201   NaN       NaN                                      NaN
7789   Start:20130301   NaN       NaN                                      NaN
11882  Start:20130401   NaN       NaN                                      NaN
15843  Start:20130501   NaN       NaN                                      NaN
19936  Start:20130601   NaN       NaN                                      NaN
23897  Start:20130701   NaN       NaN                                      NaN
27990  Start:20130801   NaN       NaN                                      NaN
32083  Start:20130901   NaN       NaN                                      NaN
36044  Start:20131001   NaN       NaN                                      NaN
40137  Start:20131101   NaN       NaN                                      NaN
44098  Start:20131201   NaN       NaN                                      NaN

In [352]:
gn2013_pre_pro_2.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_2.loc[:4091][" format: day"]
gn2013_pre_pro_2.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_2.loc[4093:7788][" format: day"]
gn2013_pre_pro_2.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_2.loc[7790:11881][" format: day"]
gn2013_pre_pro_2.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_2.loc[11883:15842][" format: day"]
gn2013_pre_pro_2.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_2.loc[15844:19935][" format: day"]
gn2013_pre_pro_2.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_2.loc[19937:23896][" format: day"]
gn2013_pre_pro_2.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_2.loc[23898:27989][" format: day"]
gn2013_pre_pro_2.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_2.loc[27991:32082][" format: day"]
gn2013_pre_pro_2.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_2.loc[32084:36043][" format: day"]
gn2013_pre_pro_2.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_2.loc[36045:40136][" format: day"]
gn2013_pre_pro_2.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_2.loc[40138:44097][" format: day"]
gn2013_pre_pro_2.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_2.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_2.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_2.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_2.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_2.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_2.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_2.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_2.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_2.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_2.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_2.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_2.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3956868015.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_2.loc[44099:][" format: day"]

In [353]:
gn2013_pre_pro_2

       format: day    hour  forecast  value  location:78_67 Start : 20130101
0         20130101   200.0       4.0                                     20.0
1         20130101   200.0       7.0                                     10.0
2         20130101   200.0      10.0                                     10.0
3         20130101   200.0      13.0                                     10.0
4         20130101   200.0      16.0                                     10.0
...            ...     ...       ...                                      ...
48186     20131231  2300.0      40.0                                     10.0
48187     20131231  2300.0      43.0                                     10.0
48188     20131231  2300.0      46.0                                     10.0
48189     20131231  2300.0      49.0                                     10.0
48190     20131231  2300.0      52.0                                     10.0

[48191 rows x 4 columns]

In [354]:
gn2013_pre_pro_2 = gn2013_pre_pro_2.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [358]:
gn2013_pre_pro_2_fore4 = gn2013_pre_pro_2[gn2013_pre_pro_2['forecast']== 4.0]
gn2013_pre_pro_2_fore4.head()

    format: day    hour  forecast  value  location:78_67 Start : 20130101
0      20130101   200.0       4.0                                     20.0
16     20130101   500.0       4.0                                     10.0
31     20130101   800.0       4.0                                     10.0
49     20130101  1100.0       4.0                                     10.0
66     20130101  1400.0       4.0                                     10.0

In [360]:
gn2013_pre_pro_2_fore4['value  location:78_67 Start : 20130101 '] = gn2013_pre_pro_2_fore4['value  location:78_67 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/894433640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_2_fore4['value  location:78_67 Start : 20130101 '] = gn2013_pre_pro_2_fore4['value  location:78_67 Start : 20130101 '].astype('float')

In [361]:
gn2013_pre_pro_2_final = pd.DataFrame(gn2013_pre_pro_2_fore4['value  location:78_67 Start : 20130101 '].groupby(gn2013_pre_pro_2_fore4[' format: day']).mean())
gn2013_pre_pro_2_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_2_final

     format: day  value  location:78_67 Start : 20130101
0       20130101                                    11.25
1       20130102                                     2.50
2       20130103                                     0.00
3       20130104                                     3.75
4       20130105                                     5.00
..           ...                                      ...
360     20131227                                     0.00
361     20131228                                     1.25
362     20131229                                     2.50
363     20131230                                     1.25
364     20131231                                     0.00

[365 rows x 2 columns]

In [362]:
gn2013_pre_pro_2_final.rename(columns={' format: day':'date', 'value  location:78_67 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_2_final

         date  pre_pro_mean
0    20130101         11.25
1    20130102          2.50
2    20130103          0.00
3    20130104          3.75
4    20130105          5.00
..        ...           ...
360  20131227          0.00
361  20131228          1.25
362  20131229          2.50
363  20131230          1.25
364  20131231          0.00

[365 rows x 2 columns]

In [363]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_2_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

         date  pre_pro_mean
0    20130101         11.25
1    20130102          2.50
2    20130103          1.25
3    20130104          3.75
4    20130105          6.25
..        ...           ...
725  20131227          0.00
726  20131228          1.25
727  20131229          2.50
728  20131230          1.25
729  20131231          0.00

[730 rows x 2 columns]

In [364]:
for i in range(len(gn2013_pre_pro_3[" format: day"])):
    if len(gn2013_pre_pro_3[" format: day"][i]) == 1:
        gn2013_pre_pro_3[" format: day"][i] = "0" + gn2013_pre_pro_3[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/409596179.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3[" format: day"][i] = "0" + gn2013_pre_pro_3[" format: day"][i]

In [367]:
print(gn2013_pre_pro_3.loc[(gn2013_pre_pro_3[' format: day'] == 'Start:20130201') |
                           (gn2013_pre_pro_3[' format: day'] == 'Start:20130301') |
                           (gn2013_pre_pro_3[' format: day'] == 'Start:20130401') |
                           (gn2013_pre_pro_3[' format: day'] == 'Start:20130501') |
                           (gn2013_pre_pro_3[' format: day'] == 'Start:20130601') |
                           (gn2013_pre_pro_3[' format: day'] == 'Start:20130701') |
                           (gn2013_pre_pro_3[' format: day'] == 'Start:20130801') |
                           (gn2013_pre_pro_3[' format: day'] == 'Start:20130901') |
                           (gn2013_pre_pro_3[' format: day'] == 'Start:20131001') |
                           (gn2013_pre_pro_3[' format: day'] == 'Start:20131101') |
                           (gn2013_pre_pro_3[' format: day'] == 'Start:20131201')])

          format: day  hour  forecast  value  location:76_80 Start : 20130101
4092   Start:20130201   NaN       NaN                                      NaN
7789   Start:20130301   NaN       NaN                                      NaN
11882  Start:20130401   NaN       NaN                                      NaN
15843  Start:20130501   NaN       NaN                                      NaN
19936  Start:20130601   NaN       NaN                                      NaN
23897  Start:20130701   NaN       NaN                                      NaN
27990  Start:20130801   NaN       NaN                                      NaN
32083  Start:20130901   NaN       NaN                                      NaN
36044  Start:20131001   NaN       NaN                                      NaN
40137  Start:20131101   NaN       NaN                                      NaN
44098  Start:20131201   NaN       NaN                                      NaN

In [368]:
gn2013_pre_pro_3.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_3.loc[:4091][" format: day"]
gn2013_pre_pro_3.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_3.loc[4093:7788][" format: day"]
gn2013_pre_pro_3.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_3.loc[7790:11881][" format: day"]
gn2013_pre_pro_3.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_3.loc[11883:15842][" format: day"]
gn2013_pre_pro_3.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_3.loc[15844:19935][" format: day"]
gn2013_pre_pro_3.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_3.loc[19937:23896][" format: day"]
gn2013_pre_pro_3.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_3.loc[23898:27989][" format: day"]
gn2013_pre_pro_3.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_3.loc[27991:32082][" format: day"]
gn2013_pre_pro_3.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_3.loc[32084:36043][" format: day"]
gn2013_pre_pro_3.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_3.loc[36045:40136][" format: day"]
gn2013_pre_pro_3.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_3.loc[40138:44097][" format: day"]
gn2013_pre_pro_3.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_3.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_3.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_3.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_3.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_3.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_3.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_3.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_3.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_3.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_3.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_3.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_3.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2462291915.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_3.loc[44099:][" format: day"]

In [370]:
gn2013_pre_pro_3 = gn2013_pre_pro_3.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [371]:
gn2013_pre_pro_3_fore4 = gn2013_pre_pro_3[gn2013_pre_pro_3['forecast']== 4.0]
gn2013_pre_pro_3_fore4.head()

    format: day    hour  forecast  value  location:76_80 Start : 20130101
0      20130101   200.0       4.0                                     60.0
16     20130101   500.0       4.0                                     20.0
31     20130101   800.0       4.0                                     20.0
49     20130101  1100.0       4.0                                     30.0
66     20130101  1400.0       4.0                                     60.0

In [372]:
gn2013_pre_pro_3_fore4['value  location:76_80 Start : 20130101 '] = gn2013_pre_pro_3_fore4['value  location:76_80 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3168813240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_3_fore4['value  location:76_80 Start : 20130101 '] = gn2013_pre_pro_3_fore4['value  location:76_80 Start : 20130101 '].astype('float')

In [373]:
gn2013_pre_pro_3_final = pd.DataFrame(gn2013_pre_pro_3_fore4['value  location:76_80 Start : 20130101 '].groupby(gn2013_pre_pro_3_fore4[' format: day']).mean())
gn2013_pre_pro_3_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_3_final

     format: day  value  location:76_80 Start : 20130101
0       20130101                                    31.25
1       20130102                                     6.25
2       20130103                                     0.00
3       20130104                                     3.75
4       20130105                                     6.25
..           ...                                      ...
360     20131227                                     2.50
361     20131228                                     5.00
362     20131229                                    13.75
363     20131230                                     7.50
364     20131231                                     0.00

[365 rows x 2 columns]

In [374]:
gn2013_pre_pro_3_final.rename(columns={' format: day':'date', 'value  location:76_80 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_3_final

         date  pre_pro_mean
0    20130101         31.25
1    20130102          6.25
2    20130103          0.00
3    20130104          3.75
4    20130105          6.25
..        ...           ...
360  20131227          2.50
361  20131228          5.00
362  20131229         13.75
363  20131230          7.50
364  20131231          0.00

[365 rows x 2 columns]

In [375]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_3_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101         11.25
1     20130102          2.50
2     20130103          1.25
3     20130104          3.75
4     20130105          6.25
...        ...           ...
1090  20131227          2.50
1091  20131228          5.00
1092  20131229         13.75
1093  20131230          7.50
1094  20131231          0.00

[1095 rows x 2 columns]

In [377]:
gn2013_pre_pro_4

       format: day  hour forecast value  location:98_79 Start : 20130101
0               01  0200       +4                              20.000000
1               01  0200       +7                              10.000000
2               01  0200      +10                              10.000000
3               01  0200      +13                              10.000000
4               01  0200      +16                              10.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                              10.000000
96379           31  2300      +43                              10.000000
96380           31  2300      +46                              10.000000
96381           31  2300      +49                              18.000000
96382           31  2300      +52                              20.000000

[96383 rows x 4 columns]

In [376]:
for i in range(len(gn2013_pre_pro_4[" format: day"])):
    if len(gn2013_pre_pro_4[" format: day"][i]) == 1:
        gn2013_pre_pro_4[" format: day"][i] = "0" + gn2013_pre_pro_4[" format: day"][i]

In [378]:
gn2013_pre_pro_4 = gn2013_pre_pro_4.loc[:52283]

In [379]:
gn2013_pre_pro_4.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_4.loc[:4091][" format: day"]
gn2013_pre_pro_4.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_4.loc[4093:7788][" format: day"]
gn2013_pre_pro_4.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_4.loc[7790:11881][" format: day"]
gn2013_pre_pro_4.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_4.loc[11883:15842][" format: day"]
gn2013_pre_pro_4.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_4.loc[15844:19935][" format: day"]
gn2013_pre_pro_4.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_4.loc[19937:23896][" format: day"]
gn2013_pre_pro_4.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_4.loc[23898:27989][" format: day"]
gn2013_pre_pro_4.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_4.loc[27991:32082][" format: day"]
gn2013_pre_pro_4.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_4.loc[32084:36043][" format: day"]
gn2013_pre_pro_4.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_4.loc[36045:40136][" format: day"]
gn2013_pre_pro_4.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_4.loc[40138:44097][" format: day"]
gn2013_pre_pro_4.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_4.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_4.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_4.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_4.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_4.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_4.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_4.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_4.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_4.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_4.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_4.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_4.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2981782414.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_4.loc[44099:52283][" format: day"]

In [383]:
gn2013_pre_pro_4 = gn2013_pre_pro_4.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [384]:
gn2013_pre_pro_4_fore4 = gn2013_pre_pro_4[gn2013_pre_pro_4['forecast']== '+4']
gn2013_pre_pro_4_fore4.head()

    format: day  hour forecast value  location:98_79 Start : 20130101
0      20130101  0200       +4                              20.000000
16     20130101  0500       +4                              10.000000
31     20130101  0800       +4                              10.000000
49     20130101  1100       +4                              10.000000
66     20130101  1400       +4                              10.000000

In [385]:
gn2013_pre_pro_4_fore4['value  location:98_79 Start : 20130101 '] = gn2013_pre_pro_4_fore4['value  location:98_79 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4040335110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_4_fore4['value  location:98_79 Start : 20130101 '] = gn2013_pre_pro_4_fore4['value  location:98_79 Start : 20130101 '].astype('float')

In [386]:
gn2013_pre_pro_4_final = pd.DataFrame(gn2013_pre_pro_4_fore4['value  location:98_79 Start : 20130101 '].groupby(gn2013_pre_pro_4_fore4[' format: day']).mean())

In [387]:
gn2013_pre_pro_4_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_4_final

     format: day  value  location:98_79 Start : 20130101
0       20130101                                  10.8750
1       20130102                                   1.7500
2       20130103                                   0.8750
3       20130104                                   3.3750
4       20130105                                   5.0000
..           ...                                      ...
360     20131227                                   0.6250
361     20131228                                   1.2500
362     20131229                                   7.7500
363     20131230                                   9.1875
364     20131231                                  23.7500

[365 rows x 2 columns]

In [388]:
gn2013_pre_pro_4_final.rename(columns={' format: day':'date', 'value  location:98_79 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_4_final

         date  pre_pro_mean
0    20130101       10.8750
1    20130102        1.7500
2    20130103        0.8750
3    20130104        3.3750
4    20130105        5.0000
..        ...           ...
360  20131227        0.6250
361  20131228        1.2500
362  20131229        7.7500
363  20131230        9.1875
364  20131231       23.7500

[365 rows x 2 columns]

In [389]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_4_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101       11.2500
1     20130102        2.5000
2     20130103        1.2500
3     20130104        3.7500
4     20130105        6.2500
...        ...           ...
1455  20131227        0.6250
1456  20131228        1.2500
1457  20131229        7.7500
1458  20131230        9.1875
1459  20131231       23.7500

[1460 rows x 2 columns]

In [390]:
gn2013_pre_pro_5

       format: day    hour  forecast  value  location:92_82 Start : 20130101
0                1   200.0       4.0                                     20.0
1                1   200.0       7.0                                     10.0
2                1   200.0      10.0                                     10.0
3                1   200.0      13.0                                     10.0
4                1   200.0      16.0                                     10.0
...            ...     ...       ...                                      ...
48186           31  2300.0      40.0                                     10.0
48187           31  2300.0      43.0                                     10.0
48188           31  2300.0      46.0                                     10.0
48189           31  2300.0      49.0                                     20.0
48190           31  2300.0      52.0                                     20.0

[48191 rows x 4 columns]

In [391]:
for i in range(len(gn2013_pre_pro_5[" format: day"])):
    if len(gn2013_pre_pro_5[" format: day"][i]) == 1:
        gn2013_pre_pro_5[" format: day"][i] = "0" + gn2013_pre_pro_5[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2429612735.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5[" format: day"][i] = "0" + gn2013_pre_pro_5[" format: day"][i]

In [392]:
gn2013_pre_pro_5.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_5.loc[:4091][" format: day"]
gn2013_pre_pro_5.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_5.loc[4093:7788][" format: day"]
gn2013_pre_pro_5.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_5.loc[7790:11881][" format: day"]
gn2013_pre_pro_5.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_5.loc[11883:15842][" format: day"]
gn2013_pre_pro_5.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_5.loc[15844:19935][" format: day"]
gn2013_pre_pro_5.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_5.loc[19937:23896][" format: day"]
gn2013_pre_pro_5.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_5.loc[23898:27989][" format: day"]
gn2013_pre_pro_5.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_5.loc[27991:32082][" format: day"]
gn2013_pre_pro_5.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_5.loc[32084:36043][" format: day"]
gn2013_pre_pro_5.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_5.loc[36045:40136][" format: day"]
gn2013_pre_pro_5.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_5.loc[40138:44097][" format: day"]
gn2013_pre_pro_5.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_5.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_5.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_5.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_5.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_5.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_5.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_5.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_5.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_5.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_5.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_5.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_5.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3762925231.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_5.loc[44099:][" format: day"]

In [394]:
gn2013_pre_pro_5 = gn2013_pre_pro_5.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [395]:
gn2013_pre_pro_5_fore4 = gn2013_pre_pro_5[gn2013_pre_pro_5['forecast']== 4.0]
gn2013_pre_pro_5_fore4.head()

    format: day    hour  forecast  value  location:92_82 Start : 20130101
0      20130101   200.0       4.0                                     20.0
16     20130101   500.0       4.0                                     10.0
31     20130101   800.0       4.0                                     10.0
49     20130101  1100.0       4.0                                     10.0
66     20130101  1400.0       4.0                                     10.0

In [396]:
gn2013_pre_pro_5_fore4['value  location:92_82 Start : 20130101 '] = gn2013_pre_pro_5_fore4['value  location:92_82 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3527833364.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_5_fore4['value  location:92_82 Start : 20130101 '] = gn2013_pre_pro_5_fore4['value  location:92_82 Start : 20130101 '].astype('float')

In [397]:
gn2013_pre_pro_5_final = pd.DataFrame(gn2013_pre_pro_5_fore4['value  location:92_82 Start : 20130101 '].groupby(gn2013_pre_pro_5_fore4[' format: day']).mean())
gn2013_pre_pro_5_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_5_final

     format: day  value  location:92_82 Start : 20130101
0       20130101                                    11.25
1       20130102                                     2.50
2       20130103                                     1.25
3       20130104                                     3.75
4       20130105                                     5.00
..           ...                                      ...
360     20131227                                     0.00
361     20131228                                     0.00
362     20131229                                     1.25
363     20131230                                     1.25
364     20131231                                     0.00

[365 rows x 2 columns]

In [398]:
gn2013_pre_pro_5_final.rename(columns={' format: day':'date', 'value  location:92_82 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_5_final

         date  pre_pro_mean
0    20130101         11.25
1    20130102          2.50
2    20130103          1.25
3    20130104          3.75
4    20130105          5.00
..        ...           ...
360  20131227          0.00
361  20131228          0.00
362  20131229          1.25
363  20131230          1.25
364  20131231          0.00

[365 rows x 2 columns]

In [399]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_5_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101         11.25
1     20130102          2.50
2     20130103          1.25
3     20130104          3.75
4     20130105          6.25
...        ...           ...
1820  20131227          0.00
1821  20131228          0.00
1822  20131229          1.25
1823  20131230          1.25
1824  20131231          0.00

[1825 rows x 2 columns]

In [400]:
gn2013_pre_pro_6

       format: day  hour forecast value  location:94_77 Start : 20130101
0                1  0200       +4                              20.000000
1                1  0200       +7                              10.000000
2                1  0200      +10                              10.000000
3                1  0200      +13                              10.000000
4                1  0200      +16                              10.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                              10.000000
96379           31  2300      +43                              10.000000
96380           31  2300      +46                              10.000000
96381           31  2300      +49                              11.000000
96382           31  2300      +52                              20.000000

[96383 rows x 4 columns]

In [401]:
for i in range(len(gn2013_pre_pro_6[" format: day"])):
    if len(gn2013_pre_pro_6[" format: day"][i]) == 1:
        gn2013_pre_pro_6[" format: day"][i] = "0" + gn2013_pre_pro_6[" format: day"][i]

In [402]:
gn2013_pre_pro_6 = gn2013_pre_pro_6.loc[:52283]

In [403]:
gn2013_pre_pro_6.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_6.loc[:4091][" format: day"]
gn2013_pre_pro_6.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_6.loc[4093:7788][" format: day"]
gn2013_pre_pro_6.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_6.loc[7790:11881][" format: day"]
gn2013_pre_pro_6.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_6.loc[11883:15842][" format: day"]
gn2013_pre_pro_6.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_6.loc[15844:19935][" format: day"]
gn2013_pre_pro_6.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_6.loc[19937:23896][" format: day"]
gn2013_pre_pro_6.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_6.loc[23898:27989][" format: day"]
gn2013_pre_pro_6.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_6.loc[27991:32082][" format: day"]
gn2013_pre_pro_6.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_6.loc[32084:36043][" format: day"]
gn2013_pre_pro_6.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_6.loc[36045:40136][" format: day"]
gn2013_pre_pro_6.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_6.loc[40138:44097][" format: day"]
gn2013_pre_pro_6.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_6.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_6.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_6.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_6.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_6.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_6.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_6.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_6.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_6.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_6.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_6.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_6.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/283397327.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_6.loc[44099:52283][" format: day"]

In [404]:
gn2013_pre_pro_6 = gn2013_pre_pro_6.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [405]:
gn2013_pre_pro_6_fore4 = gn2013_pre_pro_6[gn2013_pre_pro_6['forecast']== '+4']
gn2013_pre_pro_6_fore4.head()

    format: day  hour forecast value  location:94_77 Start : 20130101
0      20130101  0200       +4                              20.000000
16     20130101  0500       +4                              10.000000
31     20130101  0800       +4                              10.000000
49     20130101  1100       +4                              10.000000
66     20130101  1400       +4                               9.000000

In [406]:
gn2013_pre_pro_6_fore4['value  location:94_77 Start : 20130101 '] = gn2013_pre_pro_6_fore4['value  location:94_77 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2368527524.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_6_fore4['value  location:94_77 Start : 20130101 '] = gn2013_pre_pro_6_fore4['value  location:94_77 Start : 20130101 '].astype('float')

In [407]:
gn2013_pre_pro_6_final = pd.DataFrame(gn2013_pre_pro_6_fore4['value  location:94_77 Start : 20130101 '].groupby(gn2013_pre_pro_6_fore4[' format: day']).mean())

In [408]:
gn2013_pre_pro_6_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_6_final

     format: day  value  location:94_77 Start : 20130101
0       20130101                                  10.0000
1       20130102                                   0.5000
2       20130103                                   0.2500
3       20130104                                   2.7500
4       20130105                                   5.1250
..           ...                                      ...
360     20131227                                   0.6250
361     20131228                                   1.3750
362     20131229                                   7.3125
363     20131230                                   8.8750
364     20131231                                  23.8750

[365 rows x 2 columns]

In [409]:
gn2013_pre_pro_6_final.rename(columns={' format: day':'date', 'value  location:94_77 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_6_final

         date  pre_pro_mean
0    20130101       10.0000
1    20130102        0.5000
2    20130103        0.2500
3    20130104        2.7500
4    20130105        5.1250
..        ...           ...
360  20131227        0.6250
361  20131228        1.3750
362  20131229        7.3125
363  20131230        8.8750
364  20131231       23.8750

[365 rows x 2 columns]

In [410]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_6_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101       11.2500
1     20130102        2.5000
2     20130103        1.2500
3     20130104        3.7500
4     20130105        6.2500
...        ...           ...
2185  20131227        0.6250
2186  20131228        1.3750
2187  20131229        7.3125
2188  20131230        8.8750
2189  20131231       23.8750

[2190 rows x 2 columns]

In [411]:
gn2013_pre_pro_7

       format: day    hour  forecast  value  location:90_69 Start : 20130101
0                1   200.0       4.0                                     20.0
1                1   200.0       7.0                                     10.0
2                1   200.0      10.0                                     10.0
3                1   200.0      13.0                                     10.0
4                1   200.0      16.0                                     10.0
...            ...     ...       ...                                      ...
48186           31  2300.0      40.0                                     10.0
48187           31  2300.0      43.0                                     10.0
48188           31  2300.0      46.0                                     10.0
48189           31  2300.0      49.0                                     10.0
48190           31  2300.0      52.0                                     10.0

[48191 rows x 4 columns]

In [412]:
for i in range(len(gn2013_pre_pro_7[" format: day"])):
    if len(gn2013_pre_pro_7[" format: day"][i]) == 1:
        gn2013_pre_pro_7[" format: day"][i] = "0" + gn2013_pre_pro_7[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3266376752.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7[" format: day"][i] = "0" + gn2013_pre_pro_7[" format: day"][i]

In [413]:
gn2013_pre_pro_7.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_7.loc[:4091][" format: day"]
gn2013_pre_pro_7.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_7.loc[4093:7788][" format: day"]
gn2013_pre_pro_7.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_7.loc[7790:11881][" format: day"]
gn2013_pre_pro_7.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_7.loc[11883:15842][" format: day"]
gn2013_pre_pro_7.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_7.loc[15844:19935][" format: day"]
gn2013_pre_pro_7.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_7.loc[19937:23896][" format: day"]
gn2013_pre_pro_7.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_7.loc[23898:27989][" format: day"]
gn2013_pre_pro_7.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_7.loc[27991:32082][" format: day"]
gn2013_pre_pro_7.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_7.loc[32084:36043][" format: day"]
gn2013_pre_pro_7.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_7.loc[36045:40136][" format: day"]
gn2013_pre_pro_7.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_7.loc[40138:44097][" format: day"]
gn2013_pre_pro_7.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_7.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_7.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_7.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_7.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_7.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_7.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_7.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_7.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_7.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_7.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_7.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_7.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2758765115.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_7.loc[44099:][" format: day"]

In [414]:
gn2013_pre_pro_7 = gn2013_pre_pro_7.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [415]:
gn2013_pre_pro_7_fore4 = gn2013_pre_pro_7[gn2013_pre_pro_7['forecast']== 4.0]
gn2013_pre_pro_7_fore4.head()

    format: day    hour  forecast  value  location:90_69 Start : 20130101
0      20130101   200.0       4.0                                     20.0
16     20130101   500.0       4.0                                     10.0
31     20130101   800.0       4.0                                     10.0
49     20130101  1100.0       4.0                                     10.0
66     20130101  1400.0       4.0                                      0.0

In [416]:
gn2013_pre_pro_7_fore4['value  location:90_69 Start : 20130101 '] = gn2013_pre_pro_7_fore4['value  location:90_69 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3931968739.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_7_fore4['value  location:90_69 Start : 20130101 '] = gn2013_pre_pro_7_fore4['value  location:90_69 Start : 20130101 '].astype('float')

In [417]:
gn2013_pre_pro_7_final = pd.DataFrame(gn2013_pre_pro_7_fore4['value  location:90_69 Start : 20130101 '].groupby(gn2013_pre_pro_7_fore4[' format: day']).mean())
gn2013_pre_pro_7_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_7_final

     format: day  value  location:90_69 Start : 20130101
0       20130101                                     8.75
1       20130102                                     2.50
2       20130103                                     0.00
3       20130104                                     3.75
4       20130105                                     5.00
..           ...                                      ...
360     20131227                                     0.00
361     20131228                                     1.25
362     20131229                                     2.50
363     20131230                                     1.25
364     20131231                                     0.00

[365 rows x 2 columns]

In [418]:
gn2013_pre_pro_7_final.rename(columns={' format: day':'date', 'value  location:90_69 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_7_final

         date  pre_pro_mean
0    20130101          8.75
1    20130102          2.50
2    20130103          0.00
3    20130104          3.75
4    20130105          5.00
..        ...           ...
360  20131227          0.00
361  20131228          1.25
362  20131229          2.50
363  20131230          1.25
364  20131231          0.00

[365 rows x 2 columns]

In [419]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_7_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101         11.25
1     20130102          2.50
2     20130103          1.25
3     20130104          3.75
4     20130105          6.25
...        ...           ...
2550  20131227          0.00
2551  20131228          1.25
2552  20131229          2.50
2553  20131230          1.25
2554  20131231          0.00

[2555 rows x 2 columns]

In [420]:
gn2013_pre_pro_8

       format: day    hour  forecast  value  location:83_78 Start : 20130101
0                1   200.0       4.0                                     24.0
1                1   200.0       7.0                                     11.0
2                1   200.0      10.0                                     11.0
3                1   200.0      13.0                                     12.0
4                1   200.0      16.0                                     11.0
...            ...     ...       ...                                      ...
48186           31  2300.0      40.0                                     10.0
48187           31  2300.0      43.0                                     10.0
48188           31  2300.0      46.0                                     10.0
48189           31  2300.0      49.0                                     10.0
48190           31  2300.0      52.0                                     19.0

[48191 rows x 4 columns]

In [421]:
for i in range(len(gn2013_pre_pro_8[" format: day"])):
    if len(gn2013_pre_pro_8[" format: day"][i]) == 1:
        gn2013_pre_pro_8[" format: day"][i] = "0" + gn2013_pre_pro_8[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3894747276.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8[" format: day"][i] = "0" + gn2013_pre_pro_8[" format: day"][i]

In [423]:
gn2013_pre_pro_8.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_8.loc[:4091][" format: day"]
gn2013_pre_pro_8.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_8.loc[4093:7788][" format: day"]
gn2013_pre_pro_8.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_8.loc[7790:11881][" format: day"]
gn2013_pre_pro_8.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_8.loc[11883:15842][" format: day"]
gn2013_pre_pro_8.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_8.loc[15844:19935][" format: day"]
gn2013_pre_pro_8.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_8.loc[19937:23896][" format: day"]
gn2013_pre_pro_8.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_8.loc[23898:27989][" format: day"]
gn2013_pre_pro_8.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_8.loc[27991:32082][" format: day"]
gn2013_pre_pro_8.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_8.loc[32084:36043][" format: day"]
gn2013_pre_pro_8.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_8.loc[36045:40136][" format: day"]
gn2013_pre_pro_8.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_8.loc[40138:44097][" format: day"]
gn2013_pre_pro_8.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_8.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_8.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_8.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_8.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_8.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_8.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_8.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_8.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_8.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_8.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_8.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_8.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3453129239.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_8.loc[44099:][" format: day"]

In [425]:
gn2013_pre_pro_8 = gn2013_pre_pro_8.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [426]:
gn2013_pre_pro_8_fore4 = gn2013_pre_pro_8[gn2013_pre_pro_8['forecast']== 4.0]
gn2013_pre_pro_8_fore4.head()

    format: day    hour  forecast  value  location:83_78 Start : 20130101
0      20130101   200.0       4.0                                     24.0
16     20130101   500.0       4.0                                     11.0
31     20130101   800.0       4.0                                     11.0
49     20130101  1100.0       4.0                                     11.0
66     20130101  1400.0       4.0                                     11.0

In [427]:
gn2013_pre_pro_8_fore4['value  location:83_78 Start : 20130101 '] = gn2013_pre_pro_8_fore4['value  location:83_78 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2713415509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_8_fore4['value  location:83_78 Start : 20130101 '] = gn2013_pre_pro_8_fore4['value  location:83_78 Start : 20130101 '].astype('float')

In [428]:
gn2013_pre_pro_8_final = pd.DataFrame(gn2013_pre_pro_8_fore4['value  location:83_78 Start : 20130101 '].groupby(gn2013_pre_pro_8_fore4[' format: day']).mean())
gn2013_pre_pro_8_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_8_final

     format: day  value  location:83_78 Start : 20130101
0       20130101                                   13.750
1       20130102                                    2.750
2       20130103                                    1.125
3       20130104                                    3.750
4       20130105                                    6.250
..           ...                                      ...
360     20131227                                    0.250
361     20131228                                    0.750
362     20131229                                    5.500
363     20131230                                    2.000
364     20131231                                    0.000

[365 rows x 2 columns]

In [429]:
gn2013_pre_pro_8_final.rename(columns={' format: day':'date', 'value  location:83_78 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_8_final

         date  pre_pro_mean
0    20130101        13.750
1    20130102         2.750
2    20130103         1.125
3    20130104         3.750
4    20130105         6.250
..        ...           ...
360  20131227         0.250
361  20131228         0.750
362  20131229         5.500
363  20131230         2.000
364  20131231         0.000

[365 rows x 2 columns]

In [430]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_8_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101         11.25
1     20130102          2.50
2     20130103          1.25
3     20130104          3.75
4     20130105          6.25
...        ...           ...
2915  20131227          0.25
2916  20131228          0.75
2917  20131229          5.50
2918  20131230          2.00
2919  20131231          0.00

[2920 rows x 2 columns]

In [431]:
gn2013_pre_pro_9

       format: day  hour forecast value  location:90_77 Start : 20130101
0                1  0200       +4                              20.000000
1                1  0200       +7                              10.000000
2                1  0200      +10                              10.000000
3                1  0200      +13                              10.000000
4                1  0200      +16                              10.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                              10.000000
96379           31  2300      +43                              10.000000
96380           31  2300      +46                              10.000000
96381           31  2300      +49                              10.000000
96382           31  2300      +52                              20.000000

[96383 rows x 4 columns]

In [432]:
for i in range(len(gn2013_pre_pro_9[" format: day"])):
    if len(gn2013_pre_pro_9[" format: day"][i]) == 1:
        gn2013_pre_pro_9[" format: day"][i] = "0" + gn2013_pre_pro_9[" format: day"][i]

In [433]:
gn2013_pre_pro_9 = gn2013_pre_pro_9.loc[:52283]

In [434]:
gn2013_pre_pro_9.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_9.loc[:4091][" format: day"]
gn2013_pre_pro_9.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_9.loc[4093:7788][" format: day"]
gn2013_pre_pro_9.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_9.loc[7790:11881][" format: day"]
gn2013_pre_pro_9.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_9.loc[11883:15842][" format: day"]
gn2013_pre_pro_9.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_9.loc[15844:19935][" format: day"]
gn2013_pre_pro_9.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_9.loc[19937:23896][" format: day"]
gn2013_pre_pro_9.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_9.loc[23898:27989][" format: day"]
gn2013_pre_pro_9.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_9.loc[27991:32082][" format: day"]
gn2013_pre_pro_9.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_9.loc[32084:36043][" format: day"]
gn2013_pre_pro_9.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_9.loc[36045:40136][" format: day"]
gn2013_pre_pro_9.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_9.loc[40138:44097][" format: day"]
gn2013_pre_pro_9.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_9.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_9.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_9.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_9.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_9.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_9.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_9.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_9.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_9.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_9.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_9.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_9.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3123842060.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_9.loc[44099:52283][" format: day"]

In [435]:
gn2013_pre_pro_9 = gn2013_pre_pro_9.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [436]:
gn2013_pre_pro_9_fore4 = gn2013_pre_pro_9[gn2013_pre_pro_9['forecast']== '+4']
gn2013_pre_pro_9_fore4.head()

    format: day  hour forecast value  location:90_77 Start : 20130101
0      20130101  0200       +4                              20.000000
16     20130101  0500       +4                              10.000000
31     20130101  0800       +4                              10.000000
49     20130101  1100       +4                              10.000000
66     20130101  1400       +4                               1.000000

In [438]:
gn2013_pre_pro_9_fore4['value  location:90_77 Start : 20130101 '] = gn2013_pre_pro_9_fore4['value  location:90_77 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3331262169.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_9_fore4['value  location:90_77 Start : 20130101 '] = gn2013_pre_pro_9_fore4['value  location:90_77 Start : 20130101 '].astype('float')

In [439]:
gn2013_pre_pro_9_final = pd.DataFrame(gn2013_pre_pro_9_fore4['value  location:90_77 Start : 20130101 '].groupby(gn2013_pre_pro_9_fore4[' format: day']).mean())

In [440]:
gn2013_pre_pro_9_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_9_final

     format: day  value  location:90_77 Start : 20130101
0       20130101                                    9.000
1       20130102                                    2.500
2       20130103                                    1.250
3       20130104                                    3.750
4       20130105                                    6.250
..           ...                                      ...
360     20131227                                    0.625
361     20131228                                    2.500
362     20131229                                   10.000
363     20131230                                    9.375
364     20131231                                   27.500

[365 rows x 2 columns]

In [441]:
gn2013_pre_pro_9_final.rename(columns={' format: day':'date', 'value  location:90_77 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_9_final

         date  pre_pro_mean
0    20130101         9.000
1    20130102         2.500
2    20130103         1.250
3    20130104         3.750
4    20130105         6.250
..        ...           ...
360  20131227         0.625
361  20131228         2.500
362  20131229        10.000
363  20131230         9.375
364  20131231        27.500

[365 rows x 2 columns]

In [442]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_9_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101        11.250
1     20130102         2.500
2     20130103         1.250
3     20130104         3.750
4     20130105         6.250
...        ...           ...
3280  20131227         0.625
3281  20131228         2.500
3282  20131229        10.000
3283  20131230         9.375
3284  20131231        27.500

[3285 rows x 2 columns]

In [443]:
gn2013_pre_pro_10

       format: day    hour  forecast  value  location:74_82 Start : 20130101
0                1   200.0       4.0                                     69.0
1                1   200.0       7.0                                     20.0
2                1   200.0      10.0                                     20.0
3                1   200.0      13.0                                     30.0
4                1   200.0      16.0                                     70.0
...            ...     ...       ...                                      ...
48186           31  2300.0      40.0                                     10.0
48187           31  2300.0      43.0                                     10.0
48188           31  2300.0      46.0                                     10.0
48189           31  2300.0      49.0                                     10.0
48190           31  2300.0      52.0                                     10.0

[48191 rows x 4 columns]

In [444]:
for i in range(len(gn2013_pre_pro_10[" format: day"])):
    if len(gn2013_pre_pro_10[" format: day"][i]) == 1:
        gn2013_pre_pro_10[" format: day"][i] = "0" + gn2013_pre_pro_10[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/248504952.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10[" format: day"][i] = "0" + gn2013_pre_pro_10[" format: day"][i]

In [446]:
gn2013_pre_pro_10.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_10.loc[:4091][" format: day"]
gn2013_pre_pro_10.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_10.loc[4093:7788][" format: day"]
gn2013_pre_pro_10.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_10.loc[7790:11881][" format: day"]
gn2013_pre_pro_10.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_10.loc[11883:15842][" format: day"]
gn2013_pre_pro_10.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_10.loc[15844:19935][" format: day"]
gn2013_pre_pro_10.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_10.loc[19937:23896][" format: day"]
gn2013_pre_pro_10.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_10.loc[23898:27989][" format: day"]
gn2013_pre_pro_10.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_10.loc[27991:32082][" format: day"]
gn2013_pre_pro_10.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_10.loc[32084:36043][" format: day"]
gn2013_pre_pro_10.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_10.loc[36045:40136][" format: day"]
gn2013_pre_pro_10.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_10.loc[40138:44097][" format: day"]
gn2013_pre_pro_10.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_10.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_10.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_10.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_10.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_10.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_10.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_10.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_10.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_10.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_10.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_10.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_10.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1977352189.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_10.loc[44099:][" format: day"]

In [448]:
gn2013_pre_pro_10 = gn2013_pre_pro_10.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [449]:
gn2013_pre_pro_10_fore4 = gn2013_pre_pro_10[gn2013_pre_pro_10['forecast']== 4.0]
gn2013_pre_pro_10_fore4.head()

    format: day    hour  forecast  value  location:74_82 Start : 20130101
0      20130101   200.0       4.0                                     69.0
16     20130101   500.0       4.0                                     20.0
31     20130101   800.0       4.0                                     20.0
49     20130101  1100.0       4.0                                     30.0
66     20130101  1400.0       4.0                                     61.0

In [450]:
gn2013_pre_pro_10_fore4['value  location:74_82 Start : 20130101 '] = gn2013_pre_pro_10_fore4['value  location:74_82 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1357364659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_10_fore4['value  location:74_82 Start : 20130101 '] = gn2013_pre_pro_10_fore4['value  location:74_82 Start : 20130101 '].astype('float')

In [452]:
gn2013_pre_pro_10_final = pd.DataFrame(gn2013_pre_pro_10_fore4['value  location:74_82 Start : 20130101 '].groupby(gn2013_pre_pro_10_fore4[' format: day']).mean())
gn2013_pre_pro_10_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_10_final

     format: day  value  location:74_82 Start : 20130101
0       20130101                                   32.500
1       20130102                                    5.125
2       20130103                                    0.000
3       20130104                                    3.750
4       20130105                                    6.250
..           ...                                      ...
360     20131227                                    2.500
361     20131228                                   10.000
362     20131229                                   13.750
363     20131230                                   10.000
364     20131231                                    1.250

[365 rows x 2 columns]

In [453]:
gn2013_pre_pro_10_final.rename(columns={' format: day':'date', 'value  location:74_82 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_10_final

         date  pre_pro_mean
0    20130101        32.500
1    20130102         5.125
2    20130103         0.000
3    20130104         3.750
4    20130105         6.250
..        ...           ...
360  20131227         2.500
361  20131228        10.000
362  20131229        13.750
363  20131230        10.000
364  20131231         1.250

[365 rows x 2 columns]

In [454]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_10_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101         11.25
1     20130102          2.50
2     20130103          1.25
3     20130104          3.75
4     20130105          6.25
...        ...           ...
3645  20131227          2.50
3646  20131228         10.00
3647  20131229         13.75
3648  20131230         10.00
3649  20131231          1.25

[3650 rows x 2 columns]

In [456]:
gn2013_pre_pro_11

       format: day    hour  forecast  value  location:81_84 Start : 20130101
0                1   200.0       4.0                                     70.0
1                1   200.0       7.0                                     20.0
2                1   200.0      10.0                                     20.0
3                1   200.0      13.0                                     30.0
4                1   200.0      16.0                                     30.0
...            ...     ...       ...                                      ...
48186           31  2300.0      40.0                                     10.0
48187           31  2300.0      43.0                                     10.0
48188           31  2300.0      46.0                                     10.0
48189           31  2300.0      49.0                                     10.0
48190           31  2300.0      52.0                                     10.0

[48191 rows x 4 columns]

In [457]:
for i in range(len(gn2013_pre_pro_11[" format: day"])):
    if len(gn2013_pre_pro_11[" format: day"][i]) == 1:
        gn2013_pre_pro_11[" format: day"][i] = "0" + gn2013_pre_pro_11[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1255428787.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11[" format: day"][i] = "0" + gn2013_pre_pro_11[" format: day"][i]

In [458]:
gn2013_pre_pro_11.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_11.loc[:4091][" format: day"]
gn2013_pre_pro_11.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_11.loc[4093:7788][" format: day"]
gn2013_pre_pro_11.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_11.loc[7790:11881][" format: day"]
gn2013_pre_pro_11.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_11.loc[11883:15842][" format: day"]
gn2013_pre_pro_11.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_11.loc[15844:19935][" format: day"]
gn2013_pre_pro_11.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_11.loc[19937:23896][" format: day"]
gn2013_pre_pro_11.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_11.loc[23898:27989][" format: day"]
gn2013_pre_pro_11.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_11.loc[27991:32082][" format: day"]
gn2013_pre_pro_11.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_11.loc[32084:36043][" format: day"]
gn2013_pre_pro_11.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_11.loc[36045:40136][" format: day"]
gn2013_pre_pro_11.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_11.loc[40138:44097][" format: day"]
gn2013_pre_pro_11.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_11.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_11.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_11.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_11.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_11.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_11.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_11.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_11.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_11.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_11.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_11.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_11.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1774608463.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_11.loc[44099:][" format: day"]

In [459]:
gn2013_pre_pro_11 = gn2013_pre_pro_11.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [460]:
gn2013_pre_pro_11_fore4 = gn2013_pre_pro_11[gn2013_pre_pro_11['forecast']== 4.0]
gn2013_pre_pro_11_fore4.head()

    format: day    hour  forecast  value  location:81_84 Start : 20130101
0      20130101   200.0       4.0                                     70.0
16     20130101   500.0       4.0                                     20.0
31     20130101   800.0       4.0                                     20.0
49     20130101  1100.0       4.0                                     30.0
66     20130101  1400.0       4.0                                     20.0

In [462]:
gn2013_pre_pro_11_fore4['value  location:81_84 Start : 20130101 '] = gn2013_pre_pro_11_fore4['value  location:81_84 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3391201895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_11_fore4['value  location:81_84 Start : 20130101 '] = gn2013_pre_pro_11_fore4['value  location:81_84 Start : 20130101 '].astype('float')

In [463]:
gn2013_pre_pro_11_final = pd.DataFrame(gn2013_pre_pro_11_fore4['value  location:81_84 Start : 20130101 '].groupby(gn2013_pre_pro_11_fore4[' format: day']).mean())
gn2013_pre_pro_11_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_11_final

     format: day  value  location:81_84 Start : 20130101
0       20130101                                   27.500
1       20130102                                    5.000
2       20130103                                    0.000
3       20130104                                    3.750
4       20130105                                    6.250
..           ...                                      ...
360     20131227                                    2.500
361     20131228                                    9.000
362     20131229                                   10.375
363     20131230                                   10.000
364     20131231                                    0.125

[365 rows x 2 columns]

In [464]:
gn2013_pre_pro_11_final.rename(columns={' format: day':'date', 'value  location:81_84 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_11_final

         date  pre_pro_mean
0    20130101        27.500
1    20130102         5.000
2    20130103         0.000
3    20130104         3.750
4    20130105         6.250
..        ...           ...
360  20131227         2.500
361  20131228         9.000
362  20131229        10.375
363  20131230        10.000
364  20131231         0.125

[365 rows x 2 columns]

In [465]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_11_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101        11.250
1     20130102         2.500
2     20130103         1.250
3     20130104         3.750
4     20130105         6.250
...        ...           ...
4010  20131227         2.500
4011  20131228         9.000
4012  20131229        10.375
4013  20131230        10.000
4014  20131231         0.125

[4015 rows x 2 columns]

In [495]:
gn2013_pre_pro_12 = pd.read_csv('2013/경남/가포동_강수확률_201301_201312.csv')

In [496]:
gn2013_pre_pro_12

       format: day  hour forecast value  location:89_75 Start : 20130101
0                1  0200       +4                              20.000000
1                1  0200       +7                              10.000000
2                1  0200      +10                              10.000000
3                1  0200      +13                              10.000000
4                1  0200      +16                              10.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                              10.000000
96379           31  2300      +43                              10.000000
96380           31  2300      +46                              10.000000
96381           31  2300      +49                              10.000000
96382           31  2300      +52                              20.000000

[96383 rows x 4 columns]

In [497]:
gn2013_pre_pro_12[" format: day"] = gn2013_pre_pro_12[" format: day"].str.replace(" ", "")

In [498]:
for i in range(len(gn2013_pre_pro_12[" format: day"])):
    if len(gn2013_pre_pro_12[" format: day"][i]) == 1:
        gn2013_pre_pro_12[" format: day"][i] = "0" + gn2013_pre_pro_12[" format: day"][i]

In [500]:
gn2013_pre_pro_12 = gn2013_pre_pro_12.loc[:52283]

In [502]:
gn2013_pre_pro_12.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_12.loc[:4091][" format: day"]
gn2013_pre_pro_12.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_12.loc[4093:7788][" format: day"]
gn2013_pre_pro_12.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_12.loc[7790:11881][" format: day"]
gn2013_pre_pro_12.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_12.loc[11883:15842][" format: day"]
gn2013_pre_pro_12.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_12.loc[15844:19935][" format: day"]
gn2013_pre_pro_12.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_12.loc[19937:23896][" format: day"]
gn2013_pre_pro_12.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_12.loc[23898:27989][" format: day"]
gn2013_pre_pro_12.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_12.loc[27991:32082][" format: day"]
gn2013_pre_pro_12.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_12.loc[32084:36043][" format: day"]
gn2013_pre_pro_12.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_12.loc[36045:40136][" format: day"]
gn2013_pre_pro_12.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_12.loc[40138:44097][" format: day"]
gn2013_pre_pro_12.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_12.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_12.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_12.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_12.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_12.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_12.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_12.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_12.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_12.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_12.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_12.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_12.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/309271912.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_12.loc[44099:52283][" format: day"]

In [503]:
gn2013_pre_pro_12

       format: day  hour forecast value  location:89_75 Start : 20130101
0         20130101  0200       +4                              20.000000
1         20130101  0200       +7                              10.000000
2         20130101  0200      +10                              10.000000
3         20130101  0200      +13                              10.000000
4         20130101  0200      +16                              10.000000
...            ...   ...      ...                                     ...
52279     20131231  2300      +40                               0.000000
52280     20131231  2300      +43                               0.000000
52281     20131231  2300      +46                              10.000000
52282     20131231  2300      +49                              20.000000
52283     20131231  2300      +52                              30.000000

[52284 rows x 4 columns]

In [504]:
gn2013_pre_pro_12 = gn2013_pre_pro_12.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [505]:
gn2013_pre_pro_12_fore4 = gn2013_pre_pro_12[gn2013_pre_pro_12['forecast']== '+4']
gn2013_pre_pro_12_fore4.head()

    format: day  hour forecast value  location:89_75 Start : 20130101
0      20130101  0200       +4                              20.000000
16     20130101  0500       +4                              10.000000
31     20130101  0800       +4                              10.000000
49     20130101  1100       +4                              10.000000
66     20130101  1400       +4                               0.000000

In [506]:
gn2013_pre_pro_12_fore4['value  location:89_75 Start : 20130101 '] = gn2013_pre_pro_12_fore4['value  location:89_75 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4274714792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_12_fore4['value  location:89_75 Start : 20130101 '] = gn2013_pre_pro_12_fore4['value  location:89_75 Start : 20130101 '].astype('float')

In [507]:
gn2013_pre_pro_12_final = pd.DataFrame(gn2013_pre_pro_12_fore4['value  location:89_75 Start : 20130101 '].groupby(gn2013_pre_pro_12_fore4[' format: day']).mean())

In [510]:
gn2013_pre_pro_12_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_12_final

     format: day  pre_pro_mean
0       20130101         8.750
1       20130102         2.500
2       20130103         1.250
3       20130104         3.750
4       20130105         6.250
..           ...           ...
360     20131227         0.625
361     20131228         2.500
362     20131229        10.000
363     20131230         9.375
364     20131231        27.500

[365 rows x 2 columns]

In [511]:
gn2013_pre_pro_12_final.rename(columns={' format: day':'date', 'value  location:89_75 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_12_final

         date  pre_pro_mean
0    20130101         8.750
1    20130102         2.500
2    20130103         1.250
3    20130104         3.750
4    20130105         6.250
..        ...           ...
360  20131227         0.625
361  20131228         2.500
362  20131229        10.000
363  20131230         9.375
364  20131231        27.500

[365 rows x 2 columns]

In [512]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_12_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101        11.250
1     20130102         2.500
2     20130103         1.250
3     20130104         3.750
4     20130105         6.250
...        ...           ...
4375  20131227         0.625
4376  20131228         2.500
4377  20131229        10.000
4378  20131230         9.375
4379  20131231        27.500

[4380 rows x 2 columns]

In [513]:
gn2013_pre_pro_13

       format: day  hour forecast value  location:87_68 Start : 20130101
0                1  0200       +4                              20.000000
1                1  0200       +7                              10.000000
2                1  0200      +10                              10.000000
3                1  0200      +13                              10.000000
4                1  0200      +16                              10.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                              10.000000
96379           31  2300      +43                              10.000000
96380           31  2300      +46                              10.000000
96381           31  2300      +49                              10.000000
96382           31  2300      +52                              10.000000

[96383 rows x 4 columns]

In [514]:
for i in range(len(gn2013_pre_pro_13[" format: day"])):
    if len(gn2013_pre_pro_13[" format: day"][i]) == 1:
        gn2013_pre_pro_13[" format: day"][i] = "0" + gn2013_pre_pro_13[" format: day"][i]

In [515]:
gn2013_pre_pro_13 = gn2013_pre_pro_13.loc[:52283]

In [516]:
gn2013_pre_pro_13.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_13.loc[:4091][" format: day"]
gn2013_pre_pro_13.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_13.loc[4093:7788][" format: day"]
gn2013_pre_pro_13.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_13.loc[7790:11881][" format: day"]
gn2013_pre_pro_13.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_13.loc[11883:15842][" format: day"]
gn2013_pre_pro_13.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_13.loc[15844:19935][" format: day"]
gn2013_pre_pro_13.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_13.loc[19937:23896][" format: day"]
gn2013_pre_pro_13.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_13.loc[23898:27989][" format: day"]
gn2013_pre_pro_13.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_13.loc[27991:32082][" format: day"]
gn2013_pre_pro_13.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_13.loc[32084:36043][" format: day"]
gn2013_pre_pro_13.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_13.loc[36045:40136][" format: day"]
gn2013_pre_pro_13.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_13.loc[40138:44097][" format: day"]
gn2013_pre_pro_13.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_13.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_13.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_13.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_13.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_13.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_13.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_13.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_13.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_13.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_13.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_13.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_13.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1737769744.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13.loc[44099:52283][" format: day"] = "201312" + gn2013_pre_pro_13.loc[44099:52283][" format: day"]

In [518]:
gn2013_pre_pro_13 = gn2013_pre_pro_13.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [519]:
gn2013_pre_pro_13_fore4 = gn2013_pre_pro_13[gn2013_pre_pro_13['forecast']== '+4']
gn2013_pre_pro_13_fore4.head()

    format: day  hour forecast value  location:87_68 Start : 20130101
0      20130101  0200       +4                              20.000000
16     20130101  0500       +4                              10.000000
31     20130101  0800       +4                              10.000000
49     20130101  1100       +4                              10.000000
66     20130101  1400       +4                               0.000000

In [520]:
gn2013_pre_pro_13_fore4['value  location:87_68 Start : 20130101 '] = gn2013_pre_pro_13_fore4['value  location:87_68 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3559926899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_13_fore4['value  location:87_68 Start : 20130101 '] = gn2013_pre_pro_13_fore4['value  location:87_68 Start : 20130101 '].astype('float')

In [521]:
gn2013_pre_pro_13_final = pd.DataFrame(gn2013_pre_pro_13_fore4['value  location:87_68 Start : 20130101 '].groupby(gn2013_pre_pro_13_fore4[' format: day']).mean())

In [522]:
gn2013_pre_pro_13_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_13_final

     format: day  value  location:87_68 Start : 20130101
0       20130101                                    8.750
1       20130102                                    2.500
2       20130103                                    0.000
3       20130104                                    3.750
4       20130105                                    5.000
..           ...                                      ...
360     20131227                                    0.625
361     20131228                                    2.500
362     20131229                                   10.000
363     20131230                                    9.375
364     20131231                                   27.500

[365 rows x 2 columns]

In [523]:
gn2013_pre_pro_13_final.rename(columns={' format: day':'date', 'value  location:87_68 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_13_final

         date  pre_pro_mean
0    20130101         8.750
1    20130102         2.500
2    20130103         0.000
3    20130104         3.750
4    20130105         5.000
..        ...           ...
360  20131227         0.625
361  20131228         2.500
362  20131229        10.000
363  20131230         9.375
364  20131231        27.500

[365 rows x 2 columns]

In [524]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_13_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101        11.250
1     20130102         2.500
2     20130103         1.250
3     20130104         3.750
4     20130105         6.250
...        ...           ...
4740  20131227         0.625
4741  20131228         2.500
4742  20131229        10.000
4743  20131230         9.375
4744  20131231        27.500

[4745 rows x 2 columns]

In [525]:
gn2013_pre_pro_14

       format: day    hour  forecast  value  location:77_86 Start : 20130101
0                1   200.0       4.0                                     70.0
1                1   200.0       7.0                                     20.0
2                1   200.0      10.0                                     20.0
3                1   200.0      13.0                                     30.0
4                1   200.0      16.0                                     70.0
...            ...     ...       ...                                      ...
48186           31  2300.0      40.0                                     10.0
48187           31  2300.0      43.0                                     10.0
48188           31  2300.0      46.0                                     10.0
48189           31  2300.0      49.0                                     10.0
48190           31  2300.0      52.0                                     10.0

[48191 rows x 4 columns]

In [526]:
for i in range(len(gn2013_pre_pro_14[" format: day"])):
    if len(gn2013_pre_pro_14[" format: day"][i]) == 1:
        gn2013_pre_pro_14[" format: day"][i] = "0" + gn2013_pre_pro_14[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2000072881.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14[" format: day"][i] = "0" + gn2013_pre_pro_14[" format: day"][i]

In [527]:
gn2013_pre_pro_14.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_14.loc[:4091][" format: day"]
gn2013_pre_pro_14.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_14.loc[4093:7788][" format: day"]
gn2013_pre_pro_14.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_14.loc[7790:11881][" format: day"]
gn2013_pre_pro_14.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_14.loc[11883:15842][" format: day"]
gn2013_pre_pro_14.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_14.loc[15844:19935][" format: day"]
gn2013_pre_pro_14.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_14.loc[19937:23896][" format: day"]
gn2013_pre_pro_14.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_14.loc[23898:27989][" format: day"]
gn2013_pre_pro_14.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_14.loc[27991:32082][" format: day"]
gn2013_pre_pro_14.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_14.loc[32084:36043][" format: day"]
gn2013_pre_pro_14.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_14.loc[36045:40136][" format: day"]
gn2013_pre_pro_14.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_14.loc[40138:44097][" format: day"]
gn2013_pre_pro_14.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_14.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[:4091][" format: day"] = "201301" + gn2013_pre_pro_14.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[4093:7788][" format: day"] = "201302" + gn2013_pre_pro_14.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[7790:11881][" format: day"] = "201303" + gn2013_pre_pro_14.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[11883:15842][" format: day"] = "201304" + gn2013_pre_pro_14.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[15844:19935][" format: day"] = "201305" + gn2013_pre_pro_14.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[19937:23896][" format: day"] = "201306" + gn2013_pre_pro_14.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[23898:27989][" format: day"] = "201307" + gn2013_pre_pro_14.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[27991:32082][" format: day"] = "201308" + gn2013_pre_pro_14.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[32084:36043][" format: day"] = "201309" + gn2013_pre_pro_14.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[36045:40136][" format: day"] = "201310" + gn2013_pre_pro_14.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[40138:44097][" format: day"] = "201311" + gn2013_pre_pro_14.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2746417039.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14.loc[44099:][" format: day"] = "201312" + gn2013_pre_pro_14.loc[44099:][" format: day"]

In [529]:
gn2013_pre_pro_14 = gn2013_pre_pro_14.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [530]:
gn2013_pre_pro_14_fore4 = gn2013_pre_pro_14[gn2013_pre_pro_14['forecast']== 4.0]
gn2013_pre_pro_14_fore4.head()

    format: day    hour  forecast  value  location:77_86 Start : 20130101
0      20130101   200.0       4.0                                     70.0
16     20130101   500.0       4.0                                     20.0
31     20130101   800.0       4.0                                     20.0
49     20130101  1100.0       4.0                                     30.0
66     20130101  1400.0       4.0                                     60.0

In [531]:
gn2013_pre_pro_14_fore4['value  location:77_86 Start : 20130101 '] = gn2013_pre_pro_14_fore4['value  location:77_86 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1565192027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gn2013_pre_pro_14_fore4['value  location:77_86 Start : 20130101 '] = gn2013_pre_pro_14_fore4['value  location:77_86 Start : 20130101 '].astype('float')

In [532]:
gn2013_pre_pro_14_final = pd.DataFrame(gn2013_pre_pro_14_fore4['value  location:77_86 Start : 20130101 '].groupby(gn2013_pre_pro_14_fore4[' format: day']).mean())
gn2013_pre_pro_14_final.reset_index(level=[' format: day'], inplace = True)
gn2013_pre_pro_14_final

     format: day  value  location:77_86 Start : 20130101
0       20130101                                    32.50
1       20130102                                     5.00
2       20130103                                     0.00
3       20130104                                     3.75
4       20130105                                     6.25
..           ...                                      ...
360     20131227                                     2.50
361     20131228                                    10.00
362     20131229                                    13.75
363     20131230                                    10.00
364     20131231                                     1.25

[365 rows x 2 columns]

In [533]:
gn2013_pre_pro_14_final.rename(columns={' format: day':'date', 'value  location:77_86 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gn2013_pre_pro_14_final

         date  pre_pro_mean
0    20130101         32.50
1    20130102          5.00
2    20130103          0.00
3    20130104          3.75
4    20130105          6.25
..        ...           ...
360  20131227          2.50
361  20131228         10.00
362  20131229         13.75
363  20131230         10.00
364  20131231          1.25

[365 rows x 2 columns]

In [534]:
gn2013_pre_pro_final = pd.concat([gn2013_pre_pro_final, gn2013_pre_pro_14_final], axis = 0, ignore_index=True)
gn2013_pre_pro_final

          date  pre_pro_mean
0     20130101         11.25
1     20130102          2.50
2     20130103          1.25
3     20130104          3.75
4     20130105          6.25
...        ...           ...
5105  20131227          2.50
5106  20131228         10.00
5107  20131229         13.75
5108  20131230         10.00
5109  20131231          1.25

[5110 rows x 2 columns]

In [536]:
gn_pre_pro = pd.DataFrame(gn2013_pre_pro_final['pre_pro_mean'].groupby(gn2013_pre_pro_final['date']).mean())

In [537]:
gn_pre_pro.reset_index(level=['date'], inplace = True)
gn_pre_pro['area'] = '경남'
gn_pre_pro = gn_pre_pro[['date', 'area', 'pre_pro_mean']]

In [538]:
gn_pre_pro

         date area  pre_pro_mean
0    20130101   경남     16.241071
1    20130102   경남      3.133929
2    20130103   경남      0.517857
3    20130104   경남      3.651786
4    20130105   경남      5.723214
..        ...  ...           ...
360  20131227   경남      1.000000
361  20131228   경남      3.696429
362  20131229   경남      8.549107
363  20131230   경남      7.013393
364  20131231   경남     11.580357

[365 rows x 3 columns]

In [539]:
pre_pro = pd.concat([pre_pro, gn_pre_pro], axis = 0, ignore_index=True)
pre_pro

          date area  pre_pro_mean
0     20130101   강원     27.330357
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      5.151786
4     20130105   강원      3.866071
...        ...  ...           ...
1090  20131227   경남      1.000000
1091  20131228   경남      3.696429
1092  20131229   경남      8.549107
1093  20131230   경남      7.013393
1094  20131231   경남     11.580357

[1095 rows x 3 columns]

In [570]:
gb2013_pre_pro = glob.glob(os.path.join("2013/경북", "*_강수확률_201301_201312.csv"))

In [571]:
gb2013_pre_pro

['2013/경북/점촌4동_강수확률_201301_201312.csv',
 '2013/경북/의성읍_강수확률_201301_201312.csv',
 '2013/경북/송도동_강수확률_201301_201312.csv',
 '2013/경북/춘양면_강수확률_201301_201312.csv',
 '2013/경북/영해면_강수확률_201301_201312.csv',
 '2013/경북/평화동_강수확률_201301_201312.csv',
 '2013/경북/동부동_강수확률_201301_201312.csv',
 '2013/경북/독도_강수확률_201301_201312.csv',
 '2013/경북/울진읍_강수확률_201301_201312.csv',
 '2013/경북/선주원남동_강수확률_201301_201312.csv',
 '2013/경북/청송읍_강수확률_201301_201312.csv',
 '2013/경북/울릉읍_강수확률_201301_201312.csv',
 '2013/경북/풍기읍_강수확률_201301_201312.csv',
 '2013/경북/남원동_강수확률_201301_201312.csv',
 '2013/경북/황성동_강수확률_201301_201312.csv']

In [572]:
j=1
for i in gb2013_pre_pro:
    globals()['gb2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [573]:
j=1
for i in gb2013_pre_pro:
    globals()['gb2013_pre_pro_{}'.format(j)][" format: day"] = globals()['gb2013_pre_pro_{}'.format(j)][" format: day"].str.replace(" ", "")
    j+=1

In [574]:
gb2013_pre_pro_1

       format: day    hour  forecast  value  location:81_107 Start : 20130101
0                1   200.0       4.0                                      60.0
1                1   200.0       7.0                                      20.0
2                1   200.0      10.0                                      20.0
3                1   200.0      13.0                                      30.0
4                1   200.0      16.0                                      70.0
...            ...     ...       ...                                       ...
48186           31  2300.0      40.0                                      10.0
48187           31  2300.0      43.0                                      10.0
48188           31  2300.0      46.0                                      10.0
48189           31  2300.0      49.0                                      20.0
48190           31  2300.0      52.0                                      20.0

[48191 rows x 4 columns]

In [575]:
for i in range(len(gb2013_pre_pro_1[" format: day"])):
    if len(gb2013_pre_pro_1[" format: day"][i]) == 1:
        gb2013_pre_pro_1[" format: day"][i] = "0" + gb2013_pre_pro_1[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1712560279.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1[" format: day"][i] = "0" + gb2013_pre_pro_1[" format: day"][i]

In [576]:
gb2013_pre_pro_1.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_1.loc[:4091][" format: day"]
gb2013_pre_pro_1.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_1.loc[4093:7788][" format: day"]
gb2013_pre_pro_1.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_1.loc[7790:11881][" format: day"]
gb2013_pre_pro_1.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_1.loc[11883:15842][" format: day"]
gb2013_pre_pro_1.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_1.loc[15844:19935][" format: day"]
gb2013_pre_pro_1.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_1.loc[19937:23896][" format: day"]
gb2013_pre_pro_1.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_1.loc[23898:27989][" format: day"]
gb2013_pre_pro_1.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_1.loc[27991:32082][" format: day"]
gb2013_pre_pro_1.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_1.loc[32084:36043][" format: day"]
gb2013_pre_pro_1.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_1.loc[36045:40136][" format: day"]
gb2013_pre_pro_1.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_1.loc[40138:44097][" format: day"]
gb2013_pre_pro_1.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_1.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_1.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_1.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_1.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_1.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_1.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_1.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_1.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_1.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_1.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_1.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_1.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3653755635.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_1.loc[44099:][" format: day"]

In [577]:
gb2013_pre_pro_1 = gb2013_pre_pro_1.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [578]:
gb2013_pre_pro_1_fore4 = gb2013_pre_pro_1[gb2013_pre_pro_1['forecast']== 4.0]
gb2013_pre_pro_1_fore4.head()

    format: day    hour  forecast  value  location:81_107 Start : 20130101
0      20130101   200.0       4.0                                      60.0
16     20130101   500.0       4.0                                      20.0
31     20130101   800.0       4.0                                      30.0
49     20130101  1100.0       4.0                                      70.0
66     20130101  1400.0       4.0                                      60.0

In [579]:
gb2013_pre_pro_1_fore4['value  location:81_107 Start : 20130101 '] = gb2013_pre_pro_1_fore4['value  location:81_107 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/464667388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_1_fore4['value  location:81_107 Start : 20130101 '] = gb2013_pre_pro_1_fore4['value  location:81_107 Start : 20130101 '].astype('float')

In [580]:
gb2013_pre_pro_1_final = pd.DataFrame(gb2013_pre_pro_1_fore4['value  location:81_107 Start : 20130101 '].groupby(gb2013_pre_pro_1_fore4[' format: day']).mean())
gb2013_pre_pro_1_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_1_final

     format: day  value  location:81_107 Start : 20130101
0       20130101                                     35.00
1       20130102                                      1.25
2       20130103                                      0.00
3       20130104                                      5.00
4       20130105                                     12.50
..           ...                                       ...
360     20131227                                      0.00
361     20131228                                      2.50
362     20131229                                     17.50
363     20131230                                     11.25
364     20131231                                      7.50

[365 rows x 2 columns]

In [581]:
gb2013_pre_pro_1_final.rename(columns={' format: day':'date', 'value  location:81_107 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_1_final

         date  pre_pro_mean
0    20130101         35.00
1    20130102          1.25
2    20130103          0.00
3    20130104          5.00
4    20130105         12.50
..        ...           ...
360  20131227          0.00
361  20131228          2.50
362  20131229         17.50
363  20131230         11.25
364  20131231          7.50

[365 rows x 2 columns]

In [583]:
gb2013_pre_pro_final = pd.DataFrame()
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_1_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

         date  pre_pro_mean
0    20130101         35.00
1    20130102          1.25
2    20130103          0.00
3    20130104          5.00
4    20130105         12.50
..        ...           ...
360  20131227          0.00
361  20131228          2.50
362  20131229         17.50
363  20131230         11.25
364  20131231          7.50

[365 rows x 2 columns]

In [585]:
gb2013_pre_pro_2

       format: day    hour  forecast  value  location:90_101 Start : 20130101
0                1   200.0       4.0                                      60.0
1                1   200.0       7.0                                      20.0
2                1   200.0      10.0                                      20.0
3                1   200.0      13.0                                      30.0
4                1   200.0      16.0                                      70.0
...            ...     ...       ...                                       ...
48186           31  2300.0      40.0                                      10.0
48187           31  2300.0      43.0                                      10.0
48188           31  2300.0      46.0                                      10.0
48189           31  2300.0      49.0                                      20.0
48190           31  2300.0      52.0                                      20.0

[48191 rows x 4 columns]

In [586]:
for i in range(len(gb2013_pre_pro_2[" format: day"])):
    if len(gb2013_pre_pro_2[" format: day"][i]) == 1:
        gb2013_pre_pro_2[" format: day"][i] = "0" + gb2013_pre_pro_2[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/629569877.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2[" format: day"][i] = "0" + gb2013_pre_pro_2[" format: day"][i]

In [587]:
gb2013_pre_pro_2.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_2.loc[:4091][" format: day"]
gb2013_pre_pro_2.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_2.loc[4093:7788][" format: day"]
gb2013_pre_pro_2.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_2.loc[7790:11881][" format: day"]
gb2013_pre_pro_2.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_2.loc[11883:15842][" format: day"]
gb2013_pre_pro_2.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_2.loc[15844:19935][" format: day"]
gb2013_pre_pro_2.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_2.loc[19937:23896][" format: day"]
gb2013_pre_pro_2.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_2.loc[23898:27989][" format: day"]
gb2013_pre_pro_2.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_2.loc[27991:32082][" format: day"]
gb2013_pre_pro_2.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_2.loc[32084:36043][" format: day"]
gb2013_pre_pro_2.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_2.loc[36045:40136][" format: day"]
gb2013_pre_pro_2.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_2.loc[40138:44097][" format: day"]
gb2013_pre_pro_2.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_2.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_2.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_2.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_2.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_2.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_2.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_2.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_2.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_2.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_2.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_2.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_2.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1398518126.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_2.loc[44099:][" format: day"]

In [588]:
gb2013_pre_pro_2 = gb2013_pre_pro_2.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [589]:
gb2013_pre_pro_2_fore4 = gb2013_pre_pro_2[gb2013_pre_pro_2['forecast']== 4.0]
gb2013_pre_pro_2_fore4.head()

    format: day    hour  forecast  value  location:90_101 Start : 20130101
0      20130101   200.0       4.0                                      60.0
16     20130101   500.0       4.0                                      20.0
31     20130101   800.0       4.0                                      20.0
49     20130101  1100.0       4.0                                      60.0
66     20130101  1400.0       4.0                                      60.0

In [590]:
gb2013_pre_pro_2_fore4['value  location:90_101 Start : 20130101 '] = gb2013_pre_pro_2_fore4['value  location:90_101 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3897942499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_2_fore4['value  location:90_101 Start : 20130101 '] = gb2013_pre_pro_2_fore4['value  location:90_101 Start : 20130101 '].astype('float')

In [591]:
gb2013_pre_pro_2_final = pd.DataFrame(gb2013_pre_pro_2_fore4['value  location:90_101 Start : 20130101 '].groupby(gb2013_pre_pro_2_fore4[' format: day']).mean())
gb2013_pre_pro_2_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_2_final

     format: day  value  location:90_101 Start : 20130101
0       20130101                                     32.50
1       20130102                                      0.00
2       20130103                                      0.00
3       20130104                                      5.00
4       20130105                                      8.75
..           ...                                       ...
360     20131227                                      0.00
361     20131228                                      0.00
362     20131229                                     16.25
363     20131230                                     11.25
364     20131231                                      5.00

[365 rows x 2 columns]

In [592]:
gb2013_pre_pro_2_final.rename(columns={' format: day':'date', 'value  location:90_101 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_2_final

         date  pre_pro_mean
0    20130101         32.50
1    20130102          0.00
2    20130103          0.00
3    20130104          5.00
4    20130105          8.75
..        ...           ...
360  20131227          0.00
361  20131228          0.00
362  20131229         16.25
363  20131230         11.25
364  20131231          5.00

[365 rows x 2 columns]

In [593]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_2_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

         date  pre_pro_mean
0    20130101         35.00
1    20130102          1.25
2    20130103          0.00
3    20130104          5.00
4    20130105         12.50
..        ...           ...
725  20131227          0.00
726  20131228          0.00
727  20131229         16.25
728  20131230         11.25
729  20131231          5.00

[730 rows x 2 columns]

In [594]:
gb2013_pre_pro_3

       format: day  hour forecast value  location:102_94 Start : 20130101
0                1  0200       +4                               21.000000
1                1  0200       +7                               10.000000
2                1  0200      +10                               10.000000
3                1  0200      +13                               20.000000
4                1  0200      +16                               20.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               10.000000
96380           31  2300      +46                               10.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [595]:
for i in range(len(gb2013_pre_pro_3[" format: day"])):
    if len(gb2013_pre_pro_3[" format: day"][i]) == 1:
        gb2013_pre_pro_3[" format: day"][i] = "0" + gb2013_pre_pro_3[" format: day"][i]

In [596]:
gb2013_pre_pro_3 = gb2013_pre_pro_3.loc[:52283]

In [597]:
gb2013_pre_pro_3.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_3.loc[:4091][" format: day"]
gb2013_pre_pro_3.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_3.loc[4093:7788][" format: day"]
gb2013_pre_pro_3.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_3.loc[7790:11881][" format: day"]
gb2013_pre_pro_3.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_3.loc[11883:15842][" format: day"]
gb2013_pre_pro_3.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_3.loc[15844:19935][" format: day"]
gb2013_pre_pro_3.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_3.loc[19937:23896][" format: day"]
gb2013_pre_pro_3.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_3.loc[23898:27989][" format: day"]
gb2013_pre_pro_3.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_3.loc[27991:32082][" format: day"]
gb2013_pre_pro_3.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_3.loc[32084:36043][" format: day"]
gb2013_pre_pro_3.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_3.loc[36045:40136][" format: day"]
gb2013_pre_pro_3.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_3.loc[40138:44097][" format: day"]
gb2013_pre_pro_3.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_3.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_3.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_3.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_3.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_3.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_3.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_3.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_3.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_3.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_3.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_3.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_3.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/397907468.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_3.loc[44099:52283][" format: day"]

In [598]:
gb2013_pre_pro_3 = gb2013_pre_pro_3.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [599]:
gb2013_pre_pro_3_fore4 = gb2013_pre_pro_3[gb2013_pre_pro_3['forecast']== '+4']
gb2013_pre_pro_3_fore4.head()

    format: day  hour forecast value  location:102_94 Start : 20130101
0      20130101  0200       +4                               21.000000
16     20130101  0500       +4                               10.000000
31     20130101  0800       +4                               10.000000
49     20130101  1100       +4                               20.000000
66     20130101  1400       +4                               20.000000

In [600]:
gb2013_pre_pro_3_fore4['value  location:102_94 Start : 20130101 '] = gb2013_pre_pro_3_fore4['value  location:102_94 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2095794593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_3_fore4['value  location:102_94 Start : 20130101 '] = gb2013_pre_pro_3_fore4['value  location:102_94 Start : 20130101 '].astype('float')

In [601]:
gb2013_pre_pro_3_final = pd.DataFrame(gb2013_pre_pro_3_fore4['value  location:102_94 Start : 20130101 '].groupby(gb2013_pre_pro_3_fore4[' format: day']).mean())

In [602]:
gb2013_pre_pro_3_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_3_final

     format: day  value  location:102_94 Start : 20130101
0       20130101                                   13.8750
1       20130102                                    1.2500
2       20130103                                    0.0000
3       20130104                                    2.5000
4       20130105                                    7.5000
..           ...                                       ...
360     20131227                                    1.1875
361     20131228                                    3.7500
362     20131229                                    8.1250
363     20131230                                   10.0000
364     20131231                                   23.7500

[365 rows x 2 columns]

In [603]:
gb2013_pre_pro_3_final.rename(columns={' format: day':'date', 'value  location:102_94 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_3_final

         date  pre_pro_mean
0    20130101       13.8750
1    20130102        1.2500
2    20130103        0.0000
3    20130104        2.5000
4    20130105        7.5000
..        ...           ...
360  20131227        1.1875
361  20131228        3.7500
362  20131229        8.1250
363  20131230       10.0000
364  20131231       23.7500

[365 rows x 2 columns]

In [604]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_3_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101       35.0000
1     20130102        1.2500
2     20130103        0.0000
3     20130104        5.0000
4     20130105       12.5000
...        ...           ...
1090  20131227        1.1875
1091  20131228        3.7500
1092  20131229        8.1250
1093  20131230       10.0000
1094  20131231       23.7500

[1095 rows x 2 columns]

In [605]:
gb2013_pre_pro_4

       format: day    hour  forecast  value  location:94_114 Start : 20130101
0                1   200.0       4.0                                      60.0
1                1   200.0       7.0                                      20.0
2                1   200.0      10.0                                      20.0
3                1   200.0      13.0                                      30.0
4                1   200.0      16.0                                      60.0
...            ...     ...       ...                                       ...
48186           31  2300.0      40.0                                      10.0
48187           31  2300.0      43.0                                      10.0
48188           31  2300.0      46.0                                      10.0
48189           31  2300.0      49.0                                      20.0
48190           31  2300.0      52.0                                      20.0

[48191 rows x 4 columns]

In [606]:
for i in range(len(gb2013_pre_pro_4[" format: day"])):
    if len(gb2013_pre_pro_4[" format: day"][i]) == 1:
        gb2013_pre_pro_4[" format: day"][i] = "0" + gb2013_pre_pro_4[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2629587553.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4[" format: day"][i] = "0" + gb2013_pre_pro_4[" format: day"][i]

In [607]:
gb2013_pre_pro_4.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_4.loc[:4091][" format: day"]
gb2013_pre_pro_4.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_4.loc[4093:7788][" format: day"]
gb2013_pre_pro_4.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_4.loc[7790:11881][" format: day"]
gb2013_pre_pro_4.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_4.loc[11883:15842][" format: day"]
gb2013_pre_pro_4.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_4.loc[15844:19935][" format: day"]
gb2013_pre_pro_4.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_4.loc[19937:23896][" format: day"]
gb2013_pre_pro_4.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_4.loc[23898:27989][" format: day"]
gb2013_pre_pro_4.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_4.loc[27991:32082][" format: day"]
gb2013_pre_pro_4.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_4.loc[32084:36043][" format: day"]
gb2013_pre_pro_4.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_4.loc[36045:40136][" format: day"]
gb2013_pre_pro_4.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_4.loc[40138:44097][" format: day"]
gb2013_pre_pro_4.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_4.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_4.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_4.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_4.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_4.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_4.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_4.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_4.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_4.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_4.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_4.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_4.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2518776972.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_4.loc[44099:][" format: day"]

In [608]:
gb2013_pre_pro_4 = gb2013_pre_pro_4.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [609]:
gb2013_pre_pro_4_fore4 = gb2013_pre_pro_4[gb2013_pre_pro_4['forecast']== 4.0]
gb2013_pre_pro_4_fore4.head()

    format: day    hour  forecast  value  location:94_114 Start : 20130101
0      20130101   200.0       4.0                                      60.0
16     20130101   500.0       4.0                                      20.0
31     20130101   800.0       4.0                                      20.0
49     20130101  1100.0       4.0                                      60.0
66     20130101  1400.0       4.0                                      60.0

In [610]:
gb2013_pre_pro_4_fore4['value  location:94_114 Start : 20130101 '] = gb2013_pre_pro_4_fore4['value  location:94_114 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2556028063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_4_fore4['value  location:94_114 Start : 20130101 '] = gb2013_pre_pro_4_fore4['value  location:94_114 Start : 20130101 '].astype('float')

In [611]:
gb2013_pre_pro_4_final = pd.DataFrame(gb2013_pre_pro_4_fore4['value  location:94_114 Start : 20130101 '].groupby(gb2013_pre_pro_4_fore4[' format: day']).mean())
gb2013_pre_pro_4_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_4_final

     format: day  value  location:94_114 Start : 20130101
0       20130101                                     32.50
1       20130102                                      1.25
2       20130103                                      0.00
3       20130104                                      5.00
4       20130105                                     10.00
..           ...                                       ...
360     20131227                                      0.00
361     20131228                                      0.00
362     20131229                                     16.25
363     20131230                                      8.75
364     20131231                                      6.25

[365 rows x 2 columns]

In [612]:
gb2013_pre_pro_4_final.rename(columns={' format: day':'date', 'value  location:94_114 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_4_final

         date  pre_pro_mean
0    20130101         32.50
1    20130102          1.25
2    20130103          0.00
3    20130104          5.00
4    20130105         10.00
..        ...           ...
360  20131227          0.00
361  20131228          0.00
362  20131229         16.25
363  20131230          8.75
364  20131231          6.25

[365 rows x 2 columns]

In [613]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_4_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101         35.00
1     20130102          1.25
2     20130103          0.00
3     20130104          5.00
4     20130105         12.50
...        ...           ...
1455  20131227          0.00
1456  20131228          0.00
1457  20131229         16.25
1458  20131230          8.75
1459  20131231          6.25

[1460 rows x 2 columns]

In [614]:
gb2013_pre_pro_5

,format: day,hour,forecast,value location:103_105 Start : 20130101
0,1,200.0,4.0,60.0
1,1,200.0,7.0,20.0
2,1,200.0,10.0,20.0
3,1,200.0,13.0,30.0
4,1,200.0,16.0,30.0
...,...,...,...,...
48186,31,2300.0,40.0,10.0
48187,31,2300.0,43.0,10.0
48188,31,2300.0,46.0,10.0
48189,31,2300.0,49.0,20.0
48190,31,2300.0,52.0,20.0

In [615]:
for i in range(len(gb2013_pre_pro_5[" format: day"])):
    if len(gb2013_pre_pro_5[" format: day"][i]) == 1:
        gb2013_pre_pro_5[" format: day"][i] = "0" + gb2013_pre_pro_5[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1422421306.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5[" format: day"][i] = "0" + gb2013_pre_pro_5[" format: day"][i]

In [616]:
gb2013_pre_pro_5.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_5.loc[:4091][" format: day"]
gb2013_pre_pro_5.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_5.loc[4093:7788][" format: day"]
gb2013_pre_pro_5.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_5.loc[7790:11881][" format: day"]
gb2013_pre_pro_5.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_5.loc[11883:15842][" format: day"]
gb2013_pre_pro_5.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_5.loc[15844:19935][" format: day"]
gb2013_pre_pro_5.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_5.loc[19937:23896][" format: day"]
gb2013_pre_pro_5.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_5.loc[23898:27989][" format: day"]
gb2013_pre_pro_5.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_5.loc[27991:32082][" format: day"]
gb2013_pre_pro_5.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_5.loc[32084:36043][" format: day"]
gb2013_pre_pro_5.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_5.loc[36045:40136][" format: day"]
gb2013_pre_pro_5.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_5.loc[40138:44097][" format: day"]
gb2013_pre_pro_5.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_5.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_5.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_5.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_5.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_5.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_5.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_5.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_5.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_5.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_5.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_5.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_5.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2340934014.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_5.loc[44099:][" format: day"]

In [617]:
gb2013_pre_pro_5 = gb2013_pre_pro_5.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [618]:
gb2013_pre_pro_5_fore4 = gb2013_pre_pro_5[gb2013_pre_pro_5['forecast']== 4.0]
gb2013_pre_pro_5_fore4.head()

    format: day    hour  forecast  value  location:103_105 Start : 20130101
0      20130101   200.0       4.0                                       60.0
16     20130101   500.0       4.0                                       10.0
31     20130101   800.0       4.0                                       20.0
49     20130101  1100.0       4.0                                       20.0
66     20130101  1400.0       4.0                                       30.0

In [619]:
gb2013_pre_pro_5_fore4['value  location:103_105 Start : 20130101 '] = gb2013_pre_pro_5_fore4['value  location:103_105 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/794396022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_5_fore4['value  location:103_105 Start : 20130101 '] = gb2013_pre_pro_5_fore4['value  location:103_105 Start : 20130101 '].astype('float')

In [620]:
gb2013_pre_pro_5_final = pd.DataFrame(gb2013_pre_pro_5_fore4['value  location:103_105 Start : 20130101 '].groupby(gb2013_pre_pro_5_fore4[' format: day']).mean())
gb2013_pre_pro_5_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_5_final

     format: day  value  location:103_105 Start : 20130101
0       20130101                                      21.25
1       20130102                                       0.00
2       20130103                                       0.00
3       20130104                                       2.50
4       20130105                                       7.50
..           ...                                        ...
360     20131227                                       1.25
361     20131228                                       0.00
362     20131229                                       5.00
363     20131230                                       8.75
364     20131231                                       3.75

[365 rows x 2 columns]

In [621]:
gb2013_pre_pro_5_final.rename(columns={' format: day':'date', 'value  location:103_105 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_5_final

         date  pre_pro_mean
0    20130101         21.25
1    20130102          0.00
2    20130103          0.00
3    20130104          2.50
4    20130105          7.50
..        ...           ...
360  20131227          1.25
361  20131228          0.00
362  20131229          5.00
363  20131230          8.75
364  20131231          3.75

[365 rows x 2 columns]

In [622]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_5_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101         35.00
1     20130102          1.25
2     20130103          0.00
3     20130104          5.00
4     20130105         12.50
...        ...           ...
1820  20131227          1.25
1821  20131228          0.00
1822  20131229          5.00
1823  20131230          8.75
1824  20131231          3.75

[1825 rows x 2 columns]

In [623]:
gb2013_pre_pro_6

       format: day  hour forecast value  location:90_106 Start : 20130101
0                1  0200       +4                               60.000000
1                1  0200       +7                               20.000000
2                1  0200      +10                               20.000000
3                1  0200      +13                               30.000000
4                1  0200      +16                               70.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               10.000000
96380           31  2300      +46                               10.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [624]:
for i in range(len(gb2013_pre_pro_6[" format: day"])):
    if len(gb2013_pre_pro_6[" format: day"][i]) == 1:
        gb2013_pre_pro_6[" format: day"][i] = "0" + gb2013_pre_pro_6[" format: day"][i]

In [626]:
gb2013_pre_pro_6 = gb2013_pre_pro_6.loc[:52283]

In [625]:
gb2013_pre_pro_6.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_6.loc[:4091][" format: day"]
gb2013_pre_pro_6.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_6.loc[4093:7788][" format: day"]
gb2013_pre_pro_6.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_6.loc[7790:11881][" format: day"]
gb2013_pre_pro_6.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_6.loc[11883:15842][" format: day"]
gb2013_pre_pro_6.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_6.loc[15844:19935][" format: day"]
gb2013_pre_pro_6.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_6.loc[19937:23896][" format: day"]
gb2013_pre_pro_6.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_6.loc[23898:27989][" format: day"]
gb2013_pre_pro_6.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_6.loc[27991:32082][" format: day"]
gb2013_pre_pro_6.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_6.loc[32084:36043][" format: day"]
gb2013_pre_pro_6.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_6.loc[36045:40136][" format: day"]
gb2013_pre_pro_6.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_6.loc[40138:44097][" format: day"]
gb2013_pre_pro_6.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_6.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_6.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_6.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_6.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_6.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_6.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_6.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_6.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_6.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_6.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_6.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_6.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2217952147.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_6.loc[44099:52283][" format: day"]

In [628]:
gb2013_pre_pro_6 = gb2013_pre_pro_6.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [629]:
gb2013_pre_pro_6_fore4 = gb2013_pre_pro_6[gb2013_pre_pro_6['forecast']== '+4']
gb2013_pre_pro_6_fore4.head()

    format: day  hour forecast value  location:90_106 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               20.000000
31     20130101  0800       +4                               20.000000
49     20130101  1100       +4                               60.000000
66     20130101  1400       +4                               60.000000

In [630]:
gb2013_pre_pro_6_fore4['value  location:90_106 Start : 20130101 '] = gb2013_pre_pro_6_fore4['value  location:90_106 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2732665894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_6_fore4['value  location:90_106 Start : 20130101 '] = gb2013_pre_pro_6_fore4['value  location:90_106 Start : 20130101 '].astype('float')

In [631]:
gb2013_pre_pro_6_final = pd.DataFrame(gb2013_pre_pro_6_fore4['value  location:90_106 Start : 20130101 '].groupby(gb2013_pre_pro_6_fore4[' format: day']).mean())

In [632]:
gb2013_pre_pro_6_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_6_final

     format: day  value  location:90_106 Start : 20130101
0       20130101                                    32.500
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                     5.000
4       20130105                                     8.750
..           ...                                       ...
360     20131227                                     1.250
361     20131228                                     8.125
362     20131229                                    16.875
363     20131230                                    12.500
364     20131231                                    26.250

[365 rows x 2 columns]

In [633]:
gb2013_pre_pro_6_final.rename(columns={' format: day':'date', 'value  location:90_106 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_6_final

         date  pre_pro_mean
0    20130101        32.500
1    20130102         0.000
2    20130103         0.000
3    20130104         5.000
4    20130105         8.750
..        ...           ...
360  20131227         1.250
361  20131228         8.125
362  20131229        16.875
363  20131230        12.500
364  20131231        26.250

[365 rows x 2 columns]

In [634]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_6_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101        35.000
1     20130102         1.250
2     20130103         0.000
3     20130104         5.000
4     20130105        12.500
...        ...           ...
2185  20131227         1.250
2186  20131228         8.125
2187  20131229        16.875
2188  20131230        12.500
2189  20131231        26.250

[2190 rows x 2 columns]

In [635]:
gb2013_pre_pro_7

       format: day    hour  forecast  value  location:95_93 Start : 20130101
0                1   200.0       4.0                                     60.0
1                1   200.0       7.0                                     20.0
2                1   200.0      10.0                                     20.0
3                1   200.0      13.0                                     20.0
4                1   200.0      16.0                                     30.0
...            ...     ...       ...                                      ...
48186           31  2300.0      40.0                                     10.0
48187           31  2300.0      43.0                                     10.0
48188           31  2300.0      46.0                                     10.0
48189           31  2300.0      49.0                                     20.0
48190           31  2300.0      52.0                                     20.0

[48191 rows x 4 columns]

In [636]:
for i in range(len(gb2013_pre_pro_7[" format: day"])):
    if len(gb2013_pre_pro_7[" format: day"][i]) == 1:
        gb2013_pre_pro_7[" format: day"][i] = "0" + gb2013_pre_pro_7[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4282427814.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7[" format: day"][i] = "0" + gb2013_pre_pro_7[" format: day"][i]

In [637]:
gb2013_pre_pro_7.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_7.loc[:4091][" format: day"]
gb2013_pre_pro_7.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_7.loc[4093:7788][" format: day"]
gb2013_pre_pro_7.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_7.loc[7790:11881][" format: day"]
gb2013_pre_pro_7.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_7.loc[11883:15842][" format: day"]
gb2013_pre_pro_7.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_7.loc[15844:19935][" format: day"]
gb2013_pre_pro_7.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_7.loc[19937:23896][" format: day"]
gb2013_pre_pro_7.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_7.loc[23898:27989][" format: day"]
gb2013_pre_pro_7.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_7.loc[27991:32082][" format: day"]
gb2013_pre_pro_7.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_7.loc[32084:36043][" format: day"]
gb2013_pre_pro_7.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_7.loc[36045:40136][" format: day"]
gb2013_pre_pro_7.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_7.loc[40138:44097][" format: day"]
gb2013_pre_pro_7.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_7.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_7.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_7.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_7.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_7.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_7.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_7.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_7.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_7.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_7.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_7.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_7.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1561505236.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_7.loc[44099:][" format: day"]

In [638]:
gb2013_pre_pro_7 = gb2013_pre_pro_7.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [639]:
gb2013_pre_pro_7_fore4 = gb2013_pre_pro_7[gb2013_pre_pro_7['forecast']== 4.0]
gb2013_pre_pro_7_fore4.head()

    format: day    hour  forecast  value  location:95_93 Start : 20130101
0      20130101   200.0       4.0                                     60.0
16     20130101   500.0       4.0                                     20.0
31     20130101   800.0       4.0                                     20.0
49     20130101  1100.0       4.0                                     20.0
66     20130101  1400.0       4.0                                     60.0

In [640]:
gb2013_pre_pro_7_fore4['value  location:95_93 Start : 20130101 '] = gb2013_pre_pro_7_fore4['value  location:95_93 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/836533393.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_7_fore4['value  location:95_93 Start : 20130101 '] = gb2013_pre_pro_7_fore4['value  location:95_93 Start : 20130101 '].astype('float')

In [641]:
gb2013_pre_pro_7_final = pd.DataFrame(gb2013_pre_pro_7_fore4['value  location:95_93 Start : 20130101 '].groupby(gb2013_pre_pro_7_fore4[' format: day']).mean())
gb2013_pre_pro_7_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_7_final

     format: day  value  location:95_93 Start : 20130101
0       20130101                                    30.00
1       20130102                                     1.25
2       20130103                                     0.00
3       20130104                                     5.00
4       20130105                                     7.50
..           ...                                      ...
360     20131227                                     0.00
361     20131228                                     0.00
362     20131229                                    10.00
363     20131230                                    11.25
364     20131231                                     2.50

[365 rows x 2 columns]

In [642]:
gb2013_pre_pro_7_final.rename(columns={' format: day':'date', 'value  location:95_93 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_7_final

         date  pre_pro_mean
0    20130101         30.00
1    20130102          1.25
2    20130103          0.00
3    20130104          5.00
4    20130105          7.50
..        ...           ...
360  20131227          0.00
361  20131228          0.00
362  20131229         10.00
363  20131230         11.25
364  20131231          2.50

[365 rows x 2 columns]

In [643]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_7_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101         35.00
1     20130102          1.25
2     20130103          0.00
3     20130104          5.00
4     20130105         12.50
...        ...           ...
2550  20131227          0.00
2551  20131228          0.00
2552  20131229         10.00
2553  20131230         11.25
2554  20131231          2.50

[2555 rows x 2 columns]

In [644]:
gb2013_pre_pro_8

       format: day  hour forecast value  location:144_123 Start : 20130101
0                1  0200       +4                                30.000000
1                1  0200       +7                                60.000000
2                1  0200      +10                                30.000000
3                1  0200      +13                                20.000000
4                1  0200      +16                                20.000000
...            ...   ...      ...                                       ...
96378           31  2300      +40                                10.000000
96379           31  2300      +43                                10.000000
96380           31  2300      +46                                20.000000
96381           31  2300      +49                                20.000000
96382           31  2300      +52                                20.000000

[96383 rows x 4 columns]

In [645]:
for i in range(len(gb2013_pre_pro_8[" format: day"])):
    if len(gb2013_pre_pro_8[" format: day"][i]) == 1:
        gb2013_pre_pro_8[" format: day"][i] = "0" + gb2013_pre_pro_8[" format: day"][i]

In [646]:
gb2013_pre_pro_8 = gb2013_pre_pro_8.loc[:52283]

In [647]:
gb2013_pre_pro_8.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_8.loc[:4091][" format: day"]
gb2013_pre_pro_8.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_8.loc[4093:7788][" format: day"]
gb2013_pre_pro_8.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_8.loc[7790:11881][" format: day"]
gb2013_pre_pro_8.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_8.loc[11883:15842][" format: day"]
gb2013_pre_pro_8.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_8.loc[15844:19935][" format: day"]
gb2013_pre_pro_8.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_8.loc[19937:23896][" format: day"]
gb2013_pre_pro_8.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_8.loc[23898:27989][" format: day"]
gb2013_pre_pro_8.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_8.loc[27991:32082][" format: day"]
gb2013_pre_pro_8.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_8.loc[32084:36043][" format: day"]
gb2013_pre_pro_8.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_8.loc[36045:40136][" format: day"]
gb2013_pre_pro_8.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_8.loc[40138:44097][" format: day"]
gb2013_pre_pro_8.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_8.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_8.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_8.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_8.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_8.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_8.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_8.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_8.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_8.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_8.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_8.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_8.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3854643979.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_8.loc[44099:52283][" format: day"]

In [648]:
gb2013_pre_pro_8 = gb2013_pre_pro_8.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [649]:
gb2013_pre_pro_8_fore4 = gb2013_pre_pro_8[gb2013_pre_pro_8['forecast']== '+4']
gb2013_pre_pro_8_fore4.head()

    format: day  hour forecast value  location:144_123 Start : 20130101
0      20130101  0200       +4                                30.000000
16     20130101  0500       +4                                60.000000
31     20130101  0800       +4                                20.000000
49     20130101  1100       +4                                20.000000
66     20130101  1400       +4                                20.000000

In [650]:
gb2013_pre_pro_8_fore4['value  location:144_123 Start : 20130101 '] = gb2013_pre_pro_8_fore4['value  location:144_123 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/709312159.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_8_fore4['value  location:144_123 Start : 20130101 '] = gb2013_pre_pro_8_fore4['value  location:144_123 Start : 20130101 '].astype('float')

In [651]:
gb2013_pre_pro_8_final = pd.DataFrame(gb2013_pre_pro_8_fore4['value  location:144_123 Start : 20130101 '].groupby(gb2013_pre_pro_8_fore4[' format: day']).mean())

In [652]:
gb2013_pre_pro_8_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_8_final

     format: day  value  location:144_123 Start : 20130101
0       20130101                                     31.250
1       20130102                                     31.250
2       20130103                                     30.000
3       20130104                                     17.500
4       20130105                                     17.500
..           ...                                        ...
360     20131227                                     35.000
361     20131228                                     23.750
362     20131229                                     19.375
363     20131230                                     19.375
364     20131231                                     17.500

[365 rows x 2 columns]

In [653]:
gb2013_pre_pro_8_final.rename(columns={' format: day':'date', 'value  location:144_123 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_8_final

         date  pre_pro_mean
0    20130101        31.250
1    20130102        31.250
2    20130103        30.000
3    20130104        17.500
4    20130105        17.500
..        ...           ...
360  20131227        35.000
361  20131228        23.750
362  20131229        19.375
363  20131230        19.375
364  20131231        17.500

[365 rows x 2 columns]

In [654]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_8_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101        35.000
1     20130102         1.250
2     20130103         0.000
3     20130104         5.000
4     20130105        12.500
...        ...           ...
2915  20131227        35.000
2916  20131228        23.750
2917  20131229        19.375
2918  20131230        19.375
2919  20131231        17.500

[2920 rows x 2 columns]

In [655]:
gb2013_pre_pro_9

       format: day  hour forecast value  location:102_115 Start : 20130101
0                1  0200       +4                                60.000000
1                1  0200       +7                                20.000000
2                1  0200      +10                                20.000000
3                1  0200      +13                                30.000000
4                1  0200      +16                                30.000000
...            ...   ...      ...                                       ...
96378           31  2300      +40                                10.000000
96379           31  2300      +43                                10.000000
96380           31  2300      +46                                10.000000
96381           31  2300      +49                                20.000000
96382           31  2300      +52                                20.000000

[96383 rows x 4 columns]

In [656]:
for i in range(len(gb2013_pre_pro_9[" format: day"])):
    if len(gb2013_pre_pro_9[" format: day"][i]) == 1:
        gb2013_pre_pro_9[" format: day"][i] = "0" + gb2013_pre_pro_9[" format: day"][i]

In [657]:
gb2013_pre_pro_9 = gb2013_pre_pro_9.loc[:52283]

In [658]:
gb2013_pre_pro_9.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_9.loc[:4091][" format: day"]
gb2013_pre_pro_9.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_9.loc[4093:7788][" format: day"]
gb2013_pre_pro_9.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_9.loc[7790:11881][" format: day"]
gb2013_pre_pro_9.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_9.loc[11883:15842][" format: day"]
gb2013_pre_pro_9.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_9.loc[15844:19935][" format: day"]
gb2013_pre_pro_9.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_9.loc[19937:23896][" format: day"]
gb2013_pre_pro_9.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_9.loc[23898:27989][" format: day"]
gb2013_pre_pro_9.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_9.loc[27991:32082][" format: day"]
gb2013_pre_pro_9.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_9.loc[32084:36043][" format: day"]
gb2013_pre_pro_9.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_9.loc[36045:40136][" format: day"]
gb2013_pre_pro_9.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_9.loc[40138:44097][" format: day"]
gb2013_pre_pro_9.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_9.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_9.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_9.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_9.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_9.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_9.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_9.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_9.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_9.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_9.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_9.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_9.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2142741269.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_9.loc[44099:52283][" format: day"]

In [659]:
gb2013_pre_pro_9 = gb2013_pre_pro_9.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [660]:
gb2013_pre_pro_9_fore4 = gb2013_pre_pro_9[gb2013_pre_pro_9['forecast']== '+4']
gb2013_pre_pro_9_fore4.head()

    format: day  hour forecast value  location:102_115 Start : 20130101
0      20130101  0200       +4                                60.000000
16     20130101  0500       +4                                10.000000
31     20130101  0800       +4                                20.000000
49     20130101  1100       +4                                20.000000
66     20130101  1400       +4                                30.000000

In [661]:
gb2013_pre_pro_9_fore4['value  location:102_115 Start : 20130101 '] = gb2013_pre_pro_9_fore4['value  location:102_115 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4177149080.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_9_fore4['value  location:102_115 Start : 20130101 '] = gb2013_pre_pro_9_fore4['value  location:102_115 Start : 20130101 '].astype('float')

In [662]:
gb2013_pre_pro_9_final = pd.DataFrame(gb2013_pre_pro_9_fore4['value  location:102_115 Start : 20130101 '].groupby(gb2013_pre_pro_9_fore4[' format: day']).mean())

In [663]:
gb2013_pre_pro_9_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_9_final

     format: day  value  location:102_115 Start : 20130101
0       20130101                                     21.250
1       20130102                                      0.000
2       20130103                                      0.000
3       20130104                                      2.500
4       20130105                                      7.500
..           ...                                        ...
360     20131227                                      1.250
361     20131228                                      5.625
362     20131229                                     11.250
363     20131230                                     12.500
364     20131231                                     23.750

[365 rows x 2 columns]

In [664]:
gb2013_pre_pro_9_final.rename(columns={' format: day':'date', 'value  location:102_115 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_9_final

         date  pre_pro_mean
0    20130101        21.250
1    20130102         0.000
2    20130103         0.000
3    20130104         2.500
4    20130105         7.500
..        ...           ...
360  20131227         1.250
361  20131228         5.625
362  20131229        11.250
363  20131230        12.500
364  20131231        23.750

[365 rows x 2 columns]

In [665]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_9_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101        35.000
1     20130102         1.250
2     20130103         0.000
3     20130104         5.000
4     20130105        12.500
...        ...           ...
3280  20131227         1.250
3281  20131228         5.625
3282  20131229        11.250
3283  20131230        12.500
3284  20131231        23.750

[3285 rows x 2 columns]

In [666]:
gb2013_pre_pro_10

       format: day    hour  forecast  value  location:84_96 Start : 20130101
0                1   200.0       4.0                                     60.0
1                1   200.0       7.0                                     20.0
2                1   200.0      10.0                                     20.0
3                1   200.0      13.0                                     20.0
4                1   200.0      16.0                                     60.0
...            ...     ...       ...                                      ...
48186           31  2300.0      40.0                                     10.0
48187           31  2300.0      43.0                                     10.0
48188           31  2300.0      46.0                                     10.0
48189           31  2300.0      49.0                                     20.0
48190           31  2300.0      52.0                                     20.0

[48191 rows x 4 columns]

In [667]:
for i in range(len(gb2013_pre_pro_10[" format: day"])):
    if len(gb2013_pre_pro_10[" format: day"][i]) == 1:
        gb2013_pre_pro_10[" format: day"][i] = "0" + gb2013_pre_pro_10[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/151012905.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10[" format: day"][i] = "0" + gb2013_pre_pro_10[" format: day"][i]

In [668]:
gb2013_pre_pro_10.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_10.loc[:4091][" format: day"]
gb2013_pre_pro_10.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_10.loc[4093:7788][" format: day"]
gb2013_pre_pro_10.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_10.loc[7790:11881][" format: day"]
gb2013_pre_pro_10.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_10.loc[11883:15842][" format: day"]
gb2013_pre_pro_10.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_10.loc[15844:19935][" format: day"]
gb2013_pre_pro_10.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_10.loc[19937:23896][" format: day"]
gb2013_pre_pro_10.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_10.loc[23898:27989][" format: day"]
gb2013_pre_pro_10.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_10.loc[27991:32082][" format: day"]
gb2013_pre_pro_10.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_10.loc[32084:36043][" format: day"]
gb2013_pre_pro_10.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_10.loc[36045:40136][" format: day"]
gb2013_pre_pro_10.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_10.loc[40138:44097][" format: day"]
gb2013_pre_pro_10.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_10.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_10.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_10.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_10.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_10.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_10.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_10.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_10.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_10.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_10.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_10.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_10.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1563535431.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_10.loc[44099:][" format: day"]

In [669]:
gb2013_pre_pro_10 = gb2013_pre_pro_10.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [670]:
gb2013_pre_pro_10_fore4 = gb2013_pre_pro_10[gb2013_pre_pro_10['forecast']== 4.0]
gb2013_pre_pro_10_fore4.head()

    format: day    hour  forecast  value  location:84_96 Start : 20130101
0      20130101   200.0       4.0                                     60.0
16     20130101   500.0       4.0                                     20.0
31     20130101   800.0       4.0                                     20.0
49     20130101  1100.0       4.0                                     60.0
66     20130101  1400.0       4.0                                     60.0

In [671]:
gb2013_pre_pro_10_fore4['value  location:84_96 Start : 20130101 '] = gb2013_pre_pro_10_fore4['value  location:84_96 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2816747525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_10_fore4['value  location:84_96 Start : 20130101 '] = gb2013_pre_pro_10_fore4['value  location:84_96 Start : 20130101 '].astype('float')

In [672]:
gb2013_pre_pro_10_final = pd.DataFrame(gb2013_pre_pro_10_fore4['value  location:84_96 Start : 20130101 '].groupby(gb2013_pre_pro_10_fore4[' format: day']).mean())
gb2013_pre_pro_10_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_10_final

     format: day  value  location:84_96 Start : 20130101
0       20130101                                    33.75
1       20130102                                     0.00
2       20130103                                     0.00
3       20130104                                     5.00
4       20130105                                     7.50
..           ...                                      ...
360     20131227                                     0.00
361     20131228                                     2.50
362     20131229                                    16.25
363     20131230                                    12.50
364     20131231                                     3.75

[365 rows x 2 columns]

In [673]:
gb2013_pre_pro_10_final.rename(columns={' format: day':'date', 'value  location:84_96 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_10_final

         date  pre_pro_mean
0    20130101         33.75
1    20130102          0.00
2    20130103          0.00
3    20130104          5.00
4    20130105          7.50
..        ...           ...
360  20131227          0.00
361  20131228          2.50
362  20131229         16.25
363  20131230         12.50
364  20131231          3.75

[365 rows x 2 columns]

In [674]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_10_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101         35.00
1     20130102          1.25
2     20130103          0.00
3     20130104          5.00
4     20130105         12.50
...        ...           ...
3645  20131227          0.00
3646  20131228          2.50
3647  20131229         16.25
3648  20131230         12.50
3649  20131231          3.75

[3650 rows x 2 columns]

In [675]:
gb2013_pre_pro_11

       format: day    hour  forecast  value  location:96_103 Start : 20130101
0                1   200.0       4.0                                      60.0
1                1   200.0       7.0                                      20.0
2                1   200.0      10.0                                      20.0
3                1   200.0      13.0                                      30.0
4                1   200.0      16.0                                      73.0
...            ...     ...       ...                                       ...
48186           31  2300.0      40.0                                      10.0
48187           31  2300.0      43.0                                      10.0
48188           31  2300.0      46.0                                      10.0
48189           31  2300.0      49.0                                      20.0
48190           31  2300.0      52.0                                      20.0

[48191 rows x 4 columns]

In [676]:
for i in range(len(gb2013_pre_pro_11[" format: day"])):
    if len(gb2013_pre_pro_11[" format: day"][i]) == 1:
        gb2013_pre_pro_11[" format: day"][i] = "0" + gb2013_pre_pro_11[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1035516796.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11[" format: day"][i] = "0" + gb2013_pre_pro_11[" format: day"][i]

In [677]:
gb2013_pre_pro_11.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_11.loc[:4091][" format: day"]
gb2013_pre_pro_11.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_11.loc[4093:7788][" format: day"]
gb2013_pre_pro_11.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_11.loc[7790:11881][" format: day"]
gb2013_pre_pro_11.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_11.loc[11883:15842][" format: day"]
gb2013_pre_pro_11.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_11.loc[15844:19935][" format: day"]
gb2013_pre_pro_11.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_11.loc[19937:23896][" format: day"]
gb2013_pre_pro_11.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_11.loc[23898:27989][" format: day"]
gb2013_pre_pro_11.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_11.loc[27991:32082][" format: day"]
gb2013_pre_pro_11.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_11.loc[32084:36043][" format: day"]
gb2013_pre_pro_11.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_11.loc[36045:40136][" format: day"]
gb2013_pre_pro_11.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_11.loc[40138:44097][" format: day"]
gb2013_pre_pro_11.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_11.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_11.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_11.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_11.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_11.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_11.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_11.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_11.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_11.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_11.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_11.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_11.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3195372849.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_11.loc[44099:][" format: day"]

In [678]:
gb2013_pre_pro_11 = gb2013_pre_pro_11.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [679]:
gb2013_pre_pro_11_fore4 = gb2013_pre_pro_11[gb2013_pre_pro_11['forecast']== 4.0]
gb2013_pre_pro_11_fore4.head()

    format: day    hour  forecast  value  location:96_103 Start : 20130101
0      20130101   200.0       4.0                                      60.0
16     20130101   500.0       4.0                                      21.0
31     20130101   800.0       4.0                                      20.0
49     20130101  1100.0       4.0                                      63.0
66     20130101  1400.0       4.0                                      62.0

In [680]:
gb2013_pre_pro_11_fore4['value  location:96_103 Start : 20130101 '] = gb2013_pre_pro_11_fore4['value  location:96_103 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/618050183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_11_fore4['value  location:96_103 Start : 20130101 '] = gb2013_pre_pro_11_fore4['value  location:96_103 Start : 20130101 '].astype('float')

In [681]:
gb2013_pre_pro_11_final = pd.DataFrame(gb2013_pre_pro_11_fore4['value  location:96_103 Start : 20130101 '].groupby(gb2013_pre_pro_11_fore4[' format: day']).mean())
gb2013_pre_pro_11_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_11_final

     format: day  value  location:96_103 Start : 20130101
0       20130101                                     33.25
1       20130102                                      0.00
2       20130103                                      0.00
3       20130104                                      5.00
4       20130105                                      8.75
..           ...                                       ...
360     20131227                                      0.00
361     20131228                                      0.00
362     20131229                                     12.50
363     20131230                                     11.25
364     20131231                                      5.00

[365 rows x 2 columns]

In [682]:
gb2013_pre_pro_11_final.rename(columns={' format: day':'date', 'value  location:96_103 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_11_final

         date  pre_pro_mean
0    20130101         33.25
1    20130102          0.00
2    20130103          0.00
3    20130104          5.00
4    20130105          8.75
..        ...           ...
360  20131227          0.00
361  20131228          0.00
362  20131229         12.50
363  20131230         11.25
364  20131231          5.00

[365 rows x 2 columns]

In [683]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_11_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101         35.00
1     20130102          1.25
2     20130103          0.00
3     20130104          5.00
4     20130105         12.50
...        ...           ...
4010  20131227          0.00
4011  20131228          0.00
4012  20131229         12.50
4013  20131230         11.25
4014  20131231          5.00

[4015 rows x 2 columns]

In [684]:
gb2013_pre_pro_12

       format: day  hour forecast value  location:127_127 Start : 20130101
0                1  0200       +4                                70.000000
1                1  0200       +7                                60.000000
2                1  0200      +10                                30.000000
3                1  0200      +13                                20.000000
4                1  0200      +16                                60.000000
...            ...   ...      ...                                       ...
96378           31  2300      +40                                10.000000
96379           31  2300      +43                                20.000000
96380           31  2300      +46                                20.000000
96381           31  2300      +49                                20.000000
96382           31  2300      +52                                20.000000

[96383 rows x 4 columns]

In [685]:
for i in range(len(gb2013_pre_pro_12[" format: day"])):
    if len(gb2013_pre_pro_12[" format: day"][i]) == 1:
        gb2013_pre_pro_12[" format: day"][i] = "0" + gb2013_pre_pro_12[" format: day"][i]

In [686]:
gb2013_pre_pro_12 = gb2013_pre_pro_12.loc[:52283]

In [687]:
gb2013_pre_pro_12.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_12.loc[:4091][" format: day"]
gb2013_pre_pro_12.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_12.loc[4093:7788][" format: day"]
gb2013_pre_pro_12.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_12.loc[7790:11881][" format: day"]
gb2013_pre_pro_12.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_12.loc[11883:15842][" format: day"]
gb2013_pre_pro_12.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_12.loc[15844:19935][" format: day"]
gb2013_pre_pro_12.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_12.loc[19937:23896][" format: day"]
gb2013_pre_pro_12.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_12.loc[23898:27989][" format: day"]
gb2013_pre_pro_12.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_12.loc[27991:32082][" format: day"]
gb2013_pre_pro_12.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_12.loc[32084:36043][" format: day"]
gb2013_pre_pro_12.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_12.loc[36045:40136][" format: day"]
gb2013_pre_pro_12.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_12.loc[40138:44097][" format: day"]
gb2013_pre_pro_12.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_12.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_12.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_12.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_12.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_12.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_12.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_12.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_12.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_12.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_12.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_12.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_12.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/4046948531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_12.loc[44099:52283][" format: day"]

In [688]:
gb2013_pre_pro_12 = gb2013_pre_pro_12.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [689]:
gb2013_pre_pro_12_fore4 = gb2013_pre_pro_12[gb2013_pre_pro_12['forecast']== '+4']
gb2013_pre_pro_12_fore4.head()

    format: day  hour forecast value  location:127_127 Start : 20130101
0      20130101  0200       +4                                70.000000
16     20130101  0500       +4                                60.000000
31     20130101  0800       +4                                20.000000
49     20130101  1100       +4                                20.000000
66     20130101  1400       +4                                60.000000

In [690]:
gb2013_pre_pro_12_fore4['value  location:127_127 Start : 20130101 '] = gb2013_pre_pro_12_fore4['value  location:127_127 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1819374296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_12_fore4['value  location:127_127 Start : 20130101 '] = gb2013_pre_pro_12_fore4['value  location:127_127 Start : 20130101 '].astype('float')

In [691]:
gb2013_pre_pro_12_final = pd.DataFrame(gb2013_pre_pro_12_fore4['value  location:127_127 Start : 20130101 '].groupby(gb2013_pre_pro_12_fore4[' format: day']).mean())

In [692]:
gb2013_pre_pro_12_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_12_final

     format: day  value  location:127_127 Start : 20130101
0       20130101                                     46.250
1       20130102                                     55.000
2       20130103                                     56.250
3       20130104                                     22.500
4       20130105                                     17.500
..           ...                                        ...
360     20131227                                     70.625
361     20131228                                     29.375
362     20131229                                     19.375
363     20131230                                     18.750
364     20131231                                     21.875

[365 rows x 2 columns]

In [693]:
gb2013_pre_pro_12_final.rename(columns={' format: day':'date', 'value  location:127_127 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_12_final

         date  pre_pro_mean
0    20130101        46.250
1    20130102        55.000
2    20130103        56.250
3    20130104        22.500
4    20130105        17.500
..        ...           ...
360  20131227        70.625
361  20131228        29.375
362  20131229        19.375
363  20131230        18.750
364  20131231        21.875

[365 rows x 2 columns]

In [694]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_12_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101        35.000
1     20130102         1.250
2     20130103         0.000
3     20130104         5.000
4     20130105        12.500
...        ...           ...
4375  20131227        70.625
4376  20131228        29.375
4377  20131229        19.375
4378  20131230        18.750
4379  20131231        21.875

[4380 rows x 2 columns]

In [695]:
gb2013_pre_pro_13

       format: day    hour  forecast  value  location:87_112 Start : 20130101
0                1   200.0       4.0                                      60.0
1                1   200.0       7.0                                      20.0
2                1   200.0      10.0                                      20.0
3                1   200.0      13.0                                      30.0
4                1   200.0      16.0                                      70.0
...            ...     ...       ...                                       ...
48186           31  2300.0      40.0                                      10.0
48187           31  2300.0      43.0                                      10.0
48188           31  2300.0      46.0                                      10.0
48189           31  2300.0      49.0                                      20.0
48190           31  2300.0      52.0                                      20.0

[48191 rows x 4 columns]

In [696]:
for i in range(len(gb2013_pre_pro_13[" format: day"])):
    if len(gb2013_pre_pro_13[" format: day"][i]) == 1:
        gb2013_pre_pro_13[" format: day"][i] = "0" + gb2013_pre_pro_13[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2062430920.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13[" format: day"][i] = "0" + gb2013_pre_pro_13[" format: day"][i]

In [697]:
gb2013_pre_pro_13.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_13.loc[:4091][" format: day"]
gb2013_pre_pro_13.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_13.loc[4093:7788][" format: day"]
gb2013_pre_pro_13.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_13.loc[7790:11881][" format: day"]
gb2013_pre_pro_13.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_13.loc[11883:15842][" format: day"]
gb2013_pre_pro_13.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_13.loc[15844:19935][" format: day"]
gb2013_pre_pro_13.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_13.loc[19937:23896][" format: day"]
gb2013_pre_pro_13.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_13.loc[23898:27989][" format: day"]
gb2013_pre_pro_13.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_13.loc[27991:32082][" format: day"]
gb2013_pre_pro_13.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_13.loc[32084:36043][" format: day"]
gb2013_pre_pro_13.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_13.loc[36045:40136][" format: day"]
gb2013_pre_pro_13.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_13.loc[40138:44097][" format: day"]
gb2013_pre_pro_13.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_13.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_13.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_13.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_13.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_13.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_13.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_13.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_13.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_13.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_13.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_13.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_13.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1909034563.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_13.loc[44099:][" format: day"]

In [698]:
gb2013_pre_pro_13 = gb2013_pre_pro_13.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [699]:
gb2013_pre_pro_13_fore4 = gb2013_pre_pro_13[gb2013_pre_pro_13['forecast']== 4.0]
gb2013_pre_pro_13_fore4.head()

    format: day    hour  forecast  value  location:87_112 Start : 20130101
0      20130101   200.0       4.0                                      60.0
16     20130101   500.0       4.0                                      20.0
31     20130101   800.0       4.0                                      30.0
49     20130101  1100.0       4.0                                      70.0
66     20130101  1400.0       4.0                                      60.0

In [700]:
gb2013_pre_pro_13_fore4['value  location:87_112 Start : 20130101 '] = gb2013_pre_pro_13_fore4['value  location:87_112 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1635504332.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_13_fore4['value  location:87_112 Start : 20130101 '] = gb2013_pre_pro_13_fore4['value  location:87_112 Start : 20130101 '].astype('float')

In [701]:
gb2013_pre_pro_13_final = pd.DataFrame(gb2013_pre_pro_13_fore4['value  location:87_112 Start : 20130101 '].groupby(gb2013_pre_pro_13_fore4[' format: day']).mean())
gb2013_pre_pro_13_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_13_final

     format: day  value  location:87_112 Start : 20130101
0       20130101                                     35.00
1       20130102                                      1.25
2       20130103                                      0.00
3       20130104                                      5.00
4       20130105                                     12.50
..           ...                                       ...
360     20131227                                      0.00
361     20131228                                      1.25
362     20131229                                     17.50
363     20131230                                     11.25
364     20131231                                      7.50

[365 rows x 2 columns]

In [702]:
gb2013_pre_pro_13_final.rename(columns={' format: day':'date', 'value  location:87_112 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_13_final

         date  pre_pro_mean
0    20130101         35.00
1    20130102          1.25
2    20130103          0.00
3    20130104          5.00
4    20130105         12.50
..        ...           ...
360  20131227          0.00
361  20131228          1.25
362  20131229         17.50
363  20131230         11.25
364  20131231          7.50

[365 rows x 2 columns]

In [703]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_13_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101         35.00
1     20130102          1.25
2     20130103          0.00
3     20130104          5.00
4     20130105         12.50
...        ...           ...
4740  20131227          0.00
4741  20131228          1.25
4742  20131229         17.50
4743  20131230         11.25
4744  20131231          7.50

[4745 rows x 2 columns]

In [706]:
gb2013_pre_pro_14

       format: day  hour forecast value  location:81_102 Start : 20130101
0                1  0200       +4                               60.000000
1                1  0200       +7                               20.000000
2                1  0200      +10                               20.000000
3                1  0200      +13                               30.000000
4                1  0200      +16                               70.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               10.000000
96380           31  2300      +46                               10.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [707]:
for i in range(len(gb2013_pre_pro_14[" format: day"])):
    if len(gb2013_pre_pro_14[" format: day"][i]) == 1:
        gb2013_pre_pro_14[" format: day"][i] = "0" + gb2013_pre_pro_14[" format: day"][i]

In [708]:
gb2013_pre_pro_14 = gb2013_pre_pro_14.loc[:52283]

In [709]:
gb2013_pre_pro_14.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_14.loc[:4091][" format: day"]
gb2013_pre_pro_14.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_14.loc[4093:7788][" format: day"]
gb2013_pre_pro_14.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_14.loc[7790:11881][" format: day"]
gb2013_pre_pro_14.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_14.loc[11883:15842][" format: day"]
gb2013_pre_pro_14.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_14.loc[15844:19935][" format: day"]
gb2013_pre_pro_14.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_14.loc[19937:23896][" format: day"]
gb2013_pre_pro_14.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_14.loc[23898:27989][" format: day"]
gb2013_pre_pro_14.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_14.loc[27991:32082][" format: day"]
gb2013_pre_pro_14.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_14.loc[32084:36043][" format: day"]
gb2013_pre_pro_14.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_14.loc[36045:40136][" format: day"]
gb2013_pre_pro_14.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_14.loc[40138:44097][" format: day"]
gb2013_pre_pro_14.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_14.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_14.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_14.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_14.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_14.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_14.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_14.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_14.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_14.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_14.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_14.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_14.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3416941142.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14.loc[44099:52283][" format: day"] = "201312" + gb2013_pre_pro_14.loc[44099:52283][" format: day"]

In [710]:
gb2013_pre_pro_14 = gb2013_pre_pro_14.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [711]:
gb2013_pre_pro_14_fore4 = gb2013_pre_pro_14[gb2013_pre_pro_14['forecast']== '+4']
gb2013_pre_pro_14_fore4.head()

    format: day  hour forecast value  location:81_102 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               20.000000
31     20130101  0800       +4                               30.000000
49     20130101  1100       +4                               70.000000
66     20130101  1400       +4                               60.000000

In [712]:
gb2013_pre_pro_14_fore4['value  location:81_102 Start : 20130101 '] = gb2013_pre_pro_14_fore4['value  location:81_102 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2174683642.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_14_fore4['value  location:81_102 Start : 20130101 '] = gb2013_pre_pro_14_fore4['value  location:81_102 Start : 20130101 '].astype('float')

In [713]:
gb2013_pre_pro_14_final = pd.DataFrame(gb2013_pre_pro_14_fore4['value  location:81_102 Start : 20130101 '].groupby(gb2013_pre_pro_14_fore4[' format: day']).mean())

In [714]:
gb2013_pre_pro_14_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_14_final

     format: day  value  location:81_102 Start : 20130101
0       20130101                                    35.000
1       20130102                                     1.250
2       20130103                                     0.000
3       20130104                                     5.000
4       20130105                                    12.500
..           ...                                       ...
360     20131227                                     1.875
361     20131228                                     9.375
362     20131229                                    17.500
363     20131230                                    12.500
364     20131231                                    30.625

[365 rows x 2 columns]

In [715]:
gb2013_pre_pro_14_final.rename(columns={' format: day':'date', 'value  location:81_102 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_14_final

         date  pre_pro_mean
0    20130101        35.000
1    20130102         1.250
2    20130103         0.000
3    20130104         5.000
4    20130105        12.500
..        ...           ...
360  20131227         1.875
361  20131228         9.375
362  20131229        17.500
363  20131230        12.500
364  20131231        30.625

[365 rows x 2 columns]

In [716]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_14_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101        35.000
1     20130102         1.250
2     20130103         0.000
3     20130104         5.000
4     20130105        12.500
...        ...           ...
5105  20131227         1.875
5106  20131228         9.375
5107  20131229        17.500
5108  20131230        12.500
5109  20131231        30.625

[5110 rows x 2 columns]

In [717]:
gb2013_pre_pro_15

       format: day    hour  forecast  value  location:100_91 Start : 20130101
0                1   200.0       4.0                                      59.0
1                1   200.0       7.0                                      10.0
2                1   200.0      10.0                                      10.0
3                1   200.0      13.0                                      20.0
4                1   200.0      16.0                                      20.0
...            ...     ...       ...                                       ...
48186           31  2300.0      40.0                                      10.0
48187           31  2300.0      43.0                                      10.0
48188           31  2300.0      46.0                                      10.0
48189           31  2300.0      49.0                                      20.0
48190           31  2300.0      52.0                                      20.0

[48191 rows x 4 columns]

In [718]:
for i in range(len(gb2013_pre_pro_15[" format: day"])):
    if len(gb2013_pre_pro_15[" format: day"][i]) == 1:
        gb2013_pre_pro_15[" format: day"][i] = "0" + gb2013_pre_pro_15[" format: day"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1712038056.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15[" format: day"][i] = "0" + gb2013_pre_pro_15[" format: day"][i]

In [719]:
gb2013_pre_pro_15.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_15.loc[:4091][" format: day"]
gb2013_pre_pro_15.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_15.loc[4093:7788][" format: day"]
gb2013_pre_pro_15.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_15.loc[7790:11881][" format: day"]
gb2013_pre_pro_15.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_15.loc[11883:15842][" format: day"]
gb2013_pre_pro_15.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_15.loc[15844:19935][" format: day"]
gb2013_pre_pro_15.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_15.loc[19937:23896][" format: day"]
gb2013_pre_pro_15.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_15.loc[23898:27989][" format: day"]
gb2013_pre_pro_15.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_15.loc[27991:32082][" format: day"]
gb2013_pre_pro_15.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_15.loc[32084:36043][" format: day"]
gb2013_pre_pro_15.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_15.loc[36045:40136][" format: day"]
gb2013_pre_pro_15.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_15.loc[40138:44097][" format: day"]
gb2013_pre_pro_15.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_15.loc[44099:][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[:4091][" format: day"] = "201301" + gb2013_pre_pro_15.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[4093:7788][" format: day"] = "201302" + gb2013_pre_pro_15.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[7790:11881][" format: day"] = "201303" + gb2013_pre_pro_15.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[11883:15842][" format: day"] = "201304" + gb2013_pre_pro_15.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[15844:19935][" format: day"] = "201305" + gb2013_pre_pro_15.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[19937:23896][" format: day"] = "201306" + gb2013_pre_pro_15.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[23898:27989][" format: day"] = "201307" + gb2013_pre_pro_15.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[27991:32082][" format: day"] = "201308" + gb2013_pre_pro_15.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[32084:36043][" format: day"] = "201309" + gb2013_pre_pro_15.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[36045:40136][" format: day"] = "201310" + gb2013_pre_pro_15.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[40138:44097][" format: day"] = "201311" + gb2013_pre_pro_15.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1810513574.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15.loc[44099:][" format: day"] = "201312" + gb2013_pre_pro_15.loc[44099:][" format: day"]

In [720]:
gb2013_pre_pro_15 = gb2013_pre_pro_15.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)

In [721]:
gb2013_pre_pro_15_fore4 = gb2013_pre_pro_15[gb2013_pre_pro_15['forecast']== 4.0]
gb2013_pre_pro_15_fore4.head()

    format: day    hour  forecast  value  location:100_91 Start : 20130101
0      20130101   200.0       4.0                                      59.0
16     20130101   500.0       4.0                                      10.0
31     20130101   800.0       4.0                                      10.0
49     20130101  1100.0       4.0                                      20.0
66     20130101  1400.0       4.0                                      20.0

In [722]:
gb2013_pre_pro_15_fore4['value  location:100_91 Start : 20130101 '] = gb2013_pre_pro_15_fore4['value  location:100_91 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2505338539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gb2013_pre_pro_15_fore4['value  location:100_91 Start : 20130101 '] = gb2013_pre_pro_15_fore4['value  location:100_91 Start : 20130101 '].astype('float')

In [723]:
gb2013_pre_pro_15_final = pd.DataFrame(gb2013_pre_pro_15_fore4['value  location:100_91 Start : 20130101 '].groupby(gb2013_pre_pro_15_fore4[' format: day']).mean())
gb2013_pre_pro_15_final.reset_index(level=[' format: day'], inplace = True)
gb2013_pre_pro_15_final

     format: day  value  location:100_91 Start : 20130101
0       20130101                                    18.625
1       20130102                                     1.250
2       20130103                                     0.000
3       20130104                                     2.500
4       20130105                                     7.750
..           ...                                       ...
360     20131227                                     0.125
361     20131228                                     0.000
362     20131229                                     1.250
363     20131230                                     6.750
364     20131231                                     2.750

[365 rows x 2 columns]

In [724]:
gb2013_pre_pro_15_final.rename(columns={' format: day':'date', 'value  location:100_91 Start : 20130101 ':'pre_pro_mean'}, inplace=True)
gb2013_pre_pro_15_final

         date  pre_pro_mean
0    20130101        18.625
1    20130102         1.250
2    20130103         0.000
3    20130104         2.500
4    20130105         7.750
..        ...           ...
360  20131227         0.125
361  20131228         0.000
362  20131229         1.250
363  20131230         6.750
364  20131231         2.750

[365 rows x 2 columns]

In [725]:
gb2013_pre_pro_final = pd.concat([gb2013_pre_pro_final, gb2013_pre_pro_15_final], axis = 0, ignore_index=True)
gb2013_pre_pro_final

          date  pre_pro_mean
0     20130101        35.000
1     20130102         1.250
2     20130103         0.000
3     20130104         5.000
4     20130105        12.500
...        ...           ...
5470  20131227         0.125
5471  20131228         0.000
5472  20131229         1.250
5473  20131230         6.750
5474  20131231         2.750

[5475 rows x 2 columns]

In [726]:
gb_pre_pro = pd.DataFrame(gb2013_pre_pro_final['pre_pro_mean'].groupby(gb2013_pre_pro_final['date']).mean())

In [727]:
gb_pre_pro.reset_index(level=['date'], inplace = True)
gb_pre_pro['area'] = '경북'
gb_pre_pro = gb_pre_pro[['date', 'area', 'pre_pro_mean']]
gb_pre_pro

         date area  pre_pro_mean
0    20130101   경북     30.133333
1    20130102   경북      6.333333
2    20130103   경북      5.750000
3    20130104   경북      6.333333
4    20130105   경북     10.266667
..        ...  ...           ...
360  20131227   경북      7.504167
361  20131228   경북      5.750000
362  20131229   경북     13.666667
363  20131230   경북     11.908333
364  20131231   경북     12.516667

[365 rows x 3 columns]

In [728]:
pre_pro = pd.concat([pre_pro, gb_pre_pro], axis = 0, ignore_index=True)
pre_pro

          date area  pre_pro_mean
0     20130101   강원     27.330357
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      5.151786
4     20130105   강원      3.866071
...        ...  ...           ...
1455  20131227   경북      7.504167
1456  20131228   경북      5.750000
1457  20131229   경북     13.666667
1458  20131230   경북     11.908333
1459  20131231   경북     12.516667

[1460 rows x 3 columns]

In [729]:
gj2013_pre_pro = glob.glob(os.path.join("2013/광주", "*_강수확률_201301_201312.csv"))

In [731]:
gj2013_pre_pro = pd.read_csv('2013/광주/운암1동_강수확률_201301_201312.csv')

In [732]:
gj2013_pre_pro

       format: day  hour forecast value  location:59_75 Start : 20130101
0                1  0200       +4                              20.000000
1                1  0200       +7                              20.000000
2                1  0200      +10                              20.000000
3                1  0200      +13                              20.000000
4                1  0200      +16                              60.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                              10.000000
96379           31  2300      +43                              10.000000
96380           31  2300      +46                              10.000000
96381           31  2300      +49                              10.000000
96382           31  2300      +52                              10.000000

[96383 rows x 4 columns]

In [734]:
gj2013_pre_pro[" format: day"].value_counts()

 1                    3168
 16                   3168
 28                   3168
 27                   3168
 26                   3168
 25                   3168
 24                   3168
 23                   3168
 2                    3168
 21                   3168
 20                   3168
 19                   3168
 18                   3168
 17                   3168
 22                   3168
 15                   3168
 14                   3168
 13                   3168
 12                   3168
 11                   3168
 10                   3168
 9                    3168
 8                    3168
 7                    3168
 6                    3168
 5                    3168
 4                    3168
 3                    3168
 30                   2904
 29                   2904
 31                   1848
 Start : 20130201        2
 Start : 20130301        2
 Start : 20130401        2
 Start : 20130501        2
 Start : 20130601        2
 Start : 20130701        2
 Start : 20130801        2
 Start : 20130901        2
 Start : 20131001        2
 Start : 20131101        2
 Start : 20131201        2
  format: day            1
Name:  format: day, dtype: int64

In [735]:
gj2013_pre_pro[" format: day"] = gj2013_pre_pro[" format: day"].str.replace(" ", "")

In [739]:
for i in range(len(gj2013_pre_pro[" format: day"])):
    if len(gj2013_pre_pro[" format: day"][i]) == 1:
        gj2013_pre_pro[" format: day"][i] = "0" + gj2013_pre_pro[" format: day"][i]

In [741]:
print(gj2013_pre_pro.loc[(gj2013_pre_pro[' format: day'] == 'Start:20130201') |
                           (gj2013_pre_pro[' format: day'] == 'Start:20130301') |
                           (gj2013_pre_pro[' format: day'] == 'Start:20130401') |
                           (gj2013_pre_pro[' format: day'] == 'Start:20130501') |
                           (gj2013_pre_pro[' format: day'] == 'Start:20130601') |
                           (gj2013_pre_pro[' format: day'] == 'Start:20130701') |
                           (gj2013_pre_pro[' format: day'] == 'Start:20130801') |
                           (gj2013_pre_pro[' format: day'] == 'Start:20130901') |
                           (gj2013_pre_pro[' format: day'] == 'Start:20131001') |
                           (gj2013_pre_pro[' format: day'] == 'Start:20131101') |
                           (gj2013_pre_pro[' format: day'] == 'Start:20131201')])

          format: day hour forecast value  location:59_75 Start : 20130101
4092   Start:20130201  NaN      NaN                                     NaN
7789   Start:20130301  NaN      NaN                                     NaN
11882  Start:20130401  NaN      NaN                                     NaN
15843  Start:20130501  NaN      NaN                                     NaN
19936  Start:20130601  NaN      NaN                                     NaN
23897  Start:20130701  NaN      NaN                                     NaN
27990  Start:20130801  NaN      NaN                                     NaN
32083  Start:20130901  NaN      NaN                                     NaN
36044  Start:20131001  NaN      NaN                                     NaN
40137  Start:20131101  NaN      NaN                                     NaN
44098  Start:20131201  NaN      NaN                                     NaN
52284  Start:20130201  NaN      NaN                                     NaN
55981  Start:20130301  NaN      NaN                                     NaN
60074  Start:20130401  NaN      NaN                                     NaN
64035  Start:20130501  NaN      NaN                                     NaN
68128  Start:20130601  NaN      NaN                                     NaN
72089  Start:20130701  NaN      NaN                                     NaN
76182  Start:20130801  NaN      NaN                                     NaN
80275  Start:20130901  NaN      NaN                                     NaN
84236  Start:20131001  NaN      NaN                                     NaN
88329  Start:20131101  NaN      NaN                                     NaN
92290  Start:20131201  NaN      NaN                                     NaN

In [742]:
gj2013_pre_pro = gj2013_pre_pro.loc[:52283]

In [743]:
gj2013_pre_pro.loc[:4091][" format: day"] = "201301" + gj2013_pre_pro.loc[:4091][" format: day"]
gj2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + gj2013_pre_pro.loc[4093:7788][" format: day"]
gj2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + gj2013_pre_pro.loc[7790:11881][" format: day"]
gj2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + gj2013_pre_pro.loc[11883:15842][" format: day"]
gj2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + gj2013_pre_pro.loc[15844:19935][" format: day"]
gj2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + gj2013_pre_pro.loc[19937:23896][" format: day"]
gj2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + gj2013_pre_pro.loc[23898:27989][" format: day"]
gj2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + gj2013_pre_pro.loc[27991:32082][" format: day"]
gj2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + gj2013_pre_pro.loc[32084:36043][" format: day"]
gj2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + gj2013_pre_pro.loc[36045:40136][" format: day"]
gj2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + gj2013_pre_pro.loc[40138:44097][" format: day"]
gj2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + gj2013_pre_pro.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[:4091][" format: day"] = "201301" + gj2013_pre_pro.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + gj2013_pre_pro.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + gj2013_pre_pro.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + gj2013_pre_pro.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + gj2013_pre_pro.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + gj2013_pre_pro.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + gj2013_pre_pro.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + gj2013_pre_pro.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + gj2013_pre_pro.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + gj2013_pre_pro.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + gj2013_pre_pro.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/795063837.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + gj2013_pre_pro.loc[44099:52283][" format: day"]

In [744]:
gj2013_pre_pro = gj2013_pre_pro.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [745]:
gj2013_pre_pro_fore4 = gj2013_pre_pro[gj2013_pre_pro['forecast']== '+4']
gj2013_pre_pro_fore4.head()

    format: day  hour forecast value  location:59_75 Start : 20130101
0      20130101  0200       +4                              20.000000
16     20130101  0500       +4                              20.000000
31     20130101  0800       +4                              20.000000
49     20130101  1100       +4                              30.000000
66     20130101  1400       +4                              60.000000

In [746]:
gj2013_pre_pro_fore4['value  location:59_75 Start : 20130101 '] = gj2013_pre_pro_fore4['value  location:59_75 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/2563794759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gj2013_pre_pro_fore4['value  location:59_75 Start : 20130101 '] = gj2013_pre_pro_fore4['value  location:59_75 Start : 20130101 '].astype('float')

In [747]:
gj2013_pre_pro_final = pd.DataFrame(gj2013_pre_pro_fore4['value  location:59_75 Start : 20130101 '].groupby(gj2013_pre_pro_fore4[' format: day']).mean())

In [748]:
gj2013_pre_pro_final.reset_index(level=[' format: day'], inplace = True)
gj2013_pre_pro_final

     format: day  value  location:59_75 Start : 20130101
0       20130101                                   26.250
1       20130102                                   35.000
2       20130103                                    3.750
3       20130104                                    5.000
4       20130105                                   13.750
..           ...                                      ...
360     20131227                                   25.000
361     20131228                                   33.750
362     20131229                                   16.875
363     20131230                                   11.250
364     20131231                                   30.000

[365 rows x 2 columns]

In [749]:
gj2013_pre_pro_final.rename(columns={' format: day':'date', 'value  location:59_75 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [757]:
gj2013_pre_pro_final

         date  pre_pro_mean
0    20130101        26.250
1    20130102        35.000
2    20130103         3.750
3    20130104         5.000
4    20130105        13.750
..        ...           ...
360  20131227        25.000
361  20131228        33.750
362  20131229        16.875
363  20131230        11.250
364  20131231        30.000

[365 rows x 2 columns]

In [760]:
gj_pre_pro = pd.DataFrame(gj2013_pre_pro_final['pre_pro_mean'].groupby(gj2013_pre_pro_final['date']).mean())

In [761]:
gj_pre_pro.reset_index(level=['date'], inplace = True)
gj_pre_pro['area'] = '광주'
gj_pre_pro = gj_pre_pro[['date', 'area', 'pre_pro_mean']]
gj_pre_pro

         date area  pre_pro_mean
0    20130101   광주        26.250
1    20130102   광주        35.000
2    20130103   광주         3.750
3    20130104   광주         5.000
4    20130105   광주        13.750
..        ...  ...           ...
360  20131227   광주        25.000
361  20131228   광주        33.750
362  20131229   광주        16.875
363  20131230   광주        11.250
364  20131231   광주        30.000

[365 rows x 3 columns]

In [762]:
pre_pro = pd.concat([pre_pro, gj_pre_pro], axis = 0, ignore_index=True)
pre_pro

          date area  pre_pro_mean
0     20130101   강원     27.330357
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      5.151786
4     20130105   강원      3.866071
...        ...  ...           ...
1820  20131227   광주     25.000000
1821  20131228   광주     33.750000
1822  20131229   광주     16.875000
1823  20131230   광주     11.250000
1824  20131231   광주     30.000000

[1825 rows x 3 columns]

In [763]:
dg2013_pre_pro = glob.glob(os.path.join("2013/대구", "*_강수확률_201301_201312.csv"))

In [765]:
dg2013_pre_pro = pd.read_csv('2013/대구/효목1동_강수확률_201301_201312.csv')

In [766]:
dg2013_pre_pro

       format: day  hour forecast value  location:90_91 Start : 20130101
0                1  0200       +4                              60.000000
1                1  0200       +7                              20.000000
2                1  0200      +10                              20.000000
3                1  0200      +13                              20.000000
4                1  0200      +16                              30.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                              10.000000
96379           31  2300      +43                              10.000000
96380           31  2300      +46                              10.000000
96381           31  2300      +49                              20.000000
96382           31  2300      +52                              20.000000

[96383 rows x 4 columns]

In [767]:
dg2013_pre_pro[" format: day"].value_counts()

 1                    3168
 15                   3168
 26                   3168
 25                   3168
 24                   3168
 2                    3168
 22                   3168
 21                   3168
 20                   3168
 19                   3168
 18                   3168
 17                   3168
 16                   3168
 14                   3168
 28                   3168
 13                   3168
 12                   3168
 11                   3168
 10                   3168
 9                    3168
 8                    3168
 7                    3168
 6                    3168
 5                    3168
 4                    3168
 3                    3168
 27                   3168
 23                   3167
 29                   2904
 30                   2904
 31                   1848
 Start : 20130201        2
 Start : 20130301        2
 Start : 20130401        2
 Start : 20130501        2
 Start : 20130601        2
 Start : 20130701        2
 Start : 20130801        2
 Start : 20130901        2
 Start : 20131001        2
 Start : 20131101        2
 Start : 20131201        2
23                       1
  format: day            1
Name:  format: day, dtype: int64

In [768]:
dg2013_pre_pro[" format: day"] = dg2013_pre_pro[" format: day"].str.replace(" ", "")

In [769]:
for i in range(len(dg2013_pre_pro[" format: day"])):
    if len(dg2013_pre_pro[" format: day"][i]) == 1:
        dg2013_pre_pro[" format: day"][i] = "0" + dg2013_pre_pro[" format: day"][i]

In [770]:
print(dg2013_pre_pro.loc[(dg2013_pre_pro[' format: day'] == 'Start:20130201') |
                           (dg2013_pre_pro[' format: day'] == 'Start:20130301') |
                           (dg2013_pre_pro[' format: day'] == 'Start:20130401') |
                           (dg2013_pre_pro[' format: day'] == 'Start:20130501') |
                           (dg2013_pre_pro[' format: day'] == 'Start:20130601') |
                           (dg2013_pre_pro[' format: day'] == 'Start:20130701') |
                           (dg2013_pre_pro[' format: day'] == 'Start:20130801') |
                           (dg2013_pre_pro[' format: day'] == 'Start:20130901') |
                           (dg2013_pre_pro[' format: day'] == 'Start:20131001') |
                           (dg2013_pre_pro[' format: day'] == 'Start:20131101') |
                           (dg2013_pre_pro[' format: day'] == 'Start:20131201')])

          format: day hour forecast value  location:90_91 Start : 20130101
4092   Start:20130201  NaN      NaN                                     NaN
7789   Start:20130301  NaN      NaN                                     NaN
11882  Start:20130401  NaN      NaN                                     NaN
15843  Start:20130501  NaN      NaN                                     NaN
19936  Start:20130601  NaN      NaN                                     NaN
23897  Start:20130701  NaN      NaN                                     NaN
27990  Start:20130801  NaN      NaN                                     NaN
32083  Start:20130901  NaN      NaN                                     NaN
36044  Start:20131001  NaN      NaN                                     NaN
40137  Start:20131101  NaN      NaN                                     NaN
44098  Start:20131201  NaN      NaN                                     NaN
52284  Start:20130201  NaN      NaN                                     NaN
55981  Start:20130301  NaN      NaN                                     NaN
60074  Start:20130401  NaN      NaN                                     NaN
64035  Start:20130501  NaN      NaN                                     NaN
68128  Start:20130601  NaN      NaN                                     NaN
72089  Start:20130701  NaN      NaN                                     NaN
76182  Start:20130801  NaN      NaN                                     NaN
80275  Start:20130901  NaN      NaN                                     NaN
84236  Start:20131001  NaN      NaN                                     NaN
88329  Start:20131101  NaN      NaN                                     NaN
92290  Start:20131201  NaN      NaN                                     NaN

In [771]:
dg2013_pre_pro = dg2013_pre_pro.loc[:52283]

In [772]:
dg2013_pre_pro.loc[:4091][" format: day"] = "201301" + dg2013_pre_pro.loc[:4091][" format: day"]
dg2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + dg2013_pre_pro.loc[4093:7788][" format: day"]
dg2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + dg2013_pre_pro.loc[7790:11881][" format: day"]
dg2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + dg2013_pre_pro.loc[11883:15842][" format: day"]
dg2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + dg2013_pre_pro.loc[15844:19935][" format: day"]
dg2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + dg2013_pre_pro.loc[19937:23896][" format: day"]
dg2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + dg2013_pre_pro.loc[23898:27989][" format: day"]
dg2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + dg2013_pre_pro.loc[27991:32082][" format: day"]
dg2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + dg2013_pre_pro.loc[32084:36043][" format: day"]
dg2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + dg2013_pre_pro.loc[36045:40136][" format: day"]
dg2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + dg2013_pre_pro.loc[40138:44097][" format: day"]
dg2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + dg2013_pre_pro.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[:4091][" format: day"] = "201301" + dg2013_pre_pro.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + dg2013_pre_pro.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + dg2013_pre_pro.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + dg2013_pre_pro.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + dg2013_pre_pro.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + dg2013_pre_pro.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + dg2013_pre_pro.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + dg2013_pre_pro.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + dg2013_pre_pro.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + dg2013_pre_pro.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + dg2013_pre_pro.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1239541617.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + dg2013_pre_pro.loc[44099:52283][" format: day"]

In [773]:
dg2013_pre_pro = dg2013_pre_pro.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [774]:
dg2013_pre_pro_fore4 = dg2013_pre_pro[dg2013_pre_pro['forecast']== '+4']
dg2013_pre_pro_fore4.head()

    format: day  hour forecast value  location:90_91 Start : 20130101
0      20130101  0200       +4                              60.000000
16     20130101  0500       +4                              20.000000
31     20130101  0800       +4                              20.000000
49     20130101  1100       +4                              30.000000
66     20130101  1400       +4                              60.000000

In [775]:
dg2013_pre_pro_fore4['value  location:90_91 Start : 20130101 '] = dg2013_pre_pro_fore4['value  location:90_91 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1763880207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg2013_pre_pro_fore4['value  location:90_91 Start : 20130101 '] = dg2013_pre_pro_fore4['value  location:90_91 Start : 20130101 '].astype('float')

In [776]:
dg2013_pre_pro_final = pd.DataFrame(dg2013_pre_pro_fore4['value  location:90_91 Start : 20130101 '].groupby(dg2013_pre_pro_fore4[' format: day']).mean())

In [777]:
dg2013_pre_pro_final.reset_index(level=[' format: day'], inplace = True)
dg2013_pre_pro_final

     format: day  value  location:90_91 Start : 20130101
0       20130101                                  30.0000
1       20130102                                   0.0000
2       20130103                                   0.0000
3       20130104                                   5.0000
4       20130105                                   7.5000
..           ...                                      ...
360     20131227                                   1.2500
361     20131228                                   4.1875
362     20131229                                  13.7500
363     20131230                                  13.1250
364     20131231                                  28.1250

[365 rows x 2 columns]

In [778]:
dg2013_pre_pro_final.rename(columns={' format: day':'date', 'value  location:90_91 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [779]:
dg2013_pre_pro_final

         date  pre_pro_mean
0    20130101       30.0000
1    20130102        0.0000
2    20130103        0.0000
3    20130104        5.0000
4    20130105        7.5000
..        ...           ...
360  20131227        1.2500
361  20131228        4.1875
362  20131229       13.7500
363  20131230       13.1250
364  20131231       28.1250

[365 rows x 2 columns]

In [780]:
dg_pre_pro = pd.DataFrame(dg2013_pre_pro_final['pre_pro_mean'].groupby(dg2013_pre_pro_final['date']).mean())

In [781]:
dg_pre_pro.reset_index(level=['date'], inplace = True)
dg_pre_pro['area'] = '대구'
dg_pre_pro = dg_pre_pro[['date', 'area', 'pre_pro_mean']]
dg_pre_pro

         date area  pre_pro_mean
0    20130101   대구       30.0000
1    20130102   대구        0.0000
2    20130103   대구        0.0000
3    20130104   대구        5.0000
4    20130105   대구        7.5000
..        ...  ...           ...
360  20131227   대구        1.2500
361  20131228   대구        4.1875
362  20131229   대구       13.7500
363  20131230   대구       13.1250
364  20131231   대구       28.1250

[365 rows x 3 columns]

In [782]:
pre_pro = pd.concat([pre_pro, dg_pre_pro], axis = 0, ignore_index=True)
pre_pro

          date area  pre_pro_mean
0     20130101   강원     27.330357
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      5.151786
4     20130105   강원      3.866071
...        ...  ...           ...
2185  20131227   대구      1.250000
2186  20131228   대구      4.187500
2187  20131229   대구     13.750000
2188  20131230   대구     13.125000
2189  20131231   대구     28.125000

[2190 rows x 3 columns]

In [783]:
dj2013_pre_pro = glob.glob(os.path.join("2013/대전", "*_강수확률_201301_201312.csv"))

In [785]:
dj2013_pre_pro = pd.read_csv('2013/대전/온천2동_강수확률_201301_201312.csv')

In [786]:
dj2013_pre_pro

       format: day  hour forecast value  location:66_101 Start : 20130101
0                1  0200       +4                               60.000000
1                1  0200       +7                               30.000000
2                1  0200      +10                               73.000000
3                1  0200      +13                               73.000000
4                1  0200      +16                               59.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               20.000000
96379           31  2300      +43                               20.000000
96380           31  2300      +46                               20.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               10.000000

[96383 rows x 4 columns]

In [788]:
dj2013_pre_pro[" format: day"] = dj2013_pre_pro[" format: day"].str.replace(" ", "")

In [789]:
for i in range(len(dj2013_pre_pro[" format: day"])):
    if len(dj2013_pre_pro[" format: day"][i]) == 1:
        dj2013_pre_pro[" format: day"][i] = "0" + dj2013_pre_pro[" format: day"][i]

In [790]:
dj2013_pre_pro = dj2013_pre_pro.loc[:52283]

In [791]:
dj2013_pre_pro.loc[:4091][" format: day"] = "201301" + dj2013_pre_pro.loc[:4091][" format: day"]
dj2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + dj2013_pre_pro.loc[4093:7788][" format: day"]
dj2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + dj2013_pre_pro.loc[7790:11881][" format: day"]
dj2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + dj2013_pre_pro.loc[11883:15842][" format: day"]
dj2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + dj2013_pre_pro.loc[15844:19935][" format: day"]
dj2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + dj2013_pre_pro.loc[19937:23896][" format: day"]
dj2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + dj2013_pre_pro.loc[23898:27989][" format: day"]
dj2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + dj2013_pre_pro.loc[27991:32082][" format: day"]
dj2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + dj2013_pre_pro.loc[32084:36043][" format: day"]
dj2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + dj2013_pre_pro.loc[36045:40136][" format: day"]
dj2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + dj2013_pre_pro.loc[40138:44097][" format: day"]
dj2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + dj2013_pre_pro.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[:4091][" format: day"] = "201301" + dj2013_pre_pro.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + dj2013_pre_pro.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + dj2013_pre_pro.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + dj2013_pre_pro.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + dj2013_pre_pro.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + dj2013_pre_pro.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + dj2013_pre_pro.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + dj2013_pre_pro.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + dj2013_pre_pro.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + dj2013_pre_pro.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + dj2013_pre_pro.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/270599756.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + dj2013_pre_pro.loc[44099:52283][" format: day"]

In [792]:
dj2013_pre_pro = dj2013_pre_pro.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [793]:
dj2013_pre_pro_fore4 = dj2013_pre_pro[dj2013_pre_pro['forecast']== '+4']
dj2013_pre_pro_fore4.head()

    format: day  hour forecast value  location:66_101 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               20.000000
49     20130101  1100       +4                               71.000000
66     20130101  1400       +4                               59.000000

In [794]:
dj2013_pre_pro_fore4['value  location:66_101 Start : 20130101 '] = dj2013_pre_pro_fore4['value  location:66_101 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/543711397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dj2013_pre_pro_fore4['value  location:66_101 Start : 20130101 '] = dj2013_pre_pro_fore4['value  location:66_101 Start : 20130101 '].astype('float')

In [795]:
dj2013_pre_pro_final = pd.DataFrame(dj2013_pre_pro_fore4['value  location:66_101 Start : 20130101 '].groupby(dj2013_pre_pro_fore4[' format: day']).mean())

In [796]:
dj2013_pre_pro_final.reset_index(level=[' format: day'], inplace = True)
dj2013_pre_pro_final

     format: day  value  location:66_101 Start : 20130101
0       20130101                                   37.5000
1       20130102                                    7.7500
2       20130103                                    0.0000
3       20130104                                    5.0000
4       20130105                                   11.2500
..           ...                                       ...
360     20131227                                    5.6250
361     20131228                                   22.0000
362     20131229                                   16.8750
363     20131230                                   13.6875
364     20131231                                   30.0000

[365 rows x 2 columns]

In [798]:
dj2013_pre_pro_final.rename(columns={' format: day':'date', 'value  location:66_101 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [799]:
dj2013_pre_pro_final

         date  pre_pro_mean
0    20130101       37.5000
1    20130102        7.7500
2    20130103        0.0000
3    20130104        5.0000
4    20130105       11.2500
..        ...           ...
360  20131227        5.6250
361  20131228       22.0000
362  20131229       16.8750
363  20131230       13.6875
364  20131231       30.0000

[365 rows x 2 columns]

In [800]:
dj_pre_pro = pd.DataFrame(dj2013_pre_pro_final['pre_pro_mean'].groupby(dj2013_pre_pro_final['date']).mean())

In [801]:
dj_pre_pro.reset_index(level=['date'], inplace = True)
dj_pre_pro['area'] = '대전'
dj_pre_pro = dj_pre_pro[['date', 'area', 'pre_pro_mean']]
dj_pre_pro

         date area  pre_pro_mean
0    20130101   대전       37.5000
1    20130102   대전        7.7500
2    20130103   대전        0.0000
3    20130104   대전        5.0000
4    20130105   대전       11.2500
..        ...  ...           ...
360  20131227   대전        5.6250
361  20131228   대전       22.0000
362  20131229   대전       16.8750
363  20131230   대전       13.6875
364  20131231   대전       30.0000

[365 rows x 3 columns]

In [802]:
pre_pro = pd.concat([pre_pro, dj_pre_pro], axis = 0, ignore_index=True)
pre_pro

          date area  pre_pro_mean
0     20130101   강원     27.330357
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      5.151786
4     20130105   강원      3.866071
...        ...  ...           ...
2550  20131227   대전      5.625000
2551  20131228   대전     22.000000
2552  20131229   대전     16.875000
2553  20131230   대전     13.687500
2554  20131231   대전     30.000000

[2555 rows x 3 columns]

In [803]:
bs2013_pre_pro = glob.glob(os.path.join("2013/부산", "*_강수확률_201301_201312.csv"))

In [807]:
bs2013_pre_pro = pd.read_csv('2013/부산/대청동_강수확률_201301_201312.csv')

In [808]:
bs2013_pre_pro

       format: day  hour forecast value  location:97_74 Start : 20130101
0                1  0200       +4                              20.000000
1                1  0200       +7                              10.000000
2                1  0200      +10                              10.000000
3                1  0200      +13                              10.000000
4                1  0200      +16                              10.000000
...            ...   ...      ...                                     ...
96378           31  2300      +40                              10.000000
96379           31  2300      +43                              10.000000
96380           31  2300      +46                              10.000000
96381           31  2300      +49                              10.000000
96382           31  2300      +52                              20.000000

[96383 rows x 4 columns]

In [810]:
bs2013_pre_pro[" format: day"] = bs2013_pre_pro[" format: day"].str.replace(" ", "")

In [811]:
for i in range(len(bs2013_pre_pro[" format: day"])):
    if len(bs2013_pre_pro[" format: day"][i]) == 1:
        bs2013_pre_pro[" format: day"][i] = "0" + bs2013_pre_pro[" format: day"][i]

In [812]:
bs2013_pre_pro = bs2013_pre_pro.loc[:52283]

In [813]:
bs2013_pre_pro.loc[:4091][" format: day"] = "201301" + bs2013_pre_pro.loc[:4091][" format: day"]
bs2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + bs2013_pre_pro.loc[4093:7788][" format: day"]
bs2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + bs2013_pre_pro.loc[7790:11881][" format: day"]
bs2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + bs2013_pre_pro.loc[11883:15842][" format: day"]
bs2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + bs2013_pre_pro.loc[15844:19935][" format: day"]
bs2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + bs2013_pre_pro.loc[19937:23896][" format: day"]
bs2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + bs2013_pre_pro.loc[23898:27989][" format: day"]
bs2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + bs2013_pre_pro.loc[27991:32082][" format: day"]
bs2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + bs2013_pre_pro.loc[32084:36043][" format: day"]
bs2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + bs2013_pre_pro.loc[36045:40136][" format: day"]
bs2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + bs2013_pre_pro.loc[40138:44097][" format: day"]
bs2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + bs2013_pre_pro.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[:4091][" format: day"] = "201301" + bs2013_pre_pro.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + bs2013_pre_pro.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + bs2013_pre_pro.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + bs2013_pre_pro.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + bs2013_pre_pro.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + bs2013_pre_pro.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + bs2013_pre_pro.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + bs2013_pre_pro.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + bs2013_pre_pro.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + bs2013_pre_pro.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + bs2013_pre_pro.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/516353238.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + bs2013_pre_pro.loc[44099:52283][" format: day"]

In [814]:
bs2013_pre_pro = bs2013_pre_pro.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [815]:
bs2013_pre_pro_fore4 = bs2013_pre_pro[bs2013_pre_pro['forecast']== '+4']
bs2013_pre_pro_fore4.head()

    format: day  hour forecast value  location:97_74 Start : 20130101
0      20130101  0200       +4                              20.000000
16     20130101  0500       +4                              10.000000
31     20130101  0800       +4                              10.000000
49     20130101  1100       +4                              10.000000
66     20130101  1400       +4                              10.000000

In [816]:
bs2013_pre_pro_fore4['value  location:97_74 Start : 20130101 '] = bs2013_pre_pro_fore4['value  location:97_74 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3451352858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs2013_pre_pro_fore4['value  location:97_74 Start : 20130101 '] = bs2013_pre_pro_fore4['value  location:97_74 Start : 20130101 '].astype('float')

In [817]:
bs2013_pre_pro_final = pd.DataFrame(bs2013_pre_pro_fore4['value  location:97_74 Start : 20130101 '].groupby(bs2013_pre_pro_fore4[' format: day']).mean())

In [818]:
bs2013_pre_pro_final.reset_index(level=[' format: day'], inplace = True)
bs2013_pre_pro_final

     format: day  value  location:97_74 Start : 20130101
0       20130101                                   10.000
1       20130102                                    0.000
2       20130103                                    0.000
3       20130104                                    2.500
4       20130105                                    5.000
..           ...                                      ...
360     20131227                                    0.625
361     20131228                                    1.250
362     20131229                                    6.875
363     20131230                                    8.750
364     20131231                                   23.750

[365 rows x 2 columns]

In [819]:
bs2013_pre_pro_final.rename(columns={' format: day':'date', 'value  location:97_74 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [820]:
bs2013_pre_pro_final

         date  pre_pro_mean
0    20130101        10.000
1    20130102         0.000
2    20130103         0.000
3    20130104         2.500
4    20130105         5.000
..        ...           ...
360  20131227         0.625
361  20131228         1.250
362  20131229         6.875
363  20131230         8.750
364  20131231        23.750

[365 rows x 2 columns]

In [821]:
bs_pre_pro = pd.DataFrame(bs2013_pre_pro_final['pre_pro_mean'].groupby(bs2013_pre_pro_final['date']).mean())

In [822]:
bs_pre_pro.reset_index(level=['date'], inplace = True)
bs_pre_pro['area'] = '부산'
bs_pre_pro = bs_pre_pro[['date', 'area', 'pre_pro_mean']]
bs_pre_pro

         date area  pre_pro_mean
0    20130101   부산        10.000
1    20130102   부산         0.000
2    20130103   부산         0.000
3    20130104   부산         2.500
4    20130105   부산         5.000
..        ...  ...           ...
360  20131227   부산         0.625
361  20131228   부산         1.250
362  20131229   부산         6.875
363  20131230   부산         8.750
364  20131231   부산        23.750

[365 rows x 3 columns]

In [823]:
pre_pro = pd.concat([pre_pro, bs_pre_pro], axis = 0, ignore_index=True)
pre_pro

          date area  pre_pro_mean
0     20130101   강원     27.330357
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      5.151786
4     20130105   강원      3.866071
...        ...  ...           ...
2915  20131227   부산      0.625000
2916  20131228   부산      1.250000
2917  20131229   부산      6.875000
2918  20131230   부산      8.750000
2919  20131231   부산     23.750000

[2920 rows x 3 columns]

In [825]:
su2013_pre_pro = glob.glob(os.path.join("2013/서울", "*_강수확률_201301_201312.csv"))

In [827]:
su2013_pre_pro = pd.read_csv('2013/서울/교남동_강수확률_201301_201312.csv')

In [828]:
su2013_pre_pro

       format: day  hour forecast value  location:60_127 Start : 20130101
0                1  0200       +4                               60.000000
1                1  0200       +7                               30.000000
2                1  0200      +10                               70.000000
3                1  0200      +13                               70.000000
4                1  0200      +16                               20.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               20.000000
96380           31  2300      +46                               20.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [829]:
su2013_pre_pro[" format: day"].value_counts()

 1                    3168
 16                   3168
 28                   3168
 27                   3168
 26                   3168
 25                   3168
 24                   3168
 2                    3168
 22                   3168
 21                   3168
 20                   3168
 19                   3168
 18                   3168
 17                   3168
 23                   3168
 14                   3168
 13                   3168
 12                   3168
 11                   3168
 10                   3168
 9                    3168
 8                    3168
 7                    3168
 6                    3168
 5                    3168
 4                    3168
 3                    3168
 15                   3167
 30                   2904
 29                   2904
 31                   1848
 Start : 20130201        2
 Start : 20130301        2
 Start : 20130401        2
 Start : 20130501        2
 Start : 20130601        2
 Start : 20130701        2
 Start : 20130801        2
 Start : 20130901        2
 Start : 20131001        2
 Start : 20131101        2
 Start : 20131201        2
  format: day            1
15                       1
Name:  format: day, dtype: int64

In [830]:
su2013_pre_pro[" format: day"] = su2013_pre_pro[" format: day"].str.replace(" ", "")

In [831]:
for i in range(len(su2013_pre_pro[" format: day"])):
    if len(su2013_pre_pro[" format: day"][i]) == 1:
        su2013_pre_pro[" format: day"][i] = "0" + su2013_pre_pro[" format: day"][i]

In [832]:
su2013_pre_pro = su2013_pre_pro.loc[:52283]

In [833]:
su2013_pre_pro.loc[:4091][" format: day"] = "201301" + su2013_pre_pro.loc[:4091][" format: day"]
su2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + su2013_pre_pro.loc[4093:7788][" format: day"]
su2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + su2013_pre_pro.loc[7790:11881][" format: day"]
su2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + su2013_pre_pro.loc[11883:15842][" format: day"]
su2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + su2013_pre_pro.loc[15844:19935][" format: day"]
su2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + su2013_pre_pro.loc[19937:23896][" format: day"]
su2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + su2013_pre_pro.loc[23898:27989][" format: day"]
su2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + su2013_pre_pro.loc[27991:32082][" format: day"]
su2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + su2013_pre_pro.loc[32084:36043][" format: day"]
su2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + su2013_pre_pro.loc[36045:40136][" format: day"]
su2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + su2013_pre_pro.loc[40138:44097][" format: day"]
su2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + su2013_pre_pro.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[:4091][" format: day"] = "201301" + su2013_pre_pro.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + su2013_pre_pro.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + su2013_pre_pro.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + su2013_pre_pro.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + su2013_pre_pro.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + su2013_pre_pro.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + su2013_pre_pro.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + su2013_pre_pro.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + su2013_pre_pro.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + su2013_pre_pro.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + su2013_pre_pro.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/139869188.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + su2013_pre_pro.loc[44099:52283][" format: day"]

In [834]:
su2013_pre_pro = su2013_pre_pro.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [835]:
su2013_pre_pro_fore4 = su2013_pre_pro[su2013_pre_pro['forecast']== '+4']
su2013_pre_pro_fore4.head()

    format: day  hour forecast value  location:60_127 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               70.000000
49     20130101  1100       +4                               70.000000
66     20130101  1400       +4                               10.000000

In [836]:
su2013_pre_pro_fore4['value  location:60_127 Start : 20130101 '] = su2013_pre_pro_fore4['value  location:60_127 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1341243476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  su2013_pre_pro_fore4['value  location:60_127 Start : 20130101 '] = su2013_pre_pro_fore4['value  location:60_127 Start : 20130101 '].astype('float')

In [837]:
su2013_pre_pro_final = pd.DataFrame(su2013_pre_pro_fore4['value  location:60_127 Start : 20130101 '].groupby(su2013_pre_pro_fore4[' format: day']).mean())

In [838]:
su2013_pre_pro_final.reset_index(level=[' format: day'], inplace = True)
su2013_pre_pro_final

     format: day  value  location:60_127 Start : 20130101
0       20130101                                    31.250
1       20130102                                     0.000
2       20130103                                     0.000
3       20130104                                    13.750
4       20130105                                     5.000
..           ...                                       ...
360     20131227                                     0.625
361     20131228                                    14.375
362     20131229                                    25.000
363     20131230                                    13.750
364     20131231                                    36.250

[365 rows x 2 columns]

In [839]:
su2013_pre_pro_final.rename(columns={' format: day':'date', 'value  location:60_127 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [840]:
su2013_pre_pro_final

         date  pre_pro_mean
0    20130101        31.250
1    20130102         0.000
2    20130103         0.000
3    20130104        13.750
4    20130105         5.000
..        ...           ...
360  20131227         0.625
361  20131228        14.375
362  20131229        25.000
363  20131230        13.750
364  20131231        36.250

[365 rows x 2 columns]

In [841]:
su_pre_pro = pd.DataFrame(su2013_pre_pro_final['pre_pro_mean'].groupby(su2013_pre_pro_final['date']).mean())

In [842]:
su_pre_pro.reset_index(level=['date'], inplace = True)
su_pre_pro['area'] = '서울'
su_pre_pro = su_pre_pro[['date', 'area', 'pre_pro_mean']]
su_pre_pro

         date area  pre_pro_mean
0    20130101   서울        31.250
1    20130102   서울         0.000
2    20130103   서울         0.000
3    20130104   서울        13.750
4    20130105   서울         5.000
..        ...  ...           ...
360  20131227   서울         0.625
361  20131228   서울        14.375
362  20131229   서울        25.000
363  20131230   서울        13.750
364  20131231   서울        36.250

[365 rows x 3 columns]

In [843]:
pre_pro = pd.concat([pre_pro, su_pre_pro], axis = 0, ignore_index=True)
pre_pro

          date area  pre_pro_mean
0     20130101   강원     27.330357
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      5.151786
4     20130105   강원      3.866071
...        ...  ...           ...
3280  20131227   서울      0.625000
3281  20131228   서울     14.375000
3282  20131229   서울     25.000000
3283  20131230   서울     13.750000
3284  20131231   서울     36.250000

[3285 rows x 3 columns]

In [844]:
sj2013_pre_pro = glob.glob(os.path.join("2013/세종", "*_강수확률_201301_201312.csv"))

In [846]:
sj2013_pre_pro = pd.read_csv('2013/세종/새롬동_강수확률_201301_201312.csv')

In [847]:
sj2013_pre_pro

       format: day  hour forecast value  location:65_103 Start : 20130101
0                1  0200       +4                               60.000000
1                1  0200       +7                               30.000000
2                1  0200      +10                               73.000000
3                1  0200      +13                               71.000000
4                1  0200      +16                               59.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               21.000000
96379           31  2300      +43                               20.000000
96380           31  2300      +46                               20.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                                9.000000

[96383 rows x 4 columns]

In [848]:
sj2013_pre_pro[" format: day"] = sj2013_pre_pro[" format: day"].str.replace(" ", "")

In [849]:
for i in range(len(sj2013_pre_pro[" format: day"])):
    if len(sj2013_pre_pro[" format: day"][i]) == 1:
        sj2013_pre_pro[" format: day"][i] = "0" + sj2013_pre_pro[" format: day"][i]

In [851]:
sj2013_pre_pro = sj2013_pre_pro.loc[:52283]

In [850]:
sj2013_pre_pro.loc[:4091][" format: day"] = "201301" + sj2013_pre_pro.loc[:4091][" format: day"]
sj2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + sj2013_pre_pro.loc[4093:7788][" format: day"]
sj2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + sj2013_pre_pro.loc[7790:11881][" format: day"]
sj2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + sj2013_pre_pro.loc[11883:15842][" format: day"]
sj2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + sj2013_pre_pro.loc[15844:19935][" format: day"]
sj2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + sj2013_pre_pro.loc[19937:23896][" format: day"]
sj2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + sj2013_pre_pro.loc[23898:27989][" format: day"]
sj2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + sj2013_pre_pro.loc[27991:32082][" format: day"]
sj2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + sj2013_pre_pro.loc[32084:36043][" format: day"]
sj2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + sj2013_pre_pro.loc[36045:40136][" format: day"]
sj2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + sj2013_pre_pro.loc[40138:44097][" format: day"]
sj2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + sj2013_pre_pro.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[:4091][" format: day"] = "201301" + sj2013_pre_pro.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + sj2013_pre_pro.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + sj2013_pre_pro.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + sj2013_pre_pro.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + sj2013_pre_pro.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + sj2013_pre_pro.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + sj2013_pre_pro.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + sj2013_pre_pro.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + sj2013_pre_pro.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + sj2013_pre_pro.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + sj2013_pre_pro.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3053355468.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + sj2013_pre_pro.loc[44099:52283][" format: day"]

In [852]:
sj2013_pre_pro = sj2013_pre_pro.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [853]:
sj2013_pre_pro_fore4 = sj2013_pre_pro[sj2013_pre_pro['forecast']== '+4']
sj2013_pre_pro_fore4.head()

    format: day  hour forecast value  location:65_103 Start : 20130101
0      20130101  0200       +4                               60.000000
16     20130101  0500       +4                               30.000000
31     20130101  0800       +4                               18.000000
49     20130101  1100       +4                               71.000000
66     20130101  1400       +4                               59.000000

In [854]:
sj2013_pre_pro_fore4['value  location:65_103 Start : 20130101 '] = sj2013_pre_pro_fore4['value  location:65_103 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/1906159665.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2013_pre_pro_fore4['value  location:65_103 Start : 20130101 '] = sj2013_pre_pro_fore4['value  location:65_103 Start : 20130101 '].astype('float')

In [855]:
sj2013_pre_pro_final = pd.DataFrame(sj2013_pre_pro_fore4['value  location:65_103 Start : 20130101 '].groupby(sj2013_pre_pro_fore4[' format: day']).mean())

In [856]:
sj2013_pre_pro_final.reset_index(level=[' format: day'], inplace = True)
sj2013_pre_pro_final

     format: day  value  location:65_103 Start : 20130101
0       20130101                                   37.2500
1       20130102                                    7.7500
2       20130103                                    0.0000
3       20130104                                    5.0000
4       20130105                                   11.2500
..           ...                                       ...
360     20131227                                    5.8125
361     20131228                                   22.3125
362     20131229                                   16.6875
363     20131230                                   13.5000
364     20131231                                   29.9375

[365 rows x 2 columns]

In [857]:
sj2013_pre_pro_final.rename(columns={' format: day':'date', 'value  location:65_103 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [858]:
sj2013_pre_pro_final

         date  pre_pro_mean
0    20130101       37.2500
1    20130102        7.7500
2    20130103        0.0000
3    20130104        5.0000
4    20130105       11.2500
..        ...           ...
360  20131227        5.8125
361  20131228       22.3125
362  20131229       16.6875
363  20131230       13.5000
364  20131231       29.9375

[365 rows x 2 columns]

In [859]:
sj_pre_pro = pd.DataFrame(sj2013_pre_pro_final['pre_pro_mean'].groupby(sj2013_pre_pro_final['date']).mean())

In [860]:
sj_pre_pro.reset_index(level=['date'], inplace = True)
sj_pre_pro['area'] = '세종'
sj_pre_pro = sj_pre_pro[['date', 'area', 'pre_pro_mean']]
sj_pre_pro

         date area  pre_pro_mean
0    20130101   세종       37.2500
1    20130102   세종        7.7500
2    20130103   세종        0.0000
3    20130104   세종        5.0000
4    20130105   세종       11.2500
..        ...  ...           ...
360  20131227   세종        5.8125
361  20131228   세종       22.3125
362  20131229   세종       16.6875
363  20131230   세종       13.5000
364  20131231   세종       29.9375

[365 rows x 3 columns]

In [861]:
pre_pro = pd.concat([pre_pro, sj_pre_pro], axis = 0, ignore_index=True)
pre_pro

          date area  pre_pro_mean
0     20130101   강원     27.330357
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      5.151786
4     20130105   강원      3.866071
...        ...  ...           ...
3645  20131227   세종      5.812500
3646  20131228   세종     22.312500
3647  20131229   세종     16.687500
3648  20131230   세종     13.500000
3649  20131231   세종     29.937500

[3650 rows x 3 columns]

In [862]:
us2013_pre_pro = glob.glob(os.path.join("2013/울산", "*_강수확률_201301_201312.csv"))

In [864]:
us2013_pre_pro = pd.read_csv('2013/울산/병영2동_강수확률_201301_201312.csv')

In [865]:
us2013_pre_pro

       format: day  hour forecast value  location:102_85 Start : 20130101
0                1  0200       +4                               21.000000
1                1  0200       +7                               10.000000
2                1  0200      +10                               10.000000
3                1  0200      +13                               11.000000
4                1  0200      +16                               11.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                               10.000000
96379           31  2300      +43                               10.000000
96380           31  2300      +46                               10.000000
96381           31  2300      +49                               20.000000
96382           31  2300      +52                               20.000000

[96383 rows x 4 columns]

In [866]:
us2013_pre_pro[" format: day"] = us2013_pre_pro[" format: day"].str.replace(" ", "")

In [867]:
for i in range(len(us2013_pre_pro[" format: day"])):
    if len(us2013_pre_pro[" format: day"][i]) == 1:
        us2013_pre_pro[" format: day"][i] = "0" + us2013_pre_pro[" format: day"][i]

In [868]:
us2013_pre_pro = us2013_pre_pro.loc[:52283]

In [869]:
us2013_pre_pro.loc[:4091][" format: day"] = "201301" + us2013_pre_pro.loc[:4091][" format: day"]
us2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + us2013_pre_pro.loc[4093:7788][" format: day"]
us2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + us2013_pre_pro.loc[7790:11881][" format: day"]
us2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + us2013_pre_pro.loc[11883:15842][" format: day"]
us2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + us2013_pre_pro.loc[15844:19935][" format: day"]
us2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + us2013_pre_pro.loc[19937:23896][" format: day"]
us2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + us2013_pre_pro.loc[23898:27989][" format: day"]
us2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + us2013_pre_pro.loc[27991:32082][" format: day"]
us2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + us2013_pre_pro.loc[32084:36043][" format: day"]
us2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + us2013_pre_pro.loc[36045:40136][" format: day"]
us2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + us2013_pre_pro.loc[40138:44097][" format: day"]
us2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + us2013_pre_pro.loc[44099:52283][" format: day"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[:4091][" format: day"] = "201301" + us2013_pre_pro.loc[:4091][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[4093:7788][" format: day"] = "201302" + us2013_pre_pro.loc[4093:7788][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[7790:11881][" format: day"] = "201303" + us2013_pre_pro.loc[7790:11881][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[11883:15842][" format: day"] = "201304" + us2013_pre_pro.loc[11883:15842][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[15844:19935][" format: day"] = "201305" + us2013_pre_pro.loc[15844:19935][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[19937:23896][" format: day"] = "201306" + us2013_pre_pro.loc[19937:23896][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[23898:27989][" format: day"] = "201307" + us2013_pre_pro.loc[23898:27989][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[27991:32082][" format: day"] = "201308" + us2013_pre_pro.loc[27991:32082][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[32084:36043][" format: day"] = "201309" + us2013_pre_pro.loc[32084:36043][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[36045:40136][" format: day"] = "201310" + us2013_pre_pro.loc[36045:40136][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[40138:44097][" format: day"] = "201311" + us2013_pre_pro.loc[40138:44097][" format: day"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/273425860.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro.loc[44099:52283][" format: day"] = "201312" + us2013_pre_pro.loc[44099:52283][" format: day"]

In [870]:
us2013_pre_pro = us2013_pre_pro.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [871]:
us2013_pre_pro_fore4 = us2013_pre_pro[us2013_pre_pro['forecast']== '+4']
us2013_pre_pro_fore4.head()

    format: day  hour forecast value  location:102_85 Start : 20130101
0      20130101  0200       +4                               21.000000
16     20130101  0500       +4                               10.000000
31     20130101  0800       +4                               10.000000
49     20130101  1100       +4                               11.000000
66     20130101  1400       +4                               11.000000

In [872]:
us2013_pre_pro_fore4['value  location:102_85 Start : 20130101 '] = us2013_pre_pro_fore4['value  location:102_85 Start : 20130101 '].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_12769/3680223232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us2013_pre_pro_fore4['value  location:102_85 Start : 20130101 '] = us2013_pre_pro_fore4['value  location:102_85 Start : 20130101 '].astype('float')

In [873]:
us2013_pre_pro_final = pd.DataFrame(us2013_pre_pro_fore4['value  location:102_85 Start : 20130101 '].groupby(us2013_pre_pro_fore4[' format: day']).mean())

In [874]:
us2013_pre_pro_final.reset_index(level=[' format: day'], inplace = True)
us2013_pre_pro_final

     format: day  value  location:102_85 Start : 20130101
0       20130101                                   11.6250
1       20130102                                    2.5000
2       20130103                                    1.2500
3       20130104                                    3.7500
4       20130105                                    5.2500
..           ...                                       ...
360     20131227                                    0.6250
361     20131228                                    1.5000
362     20131229                                    8.1250
363     20131230                                    9.4375
364     20131231                                   23.7500

[365 rows x 2 columns]

In [875]:
us2013_pre_pro_final.rename(columns={' format: day':'date', 'value  location:102_85 Start : 20130101 ':'pre_pro_mean'}, inplace=True)

In [876]:
us2013_pre_pro_final

         date  pre_pro_mean
0    20130101       11.6250
1    20130102        2.5000
2    20130103        1.2500
3    20130104        3.7500
4    20130105        5.2500
..        ...           ...
360  20131227        0.6250
361  20131228        1.5000
362  20131229        8.1250
363  20131230        9.4375
364  20131231       23.7500

[365 rows x 2 columns]

In [880]:
us_pre_pro = pd.DataFrame(us2013_pre_pro_final['pre_pro_mean'].groupby(us2013_pre_pro_final['date']).mean())

In [881]:
us_pre_pro.reset_index(level=['date'], inplace = True)
us_pre_pro['area'] = '울산'
us_pre_pro = us_pre_pro[['date', 'area', 'pre_pro_mean']]
us_pre_pro

         date area  pre_pro_mean
0    20130101   울산       11.6250
1    20130102   울산        2.5000
2    20130103   울산        1.2500
3    20130104   울산        3.7500
4    20130105   울산        5.2500
..        ...  ...           ...
360  20131227   울산        0.6250
361  20131228   울산        1.5000
362  20131229   울산        8.1250
363  20131230   울산        9.4375
364  20131231   울산       23.7500

[365 rows x 3 columns]

In [882]:
pre_pro = pd.concat([pre_pro, us_pre_pro], axis = 0, ignore_index=True)
pre_pro

          date area  pre_pro_mean
0     20130101   강원     27.330357
1     20130102   강원      0.000000
2     20130103   강원      0.000000
3     20130104   강원      5.151786
4     20130105   강원      3.866071
...        ...  ...           ...
4010  20131227   울산      0.625000
4011  20131228   울산      1.500000
4012  20131229   울산      8.125000
4013  20131230   울산      9.437500
4014  20131231   울산     23.750000

[4015 rows x 3 columns]

In [885]:
pre_pro.to_csv('2013_pre_pro_ulsan.csv', index=False)